<div class="dropdown" id="advanced">
    <button class="dropbtn" onmouseout="hideMenu('advancedsub')" onmouseover="drop('advancedsub')">Advanced <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="advancedsub" onmouseover="drop('advancedsub')" onmouseout="hideMenu('advancedsub')">
        <!--<a href="parser.html" target="_blank" onclick="loadTxt('standard');">Log Viewer</a>-->
        <a href="#" onclick="loadExternal('/partials/parser','loadparserdiv')">Log Viewer</a>
        <a href="https://diagtools.arlo.com/Arlo/ArloTechSupport.aspx" target="_blank" onclick="loadTxt();">Diagnostic Tool</a>
    </div>
</div>