<div class="dropdown" id="process">
    <button class="dropbtn" onmouseout="hideMenu('processsub')" onmouseover="drop('processsub')">Process <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="processsub" onmouseover="drop('processsub')" onmouseout="hideMenu('processsub')">
        <a href="#" onclick="loadExternal('/partials/process/safety','loadSafetyscript');">Safety and Hazard Questionnaire</a>
        <a href="#" onclick="openSite('/assets/pdf/RMA Associate.pdf');">RMA Associate</a>
        <a href="#" onclick="loadExternal('/partials/references/rmaProcess')">RMA Process</a>
        <a href="#" onclick="openSite('https://www.arlo.com/rma/rmacheck.aspx');">RMA Checker</a>
        <a href="#" onclick="loadExternal('/partials/references/tracking')">RMA Delivery Tracking</a>
        <a href="#" onclick="loadExternal('partials/process/litigation-CCT')">Litigation and Hold</a>
        <a href="#" onclick="loadExternal('partials/process/safety-CCT')">Safety and Hazard</a>
        <a href="#" onclick="loadExternal('partials/process/security-CCT')">Security and Vulnerability</a>
        <a href="#" onclick="loadExternal('partials/process/theft-replacement-CCT','');">Theft Replacement</a>
        <a href="#" onclick="loadExternal('partials/process/videoretrieval-CCT')">Video Retrieval</a>
        <a href="#" onclick="loadExternal('partials/process/gdpr-CCT');openSite('/assets/pdf/Arlo GDPR Call Handling And Escalation Process.pdf')">GDPR</a>
    </div>
</div>