<div class="dropdown" id="references">
    <button class="dropbtn" onmouseout="hideMenu('referencessub')" onmouseover="drop('referencessub')">References <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="referencessub" onmouseover="drop('referencessub')" onmouseout="hideMenu('referencessub')">
        <a href="#" onclick="loadExternal('/partials/references/references-RATLS','loadref-ratlsscript');">RATLS <b class="newAnimate" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="openSite('https://arlo-production.24dataconnect.com/');showAGWCreds();">AGW Admin <b class="newAnimate hiddenDiv" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="openSite('/appsim.html',1);">Arlo App simulator</a>
        <a href="#" onclick="loadExternal('/partials/references/floodlight')">Arlo Flood Light</a>
        <a href="#" onclick="loadExternal('/partials/references/references-partners');">Arlo Partners <b class="newAnimate hiddenDiv" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('/partials/references/pro3')">Arlo Pro 3</a>
        <a href="#" onclick="loadExternal('/partials/references/smartavail')">Arlo Smart Availability <b class="newAnimate hiddenDiv" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('/partials/references/boxes')">Arlo Boxes <b class="newAnimat" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('/partials/references/offenses')">Corrective Action Plan <b class="newAnimate " style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('/partials/references/references-ecommerce','loadref-ecommercescript');">eCommerce <b class="newAnimate hiddenDiv" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('/partials/references/whitelist')">Email Whitelist</a>
        <a href="#" onclick="loadExternal('/partials/references/FAQs','');">FAQs <b class="newAnimate hiddenDiv" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="openSite('https://kb.arlo.com/000039122');loadExternal('/partials/references/grantAccess')">Grant Access</a>
        <a href="#" onclick="loadExternal('/partials/references/issues','',function(){loadIssues();})">Issues</a>
        <a class="main_bullet" href="#">LED and Icons</a>
            <a class="platform" href="#" onclick="openKB('000039100');">+Base Station</a>
            <a class="platform" href="#" onclick="openKB('642');">+Camera</a>
            <a class="platform" href="#" onclick="openKB('000062037');">+Light/Bridge</a>
            <a class="platform" href="#" onclick="openKB('000062326');">+Video Doorbell</a>
            <a class="platform" href="#" onclick="openKB('1179176');">+Battery</a>
            <a class="platform" href="#" onclick="openKB('000062050');">+Arlo App</a>
        <a href="#" onclick="loadExternal('/partials/references/miscReferences')">Miscellaneous Information</a>
        <a href="#" onclick="loadExternal('/partials/references/modelNumbers')">Model Number</a>
        <a href="#" onclick="loadExternal('/partials/references/rmaProcess')">RMA Process</a>
        <a href="#" onclick="openSite('https://www.arlo.com/rma/rmacheck.aspx');">RMA Checker</a>
        <a href="#" onclick="loadExternal('/partials/references/tracking')">RMA Delivery Tracking</a>
        <a href="#" onclick="loadExternal('/partials/references/spotcheck/WE0215');">SpotCheck <b class="newAnimate hiddenDiv" style="display:inline;color:#16c4b6">NEW</b></a>
        <a class="main_bullet" href="#">Subscriptions</a>
            <a class="platform" href="#" onclick="loadExternal('/partials/references/references-subscription','loadref-subscriptionscript');">+New Service Plans </a>
            <a class="platform" href="#" onclick="openKB('88');">+Home</a>
            <a class="platform" href="#" onclick="openKB('1202808');">+Business</a>
        <a href="#" onclick="loadExternal('/partials/references/references-phonenum');">Support Numbers <b class="newAnimate hiddenDiv" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('/partials/references/references-tagging','loadref-taggingScript');">Tagging <b class="newAnimate" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="openSite('https://www.worldtimebuddy.com/?pl=1&lid=1701668,8,2643743,5&h=1701668');">World Time Buddy</a>
        <!--<a href="#" onclick="loadTxt('issues');document.getElementById('issue_filter').addEventListener('keyup', filter);document.getElementById('issue_filter').addEventListener('search', filter);sortTable(0);">Issues</a>
        -->
    </div>
</div>