<div class="dropdown" id="setupandguides">
    <button class="dropbtn" onmouseout="hideMenu('setupandguidessub')" onmouseover="drop('setupandguidessub')">Setup and Guides <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="setupandguidessub"  onmouseover="drop('setupandguidessub')" onmouseout="hideMenu('setupandguidessub')">
        <a href="#" onclick="loadExternal('partials/setupandguides/logs-har','');console.log('HAR');">HAR Logs <b class="newAnimate " style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('partials/setupandguides/logs-app','');">App Logs <b class="newAnimate " style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('partials/setupandguides/install-videodoorbell','loadInstallscript');">Video Doorbell Install</a>
        <a href="#" onclick="openKB('987');">Arlo</a>
        <a href="#" onclick="openKB('1146973');">Arlo Pro, Pro2</a>
        <a class="main_bullet" href="#">Arlo Q, Q+</a>
            <a class="platform" href="#" onclick="openKB('1002006');">+Android</a>
            <a class="platform" href="#" onclick="openKB('1001944');">+iOS</a>
            <a class="platform" href="#" onclick="loadExternal('partials/setupandguides/qwps')">Arlo Q with WPS</a>
        <a href="#" onclick="openKB('1282700');">Arlo Baby</a>
        <a href="#" onclick="openKB('000054805');">Arlo Baby w/ Homekit</a>
        <a href="#" onclick="openKB('000061864');">Arlo Doorbell</a>
        <a class="main_bullet" href="#">Push Notifications</a>
            <a class="platform" href="#" onclick="openKB('000039087');">+Android</a>
            <a class="platform" href="#" onclick="openKB('1133');">+iOS</a>
        <a href="#" onclick="openKB('1019297');">Email Alert</a>
        <a href="#" onclick="openKB('2613');">Text Notification</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/offlineSync')">Offline Syncing</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/powerCycleNetwork')">Powercycle Home Network</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/2fa')">2-Factor Authentication</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/litigation')">Litigation and Hold</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/safety')">Safety and Hazard</a>
        <!--<a href="#" onclick="$('#content').load('./safety.html');">Safety and Hazard</a>-->
        <a href="#" onclick="loadExternal('partials/setupandguides/security')">Security and Vulnerability</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/theft-replacement','');">Theft Replacement</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/videoRetrieval')">Video Retrieval</a>
        <a href="#" onclick="loadExternal('partials/setupandguides/gdpr');openSite('/assets/pdf/Arlo GDPR Call Handling And Escalation Process.pdf')">GDPR <b class="newAnimate " style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('partials/setupandguides/playstore')">App Install</a>
        
    <!--<a href="#" onclick="$('#content').load('./wifiscanresults');">logs</a>-->

    </div>
</div>