<div class="dropdown" id="templates">
    <button class="dropbtn" onmouseout="hideMenu('templatessub')" onmouseover="drop('templatessub')">Templates <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="templatessub" onmouseover="drop('templatessub')" onmouseout="hideMenu('templatessub')">
        <a href="#" onclick="loadExternal('/partials/templates/myTemplates','myTemplateScript');">My Templates</a>
        <a href="#" onclick="loadExternal('/partials/templates/spiels')">Spiels</a>
        <a href="#" onclick="loadExternal('/partials/templates/standard','standardScript');">Standard</a>
        <a href="#" onclick="loadExternal('/partials/templates/chat','chatScript');">Chat <b class="newAnimate" style="display:inline;color:#16c4b6">NEW</b></a>
        <a href="#" onclick="loadExternal('/partials/templates/rmaForm','rmaFormScript');">RMA Form</a>
        <a href="#" onclick="loadExternal('/partials/templates/callBack')">Callback Endorsement</a>
        <a href="#" onclick="loadExternal('/partials/templates/caseClosure')">Case Followup and Closure</a>
        <a href="#" onclick="loadExternal('/partials/templates/subscription')">Subscription</a>
        <a href="#" onclick="loadExternal('/partials/templates/miscTemplates')">Miscellaneous</a>
        <a href="#" onclick="loadExternal('/partials/templates/endOFShift','eosScript');">End of Shift</a>
        <a href="#" onclick="loadExternal('/partials/templates/aht','ahtScript');">AHT</a>
        <a href="#" onclick="loadExternal('/partials/templates/template-L2escalation','');">L2 Escalation<b class="newAnimate hiddenDiv" style="display:inline;color:deeppink"> disabled</b></a>
    </div>
</div>