<div id="loadQAscript" class="hiddenDiv"></div>
<br><br>
<h4>QA Scores</h4>
<div>
<br>
<style type="text/css">

</style>
<table class="tg">
  <tr>
    <th class="tg-baqh">Name</th>
    <th class="tg-baqh">Team</th>
    <th class="tg-baqh tg-month">October Overall Score</th>
    <th class="tg-baqh tg-month">November Overall Score</th>
    <th class="tg-baqh tg-month">December MTD (Dec 1-15)</th>
  </tr>
  <tr>
    <td class="tg-0lax">ABAD, JILLIAN PENNY CARASO</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">87.22</td>
    <td class="tg-baqh">81.19</td>
    <td class="tg-baqh">66.55</td>
  </tr>
  <tr>
    <td class="tg-0lax">ABDULLAH, KRISTEL JOY BOBIAS</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">86.07</td>
    <td class="tg-baqh">70.61</td>
    <td class="tg-baqh">85.84</td>
  </tr>
  <tr>
    <td class="tg-0lax">ABUCAY, TREXIE GUMBAN</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">86.16</td>
    <td class="tg-baqh">81.78</td>
    <td class="tg-baqh">90.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">ADRALES, JOHN JASON CENAL</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">81.42</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">83.2</td>
  </tr>
  <tr>
    <td class="tg-0lax">AGRAVANTE, CHRISTINE JOY CALUALHATIAN</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">88.85</td>
    <td class="tg-baqh">83.33</td>
    <td class="tg-baqh">92.5</td>
  </tr>
  <tr>
    <td class="tg-0lax">AGTING, ROHANIZA MIRA-ATO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">87.79</td>
    <td class="tg-baqh">88.09</td>
    <td class="tg-baqh">82.36</td>
  </tr>
  <tr>
    <td class="tg-0lax">ALAAN, JONATHAN BRIAN ORDINARIO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">80.79</td>
    <td class="tg-baqh">83.78</td>
    <td class="tg-baqh">76.73</td>
  </tr>
  <tr>
    <td class="tg-0lax">ALAMPAYAN, ALEJANDRO, JR. BALO</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">76.23</td>
    <td class="tg-baqh">81.98</td>
    <td class="tg-baqh">78.76</td>
  </tr>
  <tr>
    <td class="tg-0lax">ALDECOA, ROSE ANGELA ALFEREZ</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">81.3</td>
    <td class="tg-baqh">89.48</td>
    <td class="tg-baqh">66.3</td>
  </tr>
  <tr>
    <td class="tg-0lax">AMBAY, RENZ DANIEL VALDEZ</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">89.94</td>
    <td class="tg-baqh">88.21</td>
    <td class="tg-baqh">83.25</td>
  </tr>
  <tr>
    <td class="tg-0lax">AMORA, VINCENT FRANCIS GRADO</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">88.76</td>
    <td class="tg-baqh">84.8</td>
    <td class="tg-baqh">90.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">AMPONG, AN MONARES</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">88.31</td>
    <td class="tg-baqh">81.74</td>
    <td class="tg-baqh">82.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">ANDALES, SHERYL CUEVAS</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">92.27</td>
    <td class="tg-baqh">73.31</td>
    <td class="tg-baqh">86.43</td>
  </tr>
  <tr>
    <td class="tg-0lax">ANGOT, CLIFFORD DACUP</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">86.51</td>
    <td class="tg-baqh">84.52</td>
    <td class="tg-baqh">77.73</td>
  </tr>
  <tr>
    <td class="tg-0lax">ANTONIO, MITZI IGUIANON</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">81.88</td>
    <td class="tg-baqh">81.03</td>
    <td class="tg-baqh">86.31</td>
  </tr>
  <tr>
    <td class="tg-0lax">ARANETA, PETER JAYSON IMPORTANTE</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">77.83</td>
    <td class="tg-baqh">80.95</td>
  </tr>
  <tr>
    <td class="tg-0lax">ARANTON, JOYCE KIM BUENAFLOR</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">81.85</td>
  </tr>
  <tr>
    <td class="tg-0lax">ARGIBIADOR, EMYRIE LICAROS</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">91.07</td>
    <td class="tg-baqh">94.77</td>
    <td class="tg-baqh">86.79</td>
  </tr>
  <tr>
    <td class="tg-0lax">ASOY, KAREN LOCHI LAGUINDAM</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">85.4</td>
    <td class="tg-baqh">84.91</td>
    <td class="tg-baqh">92.85</td>
  </tr>
  <tr>
    <td class="tg-0lax">BAGUIO, HYNA KRISTEL ARAÑEZ</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">87.82</td>
    <td class="tg-baqh">87.06</td>
    <td class="tg-baqh">83.69</td>
  </tr>
  <tr>
    <td class="tg-0lax">BALBIN, CRISTY PACLIBAR</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">88.1</td>
    <td class="tg-baqh">51.01</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">BALINGIT, MARK REY PONCE</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">95.16</td>
    <td class="tg-baqh">96.43</td>
    <td class="tg-baqh">81.55</td>
  </tr>
  <tr>
    <td class="tg-0lax">BANIHIT, ALVIN PAUL BELONTA</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">79.74</td>
    <td class="tg-baqh">77.37</td>
    <td class="tg-baqh">79.58</td>
  </tr>
  <tr>
    <td class="tg-0lax">BANZON, JHOREE LUAYON</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">84.25</td>
    <td class="tg-baqh">67.6</td>
    <td class="tg-baqh">85.95</td>
  </tr>
  <tr>
    <td class="tg-0lax">BASAN, ABIGAIL CABIJE</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">71.69</td>
    <td class="tg-baqh">73.67</td>
  </tr>
  <tr>
    <td class="tg-0lax">BAYOGOS, AILEEN CAMBARIJAN</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">86.11</td>
    <td class="tg-baqh">84.52</td>
    <td class="tg-baqh">88.22</td>
  </tr>
  <tr>
    <td class="tg-0lax">CABRERA, GODWIN AGRAVIADOR</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">89.88</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">CADAYONA, NIKKA VALDELLON</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">77.14</td>
    <td class="tg-baqh">81.46</td>
  </tr>
  <tr>
    <td class="tg-0lax">CALACAT, KAYE JUNE BUGTONG</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">80.78</td>
    <td class="tg-baqh">83.12</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">CALLO, WEA JANE TANDOG</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">93.73</td>
    <td class="tg-baqh">93.49</td>
    <td class="tg-baqh">93.41</td>
  </tr>
  <tr>
    <td class="tg-0lax">CALUSAYAN, ARLIE MAE CONDE</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">73.14</td>
    <td class="tg-baqh">80.57</td>
    <td class="tg-baqh">81.07</td>
  </tr>
  <tr>
    <td class="tg-0lax">CANDIDO, ANDREA VON TOMO</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">86.96</td>
    <td class="tg-baqh">87.34</td>
    <td class="tg-baqh">85.95</td>
  </tr>
  <tr>
    <td class="tg-0lax">CANOY, ARLENE JOY CAHINTA</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">91.03</td>
    <td class="tg-baqh">89.87</td>
    <td class="tg-baqh">88.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">CANTOR, VAN XANDER SALINGUJAY</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">90.65</td>
    <td class="tg-baqh">81.09</td>
    <td class="tg-baqh">79.66</td>
  </tr>
  <tr>
    <td class="tg-0lax">CARAMAT, CHRISTIAN JOB RACACHO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">71.25</td>
    <td class="tg-baqh">81.01</td>
    <td class="tg-baqh">77.32</td>
  </tr>
  <tr>
    <td class="tg-0lax">CARPIO, KRISTINE JOY GERALDINO</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">82.44</td>
    <td class="tg-baqh">94.92</td>
    <td class="tg-baqh">91.37</td>
  </tr>
  <tr>
    <td class="tg-0lax">CELERIDAD, DALICEL DALISAY</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">91.23</td>
    <td class="tg-baqh">87.14</td>
    <td class="tg-baqh">90</td>
  </tr>
  <tr>
    <td class="tg-0lax">COLMENARES, ERIC CHUA</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">89.95</td>
    <td class="tg-baqh">93.25</td>
    <td class="tg-baqh">82.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">COMORPOSA, PENNY IVON ADALIN</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">85.24</td>
    <td class="tg-baqh">88.26</td>
    <td class="tg-baqh">88.03</td>
  </tr>
  <tr>
    <td class="tg-0lax">COMPANIA, JADE NORHYRIS</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">73.34</td>
    <td class="tg-baqh">74.53</td>
    <td class="tg-baqh">75.23</td>
  </tr>
  <tr>
    <td class="tg-0lax">CUADRASAL, JEFF RUIZOL</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">78.01</td>
    <td class="tg-baqh">84.92</td>
    <td class="tg-baqh">76.89</td>
  </tr>
  <tr>
    <td class="tg-0lax">CULLAMAT, REY JR. LAZAGA</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">74.48</td>
    <td class="tg-baqh">71.39</td>
    <td class="tg-baqh">85.95</td>
  </tr>
  <tr>
    <td class="tg-0lax">CUNADO, JOHN PATRICK</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">80.73</td>
    <td class="tg-baqh">84.86</td>
    <td class="tg-baqh">77.5</td>
  </tr>
  <tr>
    <td class="tg-0lax">DAUD, FAIZAL PUERTO</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">83.49</td>
    <td class="tg-baqh">93.73</td>
    <td class="tg-baqh">83.34</td>
  </tr>
  <tr>
    <td class="tg-0lax">DE LEON, ELIZABETH MARCIAL</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">83.61</td>
    <td class="tg-baqh">85.59</td>
    <td class="tg-baqh">89.25</td>
  </tr>
  <tr>
    <td class="tg-0lax">DESQUITADO, ADRIAN VYNE DELFINO</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">84.16</td>
    <td class="tg-baqh">83.37</td>
    <td class="tg-baqh">80.53</td>
  </tr>
  <tr>
    <td class="tg-0lax">DIONELA, PRINCE MArloWE YAP</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">86.19</td>
    <td class="tg-baqh">82.54</td>
    <td class="tg-baqh">90.06</td>
  </tr>
  <tr>
    <td class="tg-0lax">DOMINGO, CHERYL GONZALES</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">80.77</td>
    <td class="tg-baqh">72.97</td>
    <td class="tg-baqh">84.28</td>
  </tr>
  <tr>
    <td class="tg-0lax">DONAYRE, FLORA MAE BATILLA</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">83.93</td>
  </tr>
  <tr>
    <td class="tg-0lax">DUNGOG, PIA LORRAINE SUAREZ</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">90.22</td>
    <td class="tg-baqh">88.02</td>
    <td class="tg-baqh">91.25</td>
  </tr>
  <tr>
    <td class="tg-0lax">ENDUCAL, IRENE LARIOSA</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">84.05</td>
    <td class="tg-baqh">86.87</td>
    <td class="tg-baqh">81.84</td>
  </tr>
  <tr>
    <td class="tg-0lax">ESCOBAL, MARELYN BERSABAL</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">87.73</td>
    <td class="tg-baqh">75.86</td>
    <td class="tg-baqh">63.05</td>
  </tr>
  <tr>
    <td class="tg-0lax">ESCOBIA, JESSALYN ERENO</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">85.61</td>
    <td class="tg-baqh">77.5</td>
    <td class="tg-baqh">68.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">FAILANO, AIZA GRACE TALISIC</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">73.88</td>
    <td class="tg-baqh">78.1</td>
    <td class="tg-baqh">73.57</td>
  </tr>
  <tr>
    <td class="tg-0lax">FERNANDEZ, CONCEPCION IBAHAY</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">80.05</td>
    <td class="tg-baqh">92.15</td>
    <td class="tg-baqh">89.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">FERNANDEZ, MARIAN ELOISE BRIONES</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">87.65</td>
    <td class="tg-baqh">81.67</td>
    <td class="tg-baqh">84.28</td>
  </tr>
  <tr>
    <td class="tg-0lax">FIEL, FREDURIC FLORES</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">84.54</td>
    <td class="tg-baqh">87.88</td>
    <td class="tg-baqh">85.95</td>
  </tr>
  <tr>
    <td class="tg-0lax">FUNESTO, CRISTIAN LOU ABO-ABO</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">83.15</td>
    <td class="tg-baqh">92.15</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">GADIANO, VHANISZA MAY SAAD</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">82.65</td>
    <td class="tg-baqh">82.78</td>
    <td class="tg-baqh">95.48</td>
  </tr>
  <tr>
    <td class="tg-0lax">GALANZA, NENIA RHEA JABAGAT</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">83.3</td>
    <td class="tg-baqh">94.52</td>
    <td class="tg-baqh">92.15</td>
  </tr>
  <tr>
    <td class="tg-0lax">GALINDO, JARED JEREMY RIZADA</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">75.75</td>
    <td class="tg-baqh">80.64</td>
    <td class="tg-baqh">75</td>
  </tr>
  <tr>
    <td class="tg-0lax">GALINDO, SHIELA MAE LARIOSA</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">75.71</td>
    <td class="tg-baqh">78.65</td>
    <td class="tg-baqh">89.05</td>
  </tr>
  <tr>
    <td class="tg-0lax">GANDULFO, REINA ADRIENNE ESPARES</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">90.87</td>
    <td class="tg-baqh">90.71</td>
    <td class="tg-baqh">92.15</td>
  </tr>
  <tr>
    <td class="tg-0lax">GARIANDO, NEZA RUIZ</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">82.49</td>
    <td class="tg-baqh">75</td>
    <td class="tg-baqh">92.38</td>
  </tr>
  <tr>
    <td class="tg-0lax">GENCIANOS, CARLA ANTOINETTE ABREGANA</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">98.18</td>
    <td class="tg-baqh">86.78</td>
  </tr>
  <tr>
    <td class="tg-0lax">GEROLAGA, JOHN KIRBY PIYAO</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">78.03</td>
    <td class="tg-baqh">78.45</td>
    <td class="tg-baqh">70.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">HIBAYA, MARK LOUIS PERALTA</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">82.37</td>
    <td class="tg-baqh">83.45</td>
    <td class="tg-baqh">84.55</td>
  </tr>
  <tr>
    <td class="tg-0lax">HISOLER, APRIL JOHN TIO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">74.51</td>
    <td class="tg-baqh">80.36</td>
    <td class="tg-baqh">78.36</td>
  </tr>
  <tr>
    <td class="tg-0lax">HUBAY, DIANNE CHAVEZ</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">83.08</td>
    <td class="tg-baqh">86.43</td>
    <td class="tg-baqh">70.81</td>
  </tr>
  <tr>
    <td class="tg-0lax">INFIESTO, NINA JAN OCANA</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">81.99</td>
    <td class="tg-baqh">88.7</td>
    <td class="tg-baqh">88.34</td>
  </tr>
  <tr>
    <td class="tg-0lax">JAUM, JOANNA MARIE ENSO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">77.21</td>
    <td class="tg-baqh">87.68</td>
    <td class="tg-baqh">85.13</td>
  </tr>
  <tr>
    <td class="tg-0lax">JAVILLO, KENNETH BRYLLE PIA</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">86.64</td>
    <td class="tg-baqh">89.99</td>
    <td class="tg-baqh">91.27</td>
  </tr>
  <tr>
    <td class="tg-0lax">JIMENEA, JOHN CHRISTOPHER TULANG</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">84.72</td>
    <td class="tg-baqh">86.43</td>
    <td class="tg-baqh">86.31</td>
  </tr>
  <tr>
    <td class="tg-0lax">LAGIALAM, NORHATA GANION</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">84.47</td>
    <td class="tg-baqh">79.45</td>
    <td class="tg-baqh">71.07</td>
  </tr>
  <tr>
    <td class="tg-0lax">LAMBO, ELBERT VAL ANCAJAS</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">89.5</td>
    <td class="tg-baqh">94.05</td>
    <td class="tg-baqh">90.42</td>
  </tr>
  <tr>
    <td class="tg-0lax">LAMPA, REGINE MAE SINGSON</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">73.48</td>
    <td class="tg-baqh">72.8</td>
  </tr>
  <tr>
    <td class="tg-0lax">LANDAS, MAE GRACE CORDOVA</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">84.32</td>
    <td class="tg-baqh">87.34</td>
    <td class="tg-baqh">69.05</td>
  </tr>
  <tr>
    <td class="tg-0lax">LANTICAN, FRANCIS LEONARD</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">88.4</td>
    <td class="tg-baqh">83.19</td>
    <td class="tg-baqh">85.63</td>
  </tr>
  <tr>
    <td class="tg-0lax">LAPINID, JEAN MARIE JIMENEZ</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">89.43</td>
    <td class="tg-baqh">81.1</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">LAROA, MAR SHAINE PAGUNSAN</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">76.77</td>
    <td class="tg-baqh">79.3</td>
    <td class="tg-baqh">77.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">LAROZA, JAMES LUZANO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">85.38</td>
    <td class="tg-baqh">87.57</td>
    <td class="tg-baqh">82.7</td>
  </tr>
  <tr>
    <td class="tg-0lax">LECERA, KRISTINE JOY TALO</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">85.31</td>
    <td class="tg-baqh">88.05</td>
    <td class="tg-baqh">83.45</td>
  </tr>
  <tr>
    <td class="tg-0lax">LLUVIDO JR, FAUSTO CAAYUPAN</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">77.7</td>
    <td class="tg-baqh">82.61</td>
    <td class="tg-baqh">76.29</td>
  </tr>
  <tr>
    <td class="tg-0lax">LOPEZ, JOVAL SAMZA</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">85.69</td>
    <td class="tg-baqh">85.36</td>
    <td class="tg-baqh">83.33</td>
  </tr>
  <tr>
    <td class="tg-0lax">LORICO, JESSE JAMES RAMIREZ</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">73.53</td>
    <td class="tg-baqh">88</td>
    <td class="tg-baqh">92.15</td>
  </tr>
  <tr>
    <td class="tg-0lax">LUY, RICKY II</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">88.93</td>
    <td class="tg-baqh">89.76</td>
    <td class="tg-baqh">89.28</td>
  </tr>
  <tr>
    <td class="tg-0lax">MABISCAY, RAZEL EILENE MAYLAS</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">81.32</td>
    <td class="tg-baqh">69.28</td>
    <td class="tg-baqh">68.52</td>
  </tr>
  <tr>
    <td class="tg-0lax">MAHINAY, JEAN PRINCESS NMN</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">83.69</td>
  </tr>
  <tr>
    <td class="tg-0lax">MAMITEZ, RIC ANTHONY</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">80.01</td>
    <td class="tg-baqh">83.69</td>
    <td class="tg-baqh">83.33</td>
  </tr>
  <tr>
    <td class="tg-0lax">MANAMBAY, RITCHIE ALILIMA</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">78.47</td>
    <td class="tg-baqh">81.41</td>
    <td class="tg-baqh">76.47</td>
  </tr>
  <tr>
    <td class="tg-0lax">MANZANO, CRIS HAMOS</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">86.14</td>
    <td class="tg-baqh">73.45</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">MARATI, REGIE TAGOSE</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">81.5</td>
    <td class="tg-baqh">81.91</td>
    <td class="tg-baqh">83.22</td>
  </tr>
  <tr>
    <td class="tg-0lax">MATA, JOHN CArlo BASAN</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">81.41</td>
    <td class="tg-baqh">82.21</td>
    <td class="tg-baqh">80.92</td>
  </tr>
  <tr>
    <td class="tg-0lax">MATAO, KRISHA KAYE TY</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">78.81</td>
    <td class="tg-baqh">76.43</td>
  </tr>
  <tr>
    <td class="tg-0lax">MEDILO, JOMARI PAGSUGUIRON</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">80.53</td>
    <td class="tg-baqh">87.72</td>
    <td class="tg-baqh">86.66</td>
  </tr>
  <tr>
    <td class="tg-0lax">MIRANDA, HANNA JULE MACERO</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">86.47</td>
    <td class="tg-baqh">76.52</td>
    <td class="tg-baqh">75.75</td>
  </tr>
  <tr>
    <td class="tg-0lax">MONTUNO, JOSE PAOLO SERRA</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">86.85</td>
    <td class="tg-baqh">88.4</td>
    <td class="tg-baqh">85.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">MORALA, MARICEL</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">81.46</td>
    <td class="tg-baqh">78.35</td>
    <td class="tg-baqh">80.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">MORALES, JENNIE MARBACIAS</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">68.33</td>
  </tr>
  <tr>
    <td class="tg-0lax">OCCENA, JONNEL ROTANTE</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">79.22</td>
    <td class="tg-baqh">71.93</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">OMBAO, JERLYN</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">85.86</td>
    <td class="tg-baqh">76.86</td>
    <td class="tg-baqh">70.66</td>
  </tr>
  <tr>
    <td class="tg-0lax">ONAR, MERY JOY LIMBING</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">82.53</td>
    <td class="tg-baqh">87.62</td>
    <td class="tg-baqh">85.23</td>
  </tr>
  <tr>
    <td class="tg-0lax">ORDINARIO, CONEY JAY VIGOR</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">73.11</td>
    <td class="tg-baqh">73.81</td>
    <td class="tg-baqh">77.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">PABUAYA, AMILYN GALABIN</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">81.91</td>
    <td class="tg-baqh">86.43</td>
  </tr>
  <tr>
    <td class="tg-0lax">PAMA, JOHAYVER CALI</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">77.49</td>
    <td class="tg-baqh">76.08</td>
    <td class="tg-baqh">79.24</td>
  </tr>
  <tr>
    <td class="tg-0lax">PANAL, HERMIONE NELLAS</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">84.35</td>
    <td class="tg-baqh">88.09</td>
    <td class="tg-baqh">77.57</td>
  </tr>
  <tr>
    <td class="tg-0lax">PANES, JERALYN ELICANCAN</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">65.72</td>
    <td class="tg-baqh">79.19</td>
    <td class="tg-baqh">68.51</td>
  </tr>
  <tr>
    <td class="tg-0lax">PANO, JENNIE ALMENDRAS</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">84.73</td>
    <td class="tg-baqh">79.91</td>
    <td class="tg-baqh">91.01</td>
  </tr>
  <tr>
    <td class="tg-0lax">PARBA, ALFRED JOHN ONIOLA</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">92.98</td>
    <td class="tg-baqh">81.96</td>
    <td class="tg-baqh">92.97</td>
  </tr>
  <tr>
    <td class="tg-0lax">PARRENO, LUCELLE PACLIBAR</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">72.76</td>
    <td class="tg-baqh">75.96</td>
    <td class="tg-baqh">77.7</td>
  </tr>
  <tr>
    <td class="tg-0lax">PATRECIO, CHERRY ANN MANGOB</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">85.47</td>
    <td class="tg-baqh">90.71</td>
    <td class="tg-baqh">70.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">PEREZ, GENEVA DELALAMON</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">86.33</td>
    <td class="tg-baqh">82.32</td>
    <td class="tg-baqh">70.66</td>
  </tr>
  <tr>
    <td class="tg-0lax">PEREZ, JHON RHEN BAJA</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">89.58</td>
    <td class="tg-baqh">87.5</td>
    <td class="tg-baqh">87</td>
  </tr>
  <tr>
    <td class="tg-0lax">PODADOR, TRISHA MAE ABARICO</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">88.52</td>
    <td class="tg-baqh">89.33</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">PRESBETERO, JUNJAY GEPITULAN</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">83.29</td>
    <td class="tg-baqh">86.59</td>
    <td class="tg-baqh">83.93</td>
  </tr>
  <tr>
    <td class="tg-0lax">PUGOY, NIKKO PAOLO MACARAEG</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">90.12</td>
    <td class="tg-baqh">85.2</td>
    <td class="tg-baqh">87.62</td>
  </tr>
  <tr>
    <td class="tg-0lax">PULALON, TADZMER HAYROL</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">91.85</td>
    <td class="tg-baqh">91.71</td>
    <td class="tg-baqh">86.17</td>
  </tr>
  <tr>
    <td class="tg-0lax">QUINOLA, SEAN CHRISTOPHER JUABAN</td>
    <td class="tg-0lax">DVO Arlo Alfa Romeo</td>
    <td class="tg-baqh">94.01</td>
    <td class="tg-baqh">89.18</td>
    <td class="tg-baqh">89.53</td>
  </tr>
  <tr>
    <td class="tg-0lax">REBALDE, WILLY CABOTAJE</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">78.55</td>
    <td class="tg-baqh">86.19</td>
    <td class="tg-baqh">84.64</td>
  </tr>
  <tr>
    <td class="tg-0lax">REMO, JAYSON PENTASON</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">92.77</td>
    <td class="tg-baqh">87.74</td>
    <td class="tg-baqh">91.66</td>
  </tr>
  <tr>
    <td class="tg-0lax">REYES, JESSON BOLICO</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">74.43</td>
    <td class="tg-baqh">72.59</td>
    <td class="tg-baqh">81.73</td>
  </tr>
  <tr>
    <td class="tg-0lax">RODRIGO, RYAN JAMES TOLEDO</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">52.03</td>
    <td class="tg-baqh">81.07</td>
    <td class="tg-baqh">68.61</td>
  </tr>
  <tr>
    <td class="tg-0lax">ROLLORATA, RAIANN JAMES GALON</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">74.84</td>
    <td class="tg-baqh">74.18</td>
    <td class="tg-baqh">79.41</td>
  </tr>
  <tr>
    <td class="tg-0lax">ROSALES, JOEL LAHER</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">88.96</td>
    <td class="tg-baqh">86.1</td>
    <td class="tg-baqh">84.52</td>
  </tr>
  <tr>
    <td class="tg-0lax">ROSAURO, JONAS PEREZ</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">85.93</td>
    <td class="tg-baqh">82.27</td>
    <td class="tg-baqh">73.28</td>
  </tr>
  <tr>
    <td class="tg-0lax">RUAYA, MERRY CHRIS MIONES</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">91.02</td>
    <td class="tg-baqh">92.02</td>
    <td class="tg-baqh">88.85</td>
  </tr>
  <tr>
    <td class="tg-0lax">RUIVIVAR, RALPH DANIEL MONTANO</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">76.92</td>
    <td class="tg-baqh">86.17</td>
    <td class="tg-baqh">97.06</td>
  </tr>
  <tr>
    <td class="tg-0lax">SAGA, LOUIE JAY</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">75.39</td>
    <td class="tg-baqh">79.95</td>
    <td class="tg-baqh">90</td>
  </tr>
  <tr>
    <td class="tg-0lax">SAKI, ROYCE PANDI</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">87.63</td>
    <td class="tg-baqh">82.57</td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">SALINAS, MARK STEVEN CULIAN</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">82.98</td>
    <td class="tg-baqh">84.07</td>
    <td class="tg-baqh">78.75</td>
  </tr>
  <tr>
    <td class="tg-0lax">SAMBO, KRIS MAY SHAYNE MANGANA</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">86.15</td>
    <td class="tg-baqh">94.22</td>
    <td class="tg-baqh">72.75</td>
  </tr>
  <tr>
    <td class="tg-0lax">SAMSON, JOVANNY QUESTADIO</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">86.81</td>
    <td class="tg-baqh">85.06</td>
    <td class="tg-baqh">93.34</td>
  </tr>
  <tr>
    <td class="tg-0lax">SANTANDER, NOLVIN MANGUILIMOTANN</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">84.02</td>
    <td class="tg-baqh">85.76</td>
    <td class="tg-baqh">91.43</td>
  </tr>
  <tr>
    <td class="tg-0lax">SANTOS, FRANCIS MARK VINCENT HIJARA</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">91.41</td>
    <td class="tg-baqh">76.6</td>
    <td class="tg-baqh">88.81</td>
  </tr>
  <tr>
    <td class="tg-0lax">SAPLAGIO, KIMBERLY MILO</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">88.83</td>
    <td class="tg-baqh">89.48</td>
    <td class="tg-baqh">90.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">SAYSON, CHERRY ANNE ASAYAS</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">87.92</td>
    <td class="tg-baqh">88.79</td>
    <td class="tg-baqh">89.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">SIDAYON, NOREEN FE PETINGCO</td>
    <td class="tg-0lax">DVO Arlo Alfa Romeo</td>
    <td class="tg-baqh">82.12</td>
    <td class="tg-baqh">83.29</td>
    <td class="tg-baqh">82.47</td>
  </tr>
  <tr>
    <td class="tg-0lax">SILAGAN, KARL MARX LUCERO</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">87.26</td>
    <td class="tg-baqh">84.67</td>
    <td class="tg-baqh">87.77</td>
  </tr>
  <tr>
    <td class="tg-0lax">SILAPAN, ANGELIE CHRISTINE ANDAYA</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">87.38</td>
    <td class="tg-baqh">82.97</td>
    <td class="tg-baqh">85.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">SIMPLICIO, ERNIE MENALING</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">80.6</td>
    <td class="tg-baqh">79.17</td>
    <td class="tg-baqh">85.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">SISON, GLAIZA MARIE LINDAYAO</td>
    <td class="tg-0lax">DVO Arlo Bugatti</td>
    <td class="tg-baqh">91.08</td>
    <td class="tg-baqh">90.37</td>
    <td class="tg-baqh">94.82</td>
  </tr>
  <tr>
    <td class="tg-0lax">SOLIGO, WILJEAN PELESCO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">86.78</td>
    <td class="tg-baqh">67.25</td>
    <td class="tg-baqh">85.53</td>
  </tr>
  <tr>
    <td class="tg-0lax">SUAREZ, RAMON SALVADOR PAGTALUNAN</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">87.76</td>
    <td class="tg-baqh">75.36</td>
    <td class="tg-baqh">75.39</td>
  </tr>
  <tr>
    <td class="tg-0lax">SUERTO, JOHN KENNETH LANGOMES</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">82.73</td>
  </tr>
  <tr>
    <td class="tg-0lax">SUGAROL, MUTYA RAMIZO</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">87.28</td>
    <td class="tg-baqh">85.89</td>
    <td class="tg-baqh">87.19</td>
  </tr>
  <tr>
    <td class="tg-0lax">SUJERO, NAIL ROSE CANEBANO</td>
    <td class="tg-0lax">DVO Arlo Mercedes</td>
    <td class="tg-baqh">86.4</td>
    <td class="tg-baqh">83.93</td>
    <td class="tg-baqh">80.07</td>
  </tr>
  <tr>
    <td class="tg-0lax">SUMILE, SHERWIN BOLODO</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">86.22</td>
    <td class="tg-baqh">86.14</td>
    <td class="tg-baqh">85.95</td>
  </tr>
  <tr>
    <td class="tg-0lax">SUPAPO, GENEVIEVE VILLAMOR</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">79.08</td>
    <td class="tg-baqh">85.24</td>
    <td class="tg-baqh">81.22</td>
  </tr>
  <tr>
    <td class="tg-0lax">TAJAN, MARK NEIL FLORENCIO</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">84.16</td>
    <td class="tg-baqh">82.9</td>
    <td class="tg-baqh">79.77</td>
  </tr>
  <tr>
    <td class="tg-0lax">TAN, LESLIE MARK HOMERES</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">91.2</td>
    <td class="tg-baqh">86.78</td>
    <td class="tg-baqh">88.57</td>
  </tr>
  <tr>
    <td class="tg-0lax">TARONA, PRINCESS CORTEZ</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">79.13</td>
    <td class="tg-baqh">85.43</td>
    <td class="tg-baqh">89.77</td>
  </tr>
  <tr>
    <td class="tg-0lax">TEREC, JEAN ROSE SABANAL</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">81.81</td>
    <td class="tg-baqh">77.86</td>
    <td class="tg-baqh">85.56</td>
  </tr>
  <tr>
    <td class="tg-0lax">TIDALGO, HONEY GRACE WALES</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">90.4</td>
    <td class="tg-baqh">89.29</td>
  </tr>
  <tr>
    <td class="tg-0lax">TIENIO, CLIFFORD KHRISZL BALLARES</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">76.72</td>
    <td class="tg-baqh">79.17</td>
    <td class="tg-baqh">80.84</td>
  </tr>
  <tr>
    <td class="tg-0lax">TIGNO, EDUARD DENNIS LOPEZ</td>
    <td class="tg-0lax">DVO Arlo Alfa Romeo</td>
    <td class="tg-baqh">82.33</td>
    <td class="tg-baqh">75.62</td>
    <td class="tg-baqh">83.87</td>
  </tr>
  <tr>
    <td class="tg-0lax">TRINIDAD, JUSTINE PANERIO</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">88.1</td>
    <td class="tg-baqh">81.06</td>
    <td class="tg-baqh">90.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">TUASTUMBAN, CRISTIAN CAIREL</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">85.87</td>
    <td class="tg-baqh">77.87</td>
    <td class="tg-baqh">85.66</td>
  </tr>
  <tr>
    <td class="tg-0lax">TUMANG, ALPH EDSON VILLA</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">85.87</td>
    <td class="tg-baqh">81.9</td>
    <td class="tg-baqh">84.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">TUTOL, JAMES MORCEN</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">80.78</td>
    <td class="tg-baqh">82.79</td>
    <td class="tg-baqh">83.15</td>
  </tr>
  <tr>
    <td class="tg-0lax">UY, DERRICK MICHAEL FERNANDEZ</td>
    <td class="tg-0lax">DVO Arlo Citroen</td>
    <td class="tg-baqh">84.99</td>
    <td class="tg-baqh">85.3</td>
    <td class="tg-baqh">88.22</td>
  </tr>
  <tr>
    <td class="tg-0lax">VALENCIA, KHRISTINE PHRISNA CAHATIAN</td>
    <td class="tg-0lax">DVO Arlo Porsche</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">86.29</td>
    <td class="tg-baqh">90.59</td>
  </tr>
  <tr>
    <td class="tg-0lax">VENTURA, MARK ANTHONY BARICOG</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">86.33</td>
    <td class="tg-baqh">95.06</td>
    <td class="tg-baqh">90.78</td>
  </tr>
  <tr>
    <td class="tg-0lax">VERGARA, NOVEM BRIAN PUTAO</td>
    <td class="tg-0lax">DVO Arlo Infiniti</td>
    <td class="tg-baqh">77.6</td>
    <td class="tg-baqh">84.45</td>
    <td class="tg-baqh">80.68</td>
  </tr>
  <tr>
    <td class="tg-0lax">VILLAFLOR, NEIL MARK BERSABAL</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">83.35</td>
    <td class="tg-baqh">86.79</td>
    <td class="tg-baqh">86.66</td>
  </tr>
  <tr>
    <td class="tg-0lax">VILLAMON, EL JANN RUTH BELACAS</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh">90</td>
  </tr>
  <tr>
    <td class="tg-0lax">VILLANUEVA, ROSIE AGUILON</td>
    <td class="tg-0lax">DVO Arlo L2 Gumpert</td>
    <td class="tg-baqh">91.17</td>
    <td class="tg-baqh">93.15</td>
    <td class="tg-baqh">89.65</td>
  </tr>
  <tr>
    <td class="tg-0lax">VIRAY, ROLENE HASIM</td>
    <td class="tg-0lax">DVO Arlo Noble</td>
    <td class="tg-baqh">68.81</td>
    <td class="tg-baqh">92.46</td>
    <td class="tg-baqh">80.16</td>
  </tr>
  <tr>
    <td class="tg-0lax">YATAZA, TZEKIZA SABATIN</td>
    <td class="tg-0lax">DVO Arlo McLaren</td>
    <td class="tg-baqh">83.72</td>
    <td class="tg-baqh">90.12</td>
    <td class="tg-baqh">60.72</td>
  </tr>
  <tr>
    <td class="tg-0lax">YTANG, ELEN DIACOMA</td>
    <td class="tg-0lax">DVO Arlo Maserati</td>
    <td class="tg-baqh">89.45</td>
    <td class="tg-baqh">82.98</td>
    <td class="tg-baqh">92.15</td>
  </tr>
</table>
<br>
<br><br>
</div>