<h4>2-Factor Authentification</h4>
<div class="row">
    <div id="screenshot" class="column" style="width:30%;">
        <img style='width:100%;' src='/assets/img/2fa/2fa01.jpg'>
    </div>
    <div class="column" style="width:50%;">
        Push Notifications
        <ol>
            <li><a href="#" onclick="loadPic('2fa/2fa01','#screenshot');">Open Arlo App and login, Tap on Ellipsis button</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa02','#screenshot');">Click/tap Settings</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa03','#screenshot');">Click/tap Profile</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa04','#screenshot');">Click/tap Login Settings</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa05','#screenshot');">Click/tap Two-step Verification</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa06','#screenshot');">Toggle Enable</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa07','#screenshot');">Check Push Notifications, Click/Tap Continue</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa08','#screenshot');">Click/Tap Trust</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa09','#screenshot');">Choose a name for the device, Click/Tap Continue</a></li>
            <li><a href="#" onclick="loadPic('2fa/2fa10','#screenshot');">2 Factor Authentication is enabled for the device.</a></li>
        </ol>
    </div>
</div>