<h4>GDPR Process and Escalation Procedure</h4>
<br>
<a href="#" onclick="openSite('https://www.arlo.com/en-us/about/privacy-policy/?cid=a')">Privacy Policy</a>
<br><br>

If the customer is calling regarding whether Arlo is GDPR compliant:
<ul>
    <li>Expert must refer the customer to GDPR statement above AND to the updated Private Policy which can be found in <a href="#" onclick="openSite('https://www.arlo.com/en-us/about/privacy-policy/?cid=a')">https://www.arlo.com/en-us/about/privacy-policy/?cid=a</a></li>
    <li>Expert can also forward this statement in writing to the customer OR link to it, but it MUST NOT be modified since we need to be sure we can honour any commitments we make in the statement.</li>
    <li>
        If the customer is asking about whether Arlo is GDPR compliant, expert’s spiel should be: <br>
        <b><i>"Mr. Customer, as GDPR is very broad regulation, I will follow up with you in writing, referring you to Arlo Privacy Policy and GDPR statement. Should you have any further questions afterwards, do not hesitate to contact us again at any stage."</i></b>
    </li>
    <li>Experts must refrain from saying, YES, Arlo is GDPR compliant.</li>
    <li>Such case does not need to be escalated to CCT, UNLESS customer follows up and is asking any extra questions about GDPR and compliance.</li>
</ul>

<h5>Escalate to CCT</h5>
If the customer is calling in relation to:
    <ul>
        <li>Account deletion</li>
        <li>Subject access</li>
        <li>Correction of inaccuracies</li>
        <li>Request to the processing of information</li>
        <li>Data portability request</li>
    </ul>
L1: 
<ul>
    <li>Expert receives Delete Me request from EU Customer</li>
    <li>Expert creates a Delete Me case to trigger approval process and escalates case to CCT</li>
</ul>
<br>