<br><br>
<h4 class="har">Getting HAR Logs</h4>
<div class="row">
    <div id="har-image" class="column" style="width:40%;">
        <img style='width:100%;' src='/assets/img/har/har-01.jpg'>
    </div>
    <div class="column" style="width:50%;">
        <p>
            <ol>
                <li><a href="#" onclick="loadPic('har/har-01','#har-image');">Open a Chrome browser, and press the option button at the top right corner.</a></li>
                <li><a href="#" onclick="loadPic('har/har-02','#har-image');">Select More Tools then click Developer Tools.</a></li>
                <li><a href="#" onclick="loadPic('har/har-03','#har-image');">Select Network tab, make sure recording is enabled (Red button).</a></li>
				<li><a href="#" onclick="loadPic('har/har-04','#har-image');">Log in as User then go to the CVR timeline. Try to play back the timeline.</a></li>
				<li><a href="#" onclick="loadPic('har/har-05','#har-image');">From the Developer Tools, right click the playlist item. If playlist does not exist, select the last item then choose the option Save as HAR with content.</a></li>
            </ol>
            You have successfully saved the HAR file logs.
        </p>
    </div>
    
</div>
<br><br>