<h4>Offline Syncing</h4>
<ol>
    <li>Turn off the router or bring the SmartHub to a different room away from the router.</li>
    <li>Plugin the SmartHub to power source and wait for the LED to start blinking amber.</li>
    <li>Remove the casing of the camera.</li>
    <li>Press the sync button of the SmartHub for not more than 2 seconds. SmartHub LED will stay blinking amber.</li>
    <li>Press the sync button of the camera for not more than 2 seconds. Camera LED will blink blue slowly then turns to rapid blinking blue.</li>
    <li>Turn on the router and plugin the SmartHub to the router.</li>
    <li>Wait for the SmartHub to be online, log into the App and complete the camera on boarding /check CS diag tool if the camera is synced now.</li>
</ol>