<h4>Android App Installation</h4>
<div class="row">
    <div id="screenshot" class="column" style="width:30%;">
        <img style='width:100%;' src='/assets/img/playstore/playstore01.jpg'>
    </div>
    <div class="column" style="width:50%;">
        Playstore
            <ol>
                <li><a href="#" onclick="loadPic('playstore/playstore01','#screenshot');">Tap on Play Store.</a></li>
                <li><a href="#" onclick="loadPic('playstore/playstore02','#screenshot');">Play Store screen.</a></li>
                <li><a href="#" onclick="loadPic('playstore/playstore03','#screenshot');">Search for Arlo. You can click on the arlo app if it shows. If not, tap on the magnifying glass.</a></li>
                <li><a href="#" onclick="loadPic('playstore/playstore04','#screenshot');">Tap on Arlo with Arlo Technologies, Inc.</a></li>
                <li><a href="#" onclick="loadPic('playstore/playstore05','#screenshot');">Tap on Install.</a></li>
                <li><a href="#" onclick="loadPic('playstore/playstore06','#screenshot');">Arlo App will download.</a></li>
                <li><a href="#" onclick="loadPic('playstore/playstore07','#screenshot');">Arlo App will install.</a></li>
                <li><a href="#" onclick="loadPic('playstore/playstore08','#screenshot');">Once finished, tap on Open.</a></li>
            </ol>
    </div>
</div>