<h4>Powersync Home Network</h4>
Using standalone Cable/DSL modem and router
<ol>
    <li>Turn off or shut down all your networking devices (Cable/DSL modem, Wired/Wireless router, and Wired & Wireless devices).</li>
    Note: Some modems are equipped with a backup battery. If your modem has one, please remove the backup battery to completely turn off your modem. 
    <li>Turn on the Cable/DSL modem first and let it boot up. This will take a couple of minutes while the modem is syncing with your ISP to establish a connection. In most cases all the LED lights will remain stable, however, always refer to the user manual of the modem to verify the status of the LED lights.</li>
    <li>Once the Cable/DSL modem completes the connection to your ISP, turn on the Wired/Wireless router. The router will now establish a connection with the Cable/DSL modem. This process will take a few minutes as well. In most cases, the Internet LED light on the router will turn solid green, however, please refer to the user manual of the router to verify the status of the LED lights.</li>
    <li>Turn ON your wired & wireless devices.</li>
</ol>

Using Cable/DSL gateway (modem router)
<ol>
    <li>Turn off or shut down all your networking devices (Cable/DSL modem, Wired/Wireless router, and Wired & Wireless devices).</li>
    <li>Turn on the Cable/DSL gateway first and let it boot up. This might take a couple of minutes while the Cable/DSL gateway is syncing with your ISP to establish a connection. In most cases all the LED lights will remain stable, however, always refer to the user manual of the Cable/DSL gateway to verify the status of the LED lights.</li>
    <li>Once the Cable/DSL gateway completes the connection to your ISP, turn ON your wired & wireless devices.</li>
</ol>