<h4>Arlo Q Installation with WPS</h4>
<div class="row">

    <div id="screenshot" class="column" style="width:30%;">
        <img style='width:100%;' src='/assets/img/qwps/qwps_01.jpg'>
    </div>
    <div class="column" style="width:50%;">
        <ol>
            <li><a href="#" onclick="loadPic('qwps/qwps_01','#screenshot');">Initiate installation as normal. When you get to the Verify WiFi password screen, enter any SSID and password.</a></li>
            <li><a href="#" onclick="loadPic('qwps/qwps_02','#screenshot');">Press and hold the sync button on the Arlo Q until it blinks blue. Click/tap continue.</a></li>
            <li><a href="#" onclick="loadPic('qwps/qwps_03','#screenshot');">On this page, DO NOT SCAN THE QR CODE. Click/tap continue.</a></li>
            <li><a href="#" onclick="loadPic('qwps/qwps_04','#screenshot');">Press and hold the WPS button on the router until it blinks. The Arlo Q should chime once it links with the router.</a></li>
        </ol>
    </div>
</div>