<h4>Security and Vulnerability</h4>
<ol>
    <li>Receives the call and gather customer information and concern/complaint details.</li>
    <li>Create case with correct tagging and complete documentation gathered. </li>

    <ul>
        <li>Case Type: Support</li>
        <li>Case Sub Type: Security /Vulnerability</li>
        <li>Problem: Security /Vulnerability</li>
        <li>Symptoms: Select specific concern</li>
        <li>Root Cause: Select specific resolution</li>
    </ul>
    <li>
        Expert assists the customer in answering security related advisories.
    </li>
    <li>Expert assists the customerin resetting changing account password.</li>
    <li>Expert directs the customer to a site where they can report bugs and new vulnerabilities.</li>
    <li>Escalate the case to CCT for any complaints arises from the security incidents.</li>
    <ul>
        <li>
            Escalate the case to CCT in Salesforce and send email to customerservice@arlo.comand<br>
            Copy DL-SupportOps (supportops@arlo.com) set with High Priority. <br>
            Email must also contain the following subject format: PSV - Customer Name - Case XXXXXXXX.
        </li>
    </ul>
</ol>