<h4>Video Retrieval</h4>
<ul>
    <li>Verify that there was really a recording on the date customer said and note when the recording disappeared from the Library.</li>
    <ul>
        <li>Verify that the recording was not manually deleted from the library.</li>
        <li>Verify with the customer if they personally saw the recording in the library.</li>
        <li>
            Verify that there is no filter set in the library that could cause the customer not to see the recording.
        </li>
        <li>Verify that the customer did not grant account access to anyone.</li>
        <li>Verify that no one has used the customer's devices that use Arlo.</li>
        <li>Verify that the customer did not log in to their Arlo account on someone else's device.</li>
    </ul>
    <li>Get the following details:</li>
        <ul>
            <li>Account Plan:</li>
            <li>Account email address:</li>
            <li>Date of the recording:</li>
            <li>Date the recording disappeared from the library:</li>
            <li>BS serial number</li>
            <li>X-cloud ID (retrievable from CS diag tool)</li>
        </ul>
    <li>Create P1 case and log the case using the following CEP codes:</li>
        <ul>
            <li>Video Request</li>
            <li>Customer requesting deleted/missing video</li>
            <li>Provided deleted video</li>
        </ul>
    <li>Escalate to L2.</li>
</ul>