<h4>Product Boxes</h4>
<br>
<select id='box_list' onchange="loadBox($('#box_list').val())">
	<option value="0" selected disabled>Select Device</option>
	<option value='chime-2'>Chime 2</option>
	<option value='essential-indoor'>Essential Indoor Camera</option>
</select>
<br>

<div id='show_box'></div>

<div id='chime-2' class="box_cam hiddenDiv"><br>

	
<iframe src="https://3dwarehouse.sketchup.com/embed/f779d867-49bf-4f9d-ad86-5f30b390a68d" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="95%" allowfullscreen></iframe>

</div>



<div id='essential-indoor' class="box_cam hiddenDiv"><br>
	
<iframe src="https://3dwarehouse.sketchup.com/embed/49161a53-c641-4fc5-ae17-3e7fead00ea3" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="95%" allowfullscreen></iframe>

</div>
	

<br> <br> 
