<h4>Subscriptions</h4>

<b style="font-size:10px;"><span style="background-color:#7d3b3b;color:white;padding:3px;">Scenarios</span> <span style="background-color:#346347;color:white;padding:3px;">Common FAQs</span></b>

<table style="border-collapse:collapse!important;" id="FAQ_table">
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">What would be the options for customers installing an Ultra kit? Since the Arlo Smart Premier is no longer available what do we offer for customers with more than 10 cameras? Do we plan to release a new free plan for the unsold SKUS?</h5>
			<p>Ultra customers still get the legacy smart plan included with their kit. That plan offers 10 cams. Once it expires, they can purchase one of our new plans. If the plan doesn’t activate and you decide to give them a coupon for the new elite plan, they can choose to buy single camera plans if needed for other cameras.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">We are still seeing free one-month trial eligibility for customers who never purchased a plan and able to subscribe to it (with the expiration date showing). When subscribed successfully, plan does not reflect on both billing and DT. This means that new customers subscribing may still see this prompt when going to subscription. Do we plan to still offer free 1 month plans to customers with the NSP or totally remove it?</h5>
			<p>The one-month trial is still valid for new customers who haven’t purchased a plan or used a free trial before.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">What if the customer has an existing old premier plan utilizing the maximum cameras and has an add on camera, does the customer have to cancel plan and re-purchase or will they see the option for the new add-on plans?</h5>
			<p>Old plans can’t be expanded by add-on smart plans, so that would not have worked in the past. Legacy plans and new plans can’t be mixed. If someone has legacy plans and uses the change plan flow, they will be informed about switching to new plans.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">I would like to verify what are the options that we can provide to the customers who have Business plans and wants to use Arlo Smart features for the cameras since we don't have Arlo Smart add-on now on the new service plan? Will they need to purchase Arlo Smart multi cam or single cam depending on the number of cameras that they want to activate for Arlo Smart?</h5>
			<p>We still offer Arlo smart add-on for business plans. It’s $2.99/cam. No change.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">With the old plan, customers can get a 50% discount on succeeding cameras if they will purchase CVR on multiple cameras. Will it be the same with the new plan?</h5>
			<p>Yes, same.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">Customer got 5 legacy cameras and is under the Basic subscription. If he/she will purchase an Arlo Video Doorbell in which has a 3-month free plan, will he/she be able to activate the Video doorbell even under the basic account or customer really need to purchase the Multi-camera plan? Would it be the same with other devices with free plan like Arlo Pro 3 and Ultra?</h5>
			<p>They can go without a plan or buy a plan just for the new model camera. They can keep 7-day free cloud for the other cams. There is an open bug on this scenario though. It should deploy in early Jan.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">For special bundles that supports 6 cameras under basic account like VMK3500, VMS4640P, etc., will it be still continued to support under the Basic account? Will it still apply with the new service plan for the new customers that purchased the mentioned SKUs?</h5>
			<p>Yes, please file a bug if you see otherwise.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5 class="hdanswers">In the scenario where customer has an Arlo Ultra system with Arlo Smart Premier trial and customer adds AVD that activates the free trial for 3 months. So, customer has old plan from Ultra and new plan from AVD. What happens if the free trial for AVD expires and customer decides to renew and there's still remaining months for the Arlo Smart Premier? Will it cancel the old Arlo Smart premier and does the customer needs to purchase a new plan? What do we recommend in case customer needs to purchase a new plan and customer still has remaining months for the premier trial?</h5>
			<p>The trials will run at the same time. Since there is no difference in smart functionality for the AVD it won’t matter much. Once the 3-month trial expires, the AVD automatically joins the legacy premier plan if there is an available slot. No functionality is lost, and the plan runs until it expires.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does my Arlo camera still have free 7-day rolling cloud recording?</h5>
			<p>If you have a legacy Arlo camera (Arlo Wire-Free, Pro, Pro 2, Go, Q, Q Plus, or Baby), your camera will continue to have the same free 7-day rolling cloud recording that was included with your purchase.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I keep my existing legacy Arlo Smart plan?</h5>
			<p>Yes. You can keep your existing legacy Arlo Smart plan. However, if you cancel or make changes to your plan, you are not able to return to the legacy plan.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>If I have an annual legacy Arlo Smart plan, will I be able to keep my plan?</h5>
			<p>Yes. You can keep your existing annual Arlo Smart plan. However, if you cancel or make changes to your plan, you are not able to return to the legacy plan.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Do I have to switch to a new Arlo Smart plan?</h5>
			<p>No. You can keep your existing legacy Arlo Smart Plan. If you want to switch plans, you can purchase a new Arlo Smart plan. When you make changes to your plan, you can’t return to your legacy plan.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I make changes to my legacy Arlo Smart plan?</h5>
			<p>No. If you want to make changes to your Arlo Smart plan, you must purchase a new Arlo Smart plan.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>If I choose to keep my legacy Arlo Smart plan, do I need to manually renew it, or will it automatically renew?</h5>
			<p>We will automatically renew your plan, unless there is an issue with the credit card that you provided.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>If I bought a new Arlo Smart plan, can I repurchase my legacy Arlo Smart plan?</h5>
			<p>No. Once you buy a new Arlo Smart plan, you can’t purchase the old legacy Arlo Smart plans.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>If I only use legacy Arlo cameras, do I have to purchase an Arlo Smart plan?</h5>
			<p>No. If you have a legacy Arlo camera (Arlo Wire-Free, Pro, Pro 2, Go, Q, Q Plus, or Baby), you continue to have free 7-day rolling cloud recording on up to 5 legacy cameras. If you want benefits like advanced object detection, longer video history, cloud activity zones, and more, then you can purchase an Arlo Smart subscription.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Why do I have to purchase a plan for all my legacy Arlo cameras if I add 1 camera to the original 5 cameras on my account?</h5>
			<p>The 7-day free cloud plan supports up to 5 cameras. If you have more than 5 cameras on your account, you must purchase a plan that supports all 5+ cameras. If you decide to cancel your paid plan, you will still have the option of using the 7-day free cloud plan for up to 5 of your legacy Arlo cameras (Arlo Wire-Free, Pro, Pro 2, Go, Q, Q Plus, or Baby).</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>If I cancel my Arlo Smart plan, do I still get free 7-day rolling cloud recording?</h5>
			<p>If you cancel your Arlo Smart plan – and you have a legacy Arlo camera (Arlo Wire-Free, Pro, Pro 2, Go, Q, Q Plus, or Baby) – you continue to have free 7-day rolling cloud recording that was included with the purchase of your camera.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>I have both legacy and new Arlo cameras; what Arlo Smart plan do I need to purchase?</h5>
			<p>If you have both legacy (Wire-Free, Pro, Pro 2, Go, Q Plus, Q, or Baby) and new (Ultra, Pro 3, and Video Doorbell) cameras, you can purchase an Arlo Smart Premier or Elite subscription plan. If you have fewer than 5 legacy cameras, you can choose to purchase a single-camera subscription for your Arlo Ultra, Pro3, or Video Doorbell.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>I have more than 5 Arlo cameras; what Arlo Smart plan should I purchase?</h5>
			<p>If you have more than 5 Arlo cameras, then you can purchase a single-camera Arlo Smart Premier or Elite plan for your additional camera(s). If you purchase a single-camera plan with a multi-camera plan, each single-camera plan purchase is half off the original price.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I combine new Arlo Smart plans?</h5>
			<p>With the new Arlo Smart plans, you can mix and match single- and multi-camera plans, so you can enable some cameras to record in up to 4K video resolution, while others record in up to 2K video resolution.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I purchase more than one multi-camera Arlo Smart plan?</h5>
			<p>No, you can only have one multi-camera plan. If you would like to add more than five cameras to your plan, you must purchase a single-camera plan for each additional camera.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I combine legacy Arlo Smart plans with new Arlo Smart plans?</h5>
			<p>No. If you would like to add a new Arlo Smart plan, you can’t continue to use your legacy Arlo Smart plan.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Did the continuous video recording (CVR) plan change?</h5>
			<p>No. You can still purchase a CVR plan to record 24/7 for 14 or 30 days. CVR plans offer up to 1080p recording.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What happened to the premium video recording (PVR) add on?</h5>
			<p>The premium video recording (PVR) add on was removed for a more flexible and customizable experience. Arlo Smart plans include 2K or 4K recording capabilities.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What business plan options does Arlo provide?</h5>
			<p>Arlo business plans record up to 1080p on 16 to 40 cameras. To learn more, visit <a href="https://www.arlo.com/en-us/arlo-for-business/default.aspx" target="_blank">Arlo Business Plans.</a></p>
		</td>
	</tr>
</table>












<br><br>