<h4>Video Doorbell</h4>

<table style="border-collapse:collapse!important;" id="FAQ_table">
	<tr class="FAQ_row">
		<td>
			<h5>Can you briefly describe what Arlo Video Doorbell is and why it was created?</h5>
			<p>Designed to capture what was traditionally limited with competitive video doorbells, the new front entry solution allows users to get a bigger, more precise picture of their front porch. The Video Doorbell offers features such as a high-definition camera with an ultra-wide field-of-view along with clear, two-way audio for users to simultaneously see and speak to visitors.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What makes Arlo Video Doorbell superior to other video doorbells in the market?</h5>
			<p>Arlo Video Doorbell is not only compatible with all the products in Arlo’s ecosystem, but also with other smart home products such as the Amazon Alexa, Google Assistant, and IFTTT. Arlo Video Doorbell offers more comprehensive benefits with its easy DIY setup, quick reply messaging feature, 180-degree field-of-view,  night vision, and advanced software capabilities.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Do I need to purchase other Arlo devices in order to use the Video Doorbell?</h5>
			<p>No, Arlo Video Doorbell can operate as a standalone product, although it is compatible with other devices within Arlo’s ecosystem.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does the Arlo Video Doorbell need a base station or does it work like an Arlo Q in which it connects directly over Wifi?</h5>
			<p>No, the Video Doorbell does not need a base station as it connects directly to your 2.4Ghz home WiFi network.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What video resolution does the Video Doorbell output?</h5>
			<p>It records and outputs video in HD 1536 x 1536 square resolution.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What are the minimum requirements to use Arlo Video Doorbell?</h5>
			<p>To install Arlo Video Doorbell, users must have a wired doorbell and chime with existing electrical wiring, voltage between 16V AC and 24V AC, and a 10VA transformer.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Why does the Arlo Video Doorbell have a wired design?</h5>
			<p>The Arlo Video Doorbell requires a connection to a wired mechanical or digital chime in order to enable continuous power, reduce latency, and capture and transmit videos in real-time so users won’t miss a moment.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>How easy is it to install Arlo Video Doorbell?</h5>
			<p>Simply download the Arlo app and follow the setup instructions for Arlo Video Doorbell. Then connect the power kit to your existing chime and replace your existing doorbell with your Arlo Video Doorbell. A Phillips head screwdriver is required to install the doorbell (not provided). Users may also benefit from having a drill, a level, and a ladder to reach the chime if needed.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I install the Arlo Video Doorbell if I don’t have an existing doorbell?</h5>
			<p>Arlo Video Doorbell requires a connection to a wired mechanical or digital chime in order to enable continuous power, reduce latency, and capture and transmit videos in real-time so users won’t miss a moment.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What comes with the Arlo Video Doorbell?</h5>
			<p>The Arlo Video Doorbell is packaged with the doorbell and flat mounting plate (these parts are attached to each other), power kit, release pin, angled mounting plate, wall screws and anchors, optional wire extensions, wire fasteners and extra screws.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Just how wide is the viewing angle on Arlo Video Doorbell?</h5>
			<p>The lens is a 180-degree lens, with a matching wide range for motion detection. The new Video Doorbell users to see a person from head to toe or a package on the ground.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is the distance of sight/line of sight of the Arlo Video Doorbell from the Base Station?</h5>
			<p>The Arlo Video Doorbell is designed to connect directly to your home 2.4GHz WiFi network -- no base station required! As for range, the Arlo Video Doorbell is designed to meet the same wireless range requirements as Arlo’s wire-free camera lineup, up to 300 feet, line-of-sight, for your WiFi router. This distance can vary depending on obstacles such as concrete or stucco walls, metallic barriers or WiFi interference.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is the average internet connection speed required for the Arlo Video Doorbell?</h5>
			<p>A high-speed internet connection with at least 2Mpbs upload is recommended to sustain the average bandwidth use of the Arlo Video Doorbell.<br>
				<span class="spanLink" onclick="window.open('https://kb.arlo.com/000062043/What-are-the-minimum-requirements-for-installing-and-using-my-Arlo-system','KB', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=1000,height=600,top='+300+',right='+300);">KB: What are the minimum requirements for installing and using my Arlo system</span>
			</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is the best distance to optimize motion detection?</h5>
			<p>The motion detection sensitivity can be adjusted on the Arlo Video Doorbell to best suit your needs and front entry environment. The best area for motion detection is 3 to 15 feet from the doorbell.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does Arlo Video Doorbell have zoom capabilities?</h5>
			<p>Yes, the Arlo Video Doorbell includes a manual zoom feature to get 12 times closer to the subject.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is Arlo Video Doorbell compatible with my existing Arlo System?</h5>
			<p>Yes, Arlo Video Doorbell can be paired with other Arlo products.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Where can I see my Video Doorbell recordings?</h5>
			<p>The Arlo Video Doorbell comes with a 3 months free trial of Arlo Smart, which enables users to store their videos in the cloud for up to 30 days. After the 3 month trial, users can continue storing their videos in the cloud with a paid subscription, which they can view anywhere through the Arlo app.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does the Video Doorbell record to SD card/local drive or built-in memory?</h5>
			<p>No, the Arlo Video Doorbell does not have local storage or an SD card available on the doorbell.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can you tell me more about the Arlo Video Doorbell notifications?</h5>
			<p>Smartphone notifications are also included as part of the 3 months trial of Arlo Smart upon purchasing Arlo Video Doorbell. Users will be notified when the device detects a person, pet, or package at their front door. Arlo’s new rich notifications (currently available in the US only) enable users to take action immediately upon receiving a notification, such as activating a siren, calling a friend, or calling 911 (for U.S. only). Users can also use Silent Mode to disable push notifications and silence the chime.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Are users technically inside the Arlo app when answering a call from their Video Doorbell?</h5>
			<p>Yes, answering the phone call automatically connects users to the Arlo app.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What software is compatible with the SIP call feature?</h5>
			<p>The SIP call feature is compatible with iOS 10.3 and later along with Android 5.0 and later.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What happens if a potential intruder tries to break the Video Doorbell before entering my home?</h5>
			<p>Arlo Video Doorbell includes tamper detection, so a siren can be triggered if someone attempts to remove or break the device.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can users adjust the duration of the siren? What’s the minimum and maximum duration?</h5>
			<p>The siren will play for 5 minutes or until the owner cancels the alarm.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Do users have the option to turn the siren on and off via the app similar to Arlo base stations and SmartHubs?</h5>
			<p>Yes, the siren is activated through the same in-app on/off functionality as used for Arlo base stations and SmartHubs</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can a user turn on/off tamper detection in the app? How exactly does it work?</h5>
			<p>Since tamper detection is automatic with the Video Doorbell, it cannot be adjusted in device settings. If power has been removed from the device, a user will receive a notification with a call-to-action (i.e. activate the siren, call e911, etc.)</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What happens when a user’s 3-month trial of Arlo Smart expires?</h5>
			<p>With every purchase of an Arlo Video Doorbell, users will receive a complimentary 3 month trial to Arlo Smart, Arlo’s AI and computer vision based service. After the 3 months, users will have the option to enroll in a plan that fits their needs and preferences.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can you give full administrative control of the Video Doorbell and viewing privileges to another person?</h5>
			<p>Yes, via the Arlo app you can establish temporary viewing privileges often helpful in travel scenarios, or grant other family members, friends, and neighbors with desired access levels.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does Arlo Video Doorbell use the existing Arlo app?</h5>
			<p>Yes. Arlo Video Doorbell can be monitored and controlled via the new Arlo app along with other Arlo devices.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Where can I purchase the Video Doorbell and how much does it cost?</h5>
			<p>The Video Doorbell is now available for pre-order at Best Buy and will be rolling out to other national retail outlets at  MSRP (Manufacturer's Suggested Retail Price) of $149.99.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>When will Arlo be releasing the Video Doorbell on Arlo.com?</h5>
			<p>The Video Doorbell is already listed on Arlo.com and customers can sign up to be notified when it is officially available for purchase.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does the Video Doorbell offer different mounting options?</h5>
			<p>Arlo Video Doorbell includes an angled mounting plate and wedge for flexible, precise mounting.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is there a locking mechanism for the Video Doorbell?</h5>
			<p>The Arlo Video Doorbell securely looks into the provided mounting plate. There is a Release Pin included with each Arlo Video Doorbell that customers can use to remove the doorbell, if needed.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can the Arlo Video Doorbell pair with Arlo cameras? If so, which cameras, and how does this work?</h5>
			<p>The Arlo Video Doorbell cannot pair with a camera like the Audio Doorbell does. This is because Video Doorbell has its own camera. Cross-triggering is the same as existing wire-free cameras – motion/audio detection from the Video Doorbell can trigger other cameras to record.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Do visitors here a ring tone while waiting for the homeowner to answer the call?</h5>
			<p>No, there is not an audible ring tone played back for the visitor, though they can likely hear the homeowner’s indoor chime.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is the difference between VoIP and SIP?</h5>
			<p>VoIP (Voice Over Internet Protocol) is limited to voice transmissions only whereas SIP (Session Initiation Protocol) is a communications protocol that is widely used for managing multimedia communication sessions such as voice and video calls.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is the Video Doorbell capable of CVR?</h5>
			<p>No, CVR is not supported on the Arlo Video Doorbell.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is the Video Doorbell capable of utilizing Activity Zones?</h5>
			<p>Yes, with an Arlo Smart subscription or trial, cloud-based activity zones are available.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is the Video Doorbell capable of 3 seconds look-back since it’s wired?</h5>
			<p>Yes, the Arlo Video Doorbell features 3-second look-back buffering.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is there a reset/sync button on the Video Doorbell?</h5>
			<p>When first setting up the Arlo Video Doorbell, the front doorbell can be used to sync the doorbell to your WiFi. To reset the Video Doorbell, users can find a pin-hole button on the back of the device and use the tool that came with the original packaging to reset the device.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does the Video Doorbell have full duplex audio?</h5>
			<p>Yes, and it features echo cancellation. The full duplex audio eliminates push-to-talk conversations, enabling users to talk and listen at the same time.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is leaving a message on the Video Doorbell the same as the Audio Doorbell?</h5>
			<p>Yes. When a visitor presses the doorbell, after 20 seconds a voicemail prompt will appear. This is also the case when a user declines a doorbell call. However, users who do not subscribe to a paid plan will not have access to these prompts.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is the exact video resolution?</h5>
			<p>The Arlo Video Doorbell offers 1536x1536 square video, which is optimized for both the front entry and mobile devices. The 1:1 aspect ratio, combined with Arlo’s ultra-tall field of view, lets you see packages on the ground and a person from head to toe.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does the Video Doorbell operate on battery power or does it rely on low-voltage wiring from an existing doorbell?</h5>
			<p>The Arlo Video Doorbell connects to existing electrical/doorbell wiring with voltage between 16V AC and 24V AC, and a 10VA transformer.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What voice assistants will the Video Doorbell work with at launch? Is there any Alexa/Google Assistant/HomeKit compatibility?</h5>
			<p>It is a goal of Arlo’s to make as many cameras compatible with Alexa, Google Assistant and HomeKit, but we don’t have an announcement to make regarding Video Doorbell voice assistant compatibility at this time.</p>
			<p>Alexa - Badging is contingent on implementing two-way talk. Integration is work in progress. ETA – 1Q20</p>
			<p>Google – After we finish off Alexa, team will work on Google. Google also made two-way talk as must for certification. ETA – 2Q20</p>
			<p>SmartThings – SmartThings has stopped working on integration from their side, and wants to transition development work to us. ETA – 2Q20</p>
			<p>HomeKit Support - BS/SH Support dependent - Need ETA but last communicated date was end of Q4 2019</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is there a free cloud recording and storage option? What do customers get for free?</h5>
			<p>The Arlo Video Doorbell comes with a 3-month free trial of Arlo Smart, which enables users to store their videos in the cloud for up to 30 days. After the 3-month trial, user can continue storing their videos in the cloud with a paid subscription. Customers will always have the ability to receive instant alerts, live-stream video from their doorbell, receive a direct-to-mobile video call from a doorbell press, and play quick reply messages, even without a paid subscription plan.<br>
				<span class="spanLink" onclick="window.open('https://kb.arlo.com/88/What-are-the-available-Arlo-subscription-plans-and-how-much-cloud-recording-is-available','KB', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=1000,height=600,top='+300+',right='+300);">KB: What are the available Arlo subscription plans and how much cloud-recording is available?</span>
			</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is there any free storage option with Video Doorbell once the 3-month trial subscription expires?</h5>
			<p>After the included 3-month trial of Arlo Smart, users can continue storing their videos in the cloud with a paid subscription, which they can view from anywhere through the Arlo App.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does the Video Doorbell require a hub like the Pro cameras? If not, why?</h5>
			<p>Video Doorbell does not require the Smart Hub to connect as it can be connected to the owner’s WiFi network.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is the siren built into the Video Doorbell? How many decibels is it?</h5>
			<p>The Video Doorbell features a built-in siren to startle and deter intruders.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is there a required chime connector accessory? Is it for mechanical or digital chimes?</h5>
			<p>No, since the Arlo Video Doorbell is a wired solution, it connects with your existing chime’s electrical wiring. Users just need to ensure the power kit supplied with the Arlo Video Doorbell is attached to the chime during install.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Since the Video Doorbell is wired, can it be connected to an Arlo Digital Chime?</h5>
			<p>The Arlo Video Doorbell makes use of an existing wired traditional mechanical or digital chime. At this time, the Arlo Chime is not supported.</p>
		</td>
	</tr>

</table>












<br><br>