<h4>Arlo Pro 3 FAQ</h4>

<table style="border-collapse:collapse!important;" id="FAQ_table">
	<tr class="FAQ_row">
		<td>
			<h5>Does Arlo Pro 3 output 2K resolution?</h5>
			<p>Yes. Arlo Pro 3 outputs 2560x1440 resolution at 16x9 aspect ratio.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What does color night vision mean?</h5>
			<p>Typical night-time video footage from security cameras is displayed in black and white. Arlo Pro 3 can output images in color, even at night.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is High Dynamic Range (HDR)?</h5>
			<p>HDR solves the problem with over- or under-exposed images of scenes with both bright and dark areas in the same picture. Arlo Pro 3 automatically determines when to use HDR.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>How wide is the viewing angle on Arlo Pro 3?</h5>
			<p>The lens is a 160-degree diagonal lens with a matching wide range for motion detection. This provides a panoramic view as if your eyes were there.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I use Arlo Pro 3 indoors and outdoors?</h5>
			<p>Yes. Arlo Pro 3 is outdoors weather resistant. It is wire free and does not require continuous power. With an additional, outdoor-rated charge cable, you can use Arlo Pro 3 outdoors with continuous power.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What are the benefits of 2K in a security camera?</h5>
			<p>With 2K you can see more details in every image, even when zoomed in.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is the Auto Zoom and Tracking feature?</h5>
			<p>When Arlo Pro 3 detects motion, it automatically zooms in and tracks the motion for you. This tracking shows up as curated clips that are stored in the cloud for your easy access and playback.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>When does the integrated spotlight turn on?</h5>
			<p>The spotlight turns on in low-light settings. You can also manually turn it on or off.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What are the benefits of the SmartHub?</h5>
			<p>The Arlo SmartHub helps to protect your footage by adding a secure, personal network to your router. The SmartHub also helps to regulate WiFi traffic, improves battery life, and comes with local storage (USB devices are sold separately).</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does Arlo Pro 3 include a Arlo Smart trial?</h5>
			<p>Yes. Every Arlo Pro 3 kit comes with a 3-month trial of Arlo Smart.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What are the benefits of the magnetic charger?</h5>
			<p>The magnetic charger provides an easy, snap-in, truly weather-resistant charging solution for both indoors and out.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Do Arlo Pro 3 kits include mounting hardware?</h5>
			<p>Yes. The camera kits include screw kits to help you mount.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does Arlo Pro 3 include a siren?</h5>
			<p>Yes. A siren sound plays directly from the camera. It can be set to trigger manually or automatically when motion or audio is detected.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Am I able to mount my Arlo Pro 3 camera from a ceiling?</h5>
			<p>Yes. The new mounting system allows Pro 3 to be mounted from a ceiling. The simple-to-use clip design provides a secure way to mount from almost anywhere.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What is the minimum upload bandwidth speed required?</h5>
			<p>The Arlo Pro 3 camera uses an average of 2Mbps upload bandwidth per camera.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Will 2K work on the Arlo Pro 3 battery?</h5>
			<p>Yes. An efficient video encoding scheme as well as battery optimization algorithms between the camera and SmartHub allow 2K to work with the Arlo Pro 3 battery.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Does Pro 3 support full 2-way audio?</h5>
			<p>Yes. You are able to have full conversational audio with Arlo Pro 3.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Is 2k recording free?</h5>
			<p>Users of Arlo Pro 3 can enjoy 2k content without a subscription. You can use 2K by local live streaming or recording 2k motion content onto a USB device when inserted into an Arlo SmartHub. We recommend you purchase an add on service to store 2K, motion-activated clips to the Arlo Cloud for easy access anywhere your mobile app has a data connection.</p>
		</td>
	</tr>
</table>
<br><br>