<h4>HelloTech FAQ</h4>

<table style="border-collapse:collapse!important;" id="FAQ_table">
	<tr class="FAQ_row">
		<td>
			<h5>IMPORTANT</h5>
			<p>When referring to HelloTech, send an email to your TM with the following details:</p>
			<ol>
				<li>Case Number</li>
				<li>Issue of the customer</li>
				<li>Reason why customer was referred to HelloTech</li>
			</ol>
			<p>Before referring the customer to HelloTech, please ensure that the Video Doorbell is proven to be NOT defective.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Service Overview</h5>
			<p>HelloTech will provide customers with expert, in-home installation and device support.</p>

			<p>Their techs will assess the installation area, set up products, and establish connectivity between the devices and applications. Not only will they install and set up new devices, they will show them how to masximize its value.</p>

			<p>Customers can either add professional installation to their cart on Arlo.com (coming soon - may not be available at launch) or be referred to HelloTech by an Arlo expert.</p>

			<p>To book, customers can visit hellotech.com/arlo (currently <a href="https://www.hellotech.com/tech-support/arlo-install">https://www.hellotech.com/tech-support/arlo-install</a> is accessible) or call into HelloTech support and provide details about the device(s) or service that they would like to have set up, their location, and a convenient time for service. HelloTech asks that they provide a few possible times so that they can accommodate the customer's request as quickly as possible.</p>

			<p>The technician will arrive at th customer's home, at requested time - not 4 hour windows of time.</p>

			<p>HelloTech is made up of a network of several thousand, background-checked and vetted technicians based in large ans small cities across the country.</p>

			<p>Experts will either warm transfer the customers to HelloTech or refer customers to the HelloTech phone number in order to schedule, reschedule, or cancel their appointment. Customer would also use this number to schedule a follow-up visit if they missed their appointment (no-show) or were not preapred for their appointment (no hardware, Wi-Fi, etc.).</p>

			<p>HelloTech Support representatives are available by phone 24/7 at 1-844-385-7655.</p>

			<p>Service is available from 9 a.m. to 9 p.m., 7 days a week.</p>

			<p>30-day service guarantee - If there's a problem with any work performed, customers can simply contact HelloTech Support to arrange a follow-up service.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Scope of Work</h5>
			<h6>Video Doorbell</h6>
			<ul>
				<li>Download the Arlo app on iOS or Android</li>
				<li>Connect all necessary video and basic audio components</li>
				<li>Add Arlo Video Doorbell to begin setup and installation</li>
				<li>Locate the existing wired mechanical or digital chime</li>
				<li>Turn power off</li>
				<li>Install the Arlo Power Kit at the chime</li>
				<li>Replace the traditional doorbell with the Arlo Video Doorbell</li>
				<li>Turn power back on</li>
				<li>Connect to the doorbell to local 2.4GHz WiFi via QR code within the app</li>
				<li>Confirm doorbell and chime are working</li>
			</ul>
			<ul>
				<li>Arlo Video doorbell: $99</li>
				<li>Add-on transformer/WiFi Extender installationa and parts: $79</li>
			</ul>

			<h6>Indoor/Outdoor Cameras/Security Lights</h6>
			<ul>
				<li>Identify the installation area</li>
				<li>Install Arlo base-station/SmartHub</li>
				<li>Install smart home security cameras and lights</li>
				<li>Connect cameras and lights to existing WiFi network and perform first-time set up</li>
				<li>Install and set-up mobile app</li>
				<li>Demonstrate commonly used features</li>
			</ul>
			<ul>
				<li>Indoor Cameras: $99 (up to 3 cameras)</li>
				<li>Outdoor Cameras: $149 (up to 3 devices)</li>
				<li>Security Lights: $149 (up to 3 devices)</li>
				<li>Add-on per camera: $20 (above 3 cameras)</li>
				<li>Add-on Skins and mounts: no charge</li>
			</ul>
		</td>
	</tr>	

	<tr class="FAQ_row">
		<td>
			<h5>Standard Fees</h5>
			<h6>Cancellation</h6>
			<ul>
				<li>Customers may cancel a confirmed appointment up to 24 hours prior to the appointment time.</li>
				<li>A $25 cancellation fee will be applied to cancellations made within 3 to 24 hours of a confirmed appointment.</li>
				<li>A $35 cancellation fee will be applied to appointments cancelled within 3 hours of the appointment time.</li>
			</ul>
			<h6>Rescheduling</h6>
			<ul>
				<li>Customers may reschedule a confirmed appointment up to 3 hours prior to the appointment time.</li>
				<li>A $25 service fee will be applied to appointments rescheduled within 3 hours of the appointment time.</li>
				<li>If customers need to cancel or reschedule an appointment,m please have them call HelloTech Support at 1-844-385-7655 to ensure prompt attention.</li>
			</ul>
			<h6>Unable to Complete</h6>
			<ul>
				<li>If HelloTech begins work and, after trying to complete the installation, is unable to finish due to an error or omission of the customer, they will be charged in full for the scheduled service.</li>
				<li>If it's due to an error or omission of Arlo (defective hardware and/or partial equipment), Arlo will be charged in full.</li>
			</ul>
			<h6>Customer No-Show</h6>
			<ul>
				<li>A $35 no-show fee will be applied for customers who are not on-site for their confirmed appointment.</li>
			</ul>

		</td>
	</tr>
</table>
<br><br>