<h4>Remote Access to Local Storage (RATLS)</h4>

<table style="border-collapse:collapse!important;" id="FAQ_table">
	<tr class="FAQ_row">
		<td>
			<h5>Can I use Direct Storage Access WITHOUT an internet connection if I’m at home?</h5>
			<p>NO – we use the Arlo cloud to send authentication from device to the SmartHub. You must have an internet connection.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>How many days are shown in the SmartHub library?</h5>
			<p>30 days rolling</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>What happens after 30 days?</h5>
			<p>Clips are not accessible from the Arlo app. User must physically remove the microSD or USB and plug into their computer.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>When are clips deleted from the microSD or USB drive?</h5>
			<p>Depends on user setting; if user opted for automatic overwrite, then old clips are deleted as space runs out. Alternatively, clips can be removed when the user removes the drive and manually deletes them on a computer.</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I filter clips by Smart object recognition type?</h5>
			<p>No, these clips are never analyzed by the Arlo cloud</p>
		</td>
	</tr>
	<tr class="FAQ_row">
		<td>
			<h5>Can I see manual recordings or snapshots?</h5>
			<p>No, these are stored in the cloud only</p>
		</td>
    </tr>
    <tr class="FAQ_row">
		<td>
			<h5>Can I delete SmartHub clips from the app?</h5>
			<p>No. This is for security.</p>
		</td>
    </tr>
    <tr class="FAQ_row">
		<td>
			<h5>If a user does not have a VPN router, what are their options for using Direct Storage Access?</h5>
			<p>They can use Port Forwarding, but they must configure their router to open the ports for the SmartHub.</p>
		</td>
    </tr>
    <tr class="FAQ_row">
		<td>
			<h5>What if the user is uncomfortable with Port Forwarding but they want access to recordings stored on the SmartHub from outside the home?</h5>
			<p>They should either purchase and install a router that can provide a VPN, or they should subscribe to Arlo Smart and store clips in the cloud.</p>
		</td>
    </tr>
    <tr class="FAQ_row">
		<td>
			<h5>What if the user has Ultra or Pro 3, doesn’t have a VPN router, and doesn’t want to use Port Forwarding, but wants free clip storage?</h5>
			<p>Inform the user that, unfortunately, we do not offer free clip storage on Ultra or Pro 3.</p>
		</td>
    </tr>
    <tr class="FAQ_row">
		<td>
			<h5>Why don’t we help a user to set up Port Forwarding or VPN on their specific router / device?</h5>
			<p>
                There are an enormous number of routers. We can’t be experts on all routers; this will also take a lot of time from helping customers with other issues.<br>
                Setting up a VPN or Port Forwarding will be standard functionality for the router; as such, the user should contact the manufacturer of the router for help with this. In some limited cases, the user may also need to contact their ISP to allow port forwarded traffic.
            </p>
		</td>
    </tr>
    <tr class="FAQ_row">
		<td>
			<h5>I have Port Forwarding enabled, but I sometimes don’t see my Library when outside the home.</h5>
			<p>Please contact the owner of the Wi-Fi network or the ISP. It is possible that the port is being blocked on the outside-the-home network.</p>
		</td>
    </tr>
</table>