<h4>Arlo Flood Light Documentation</h4>

<button onclick="$('#pdfviewer').attr('src','/assets/pdf/FB1001-Specifications.pdf');">Specifications</button>
<button onclick="$('#pdfviewer').attr('src','/assets/pdf/FB1001-Onboarding.pdf');">Onboarding</button>
<button onclick="$('#pdfviewer').attr('src','/assets/pdf/FB1001-Troubleshooting.pdf');">Troubleshooting</button><br><br>
<iframe id="pdfviewer" src="/assets/pdf/FB1001-Specifications.pdf" style="width:100%; height:110%;" frameborder="0"></iframe>
<br><br><br>