<h4>Edit Privileges</h4>
<br>
<ol>
    <li>Launch the Arlo app or log in to your Arlo account at my.arlo.com.</li>
    <li>Tap or click Settings.</li>
    <li>Under account, tap or click Grant Access.</li>
    A list of your friends displays with the status of their accounts.
    <li>Tap or click a friend and Edit.</li>
    <li>Tap or click cameras to select or deselect them.</li>
    <li>Move the Allow Access Rights slider to the right to grant your friend more privileges.</li>
    Note: When you grant access rights to your friends, they can change your account and camera settings.
    <li>Tap or click Done.</li>
    Your settings are saved.
</ol>

<h4>Access Rights Privileges</h4>
<br>
Friends who are granted access rights can do the following:
<ul>
    <li>Play and pause video footage</li>
    <li>Record video footage</li>
    <li>Mute the speaker</li>
    <li>Enter full-screen view</li>
    <li>View live footage</li>
    <li>Zoom and drag video footage</li>
    <li>Control brightness</li>
    <li>Access and change modes</li>
    <li>View motion detection statuses</li>
    <li>Manually record</li>
    <li>Take snapshots</li>
    <li>Favorite, share, download, and delete video footage</li>
    <li>Use a camera's microphone</li>
</ul>
<br>
Friends without access rights can do the following:
<ul>
    <li>Play and view library content</li>
    <li>View live footage</li>
    <li>Zoom and drag video footage</li>
    <li>Control brightness</li>
    <li>Enter full-screen view</li>
</ul>