<h4>Video Doorbell</h4>

<table style="border-collapse:collapse!important;" id="LED_table">
	<tr class="LED_row">
		<td><h5 style="width:100%; padding: 0px; margin:0px;text-align:center">Solid White</h5>
			<video id="vdb_video" width="50%" height="auto" autoplay loop>
				<source id="vdb_video_src" src="/assets/videos/vdb-solid-white.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<div>The doorbell is powered on and ready for setup.</div>
		</td>
		<td><h5 style="width:100%; padding: 0px; margin:0px;text-align:center">Slow Blinking White</h5>
			<video id="vdb_video" width="50%" height="auto" autoplay loop>
				<source id="vdb_video_src" src="/assets/videos/vdb-slow-blinking-white.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<div>Processing.</div>
		</td>
		<td><h5 style="width:100%; padding: 0px; margin:0px;text-align:center">Fast Blinking White</h5>
			<video id="vdb_video" width="50%" height="auto" autoplay loop>
				<source id="vdb_video_src" src="/assets/videos/vdb-fast-blinking-white.mp4" type="video/mp4">
				Your browser does not support the video tag.</div>
			</video>
			<div>Successful.
		</td>
		<td><h5 style="width:100%; padding: 0px; margin:0px;text-align:center">Solid Amber</h5>
			<video id="vdb_video" width="50%" height="auto" autoplay loop>
				<source id="vdb_video_src" src="/assets/videos/vdb-solid-amber.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<div>The doorbell is not receiving enough power.</div>
		</td>
		<td><h5 style="width:100%; padding: 0px; margin:0px;text-align:center">Blinking Amber</h5>
			<video id="vdb_video" width="50%" height="auto" autoplay loop>
				<source id="vdb_video_src" src="/assets/videos/vdb-blinking-amber.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<div>A WiFi error has occurred, or your doorbell failed to scan the QR code on the Arlo app when connecting to a 2.4GHz WiFi network. Make sure that both your Arlo Video Doorbell and your mobile device are connected to the same 2.4GHz WiFi network.</div>
		</td>
	</tr>
</table>
<br><br><br>
