<h4>Miscellaneous Information</h4>
<br>
<p>Drill bit size with anchor for adjustable mount		: <b>7/32</b></p>
<p>Exact size of screw									: <b>2.84*19.5mm, diameter of 5.4mm</b></p>
<p>Length of Outdoor Power Cable and Adapter (VMA4900)	: <b>8.2ft (2.5m)</b></p>
<p>Length of Indoor Power Cable and Adapter (VMA4800)	: <b>10ft (3.0m)</b></p>
<p>Length of Solar Panel (VMA4600) Cable				: <b>6ft (1.8m)</b></p>
<p>Angle for Solar Panel: US							: <b>Use the latitude, times 0.76, plus 3.1 degrees.</b></p>
<p>CCT Phone Number										: <b>1-833-898-6988</b></p>
<p>NetGear Support Number								: <b>1-888-638-4327</b></p>
<p>HelloTech Phone Number								: <b>1-844-385-7655</b></p>
<h5>Firmware Versions as of 07/17/2020</h5>
<p>Arlo Base Station VMB5000 - <b>1.16.2.4_629_f4757f1</b></p>
<p>Arlo Base Station VMB4540 - <b>1.16.2.4_597_f4757f1</b></p>
<p>Arlo Base Station VMB4500 - <b>1.16.2.4_3403_f4757f1</b></p>
<p>Arlo Base Station VMB4000 - <b>1.16.2.4_3505_f4757f1</b></p>
<p>Arlo Base Station VMB3500 - <b>1.12.2.7_7_dd3c705</b></p>
<p>Arlo Base Station VMB3010 - <b>1.12.2.9_619_04968d8</b></p>
<br>
<p>Arlo Essential VMC2030       - <b>1.080.16.4_353_9611d6f</b></p>
<p>Arlo Wire Free VMC3030       - <b>1.4.293</b></p>
<p>Arlo Pro VMC4030             - <b>1.092.0.25_24_986</b></p>
<p>Arlo Pro 2 VMC4030P          - <b>1.125.14.0_31_1189</b></p>
<p>Arlo Pro 3 VMC4040P          - <b>1.060.10.18_749_4b65ff8	</b></p>
<p>Arlo Ultra VMC5040           - <b>1.070.50.4_223_df6cd69</b></p>
<p>Arlo Go Mobile VML4030       - <b>1.096.3.0_1.8.57.0_18</b></p>
<br>
<p>Arlo Q VMC3040               - <b>1.9.0.0_269</b></p>
<p>Arlo Q+ VMC3040S             - <b>1.9.0.0_269</b></p>
<p>Arlo Baby ABC1000            - <b>1.9.13.0_815</b></p>
<br>
<p>Arlo Security Light AL1101   - <b>3.2.51_25497</b></p>
<p>Arlo Bridge ABB1000          - <b>2.0.1.0_267_230</b></p>
<p>Arlo Pro 3 Floodlight FB1001 - <b>2.0.1.0_267_230</b></p>
<br>
<p>Video Doorbell AVD1001       - <b>1.14.3.0_557_7a263ee_58dd815</b>
<p>Arlo Audio Doorbell AAD1001  - <b>1.2.0.0_314_287</b></p>
<p>Arlo Chime AC1001            - <b>1.2.0.0_314_283</b></p>
<br>
<p>Arlo iOS Mobile App version  - <b>2.18.1</b></p>
<p>Arlo Android Mobile App version <b>2.18.1</b></p>
<p>My Arlo Web Client version   - <b>2.18.1_2</b></p>
<p>Arlo Account Clientversion   - <b>2.18.1_2</b></p>
<br><br>