<h4>Model Number</h4>
<br>
<div id="table">
  <div id="row">

  	<div id="left" style="background-color:#77b48e">
  		<h4>Device </h4>
		<p>Video Doorbell </p>
  		<p>Wirefree </p>
  		<p>Q </p>
  		<p>Q+ </p>
  		<p>Pro </p>
  		<p>Pro 2 </p>
		<p>Pro 3 </p>
		<p>Go </p>
		<p>Baby </p>
		<p>Ultra </p>
        <p>Audio Doorbell </p>
        <p>Video Doorbell </p>
		<p>Arlo Security Light </p>
		<p>Arlo Bridge </p>
		<p>Solar Panel </p>
  		<p>Arlo BS </p>
  		<p>Arlo BS LC </p>
  		<p>Arlo Pro BS </p>
        <p>Arlo Pro BS LC </p>
        <p>Arlo Pro3 Smarthub </p>
  		<p>Ultra Smarthub </p>

  	</div>

  	<div id="right">
    	<h4>Serial Number</h4>
		<p>AVD1001</p>
    	<p>VMC3030</p>
    	<p>VMC3040</p>
    	<p>VMC3040S</p>
    	<p>VMC4030</p>
    	<p>VMC4030P</p>
		<p>VMC4040P</p>
		<p>VML4030</p>
		<p>ABC1000</p>
		<p>VMC5040</p>
        <p>AAD1001</p>
        <p>AVD1001</p>
		<p>AL1101</p>
		<p>ABB1000</p>
		<p>VMA4600</p>
    	<p>VMB3000</p>
    	<p>VMB3500</p>
    	<p>VMB4000</p>
        <p>VMB4500</p>
        <p>VMB4540</p>
		<p>VMB5000</p>
  	</div>

	</div>