<table id="offenses_table">
    <tbody>
        <tr>
            <th colspan="6" class="offenses_mainheader">Corrective Action Plan (Center Level)</th>
        </tr>
        <tr>
            <th colspan="6" class="offenses_mainsubheader">Disciplinary Action / Corrective Action Plan Severity 1</th>
        </tr>
        <tr>
            <th>Offenses</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
            <th>Prescriptive Period</th>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Professionalism and Friendliness</td>
        </tr>
        <tr>
            <td>Any form of rudeness (customers, clients, peers, and fellow support vendors)</td>
            <td class="offenses_removal">Removal from Arlo</td class="offenses_removal">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Use of Profanity / Cursing</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Flirting</td>
            <td class="offenses_removal">Removal from Arlo</td class="offenses_removal">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Inappropriate interaction with the customer such as asking about personal information (i.e. marital status/religion/political views/etc.)</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Harassment</td>
            <td class="offenses_removal">Removal from Arlo</td class="offenses_removal">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Contacting customers outside of work</td>
            <td class="offenses_removal">Removal from Arlo</td class="offenses_removal">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Any act of dishonesty</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Sleeping in the workplace</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Communicating and/or giving hints/suggested negative image of/about the client, co-vendors, third party providers</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Call / Chat / OTS Handling Process</td>
        </tr>
        <tr>
            <td>Intentional releasing of call or chat session</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Case Management</td>
        </tr>
        <tr>
            <td>Survey manipulation or any kind of system manipulation</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Mishandling of customer's credit card information (includes fraud and deceit)</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <th colspan="6" class="offenses_mainsubheader">Disciplinary Action / Corrective Action Plan Severity 2</th>
        </tr>
        <tr>
            <th>Offenses</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
            <th>Prescriptive Period</th>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Entitlement</td>
        </tr>
        <tr>
            <td>Did not provide correct warranty information (hardware and support warranty)</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Call / Chat / OTS Handling Process</td>
        </tr>
        <tr>
            <td>Non-disclosure of disclaimer prior to remote session</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Refusal to take ownership of the case</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Unnecessary inactivity or dead air that resulted to call abandonment (Voice - Call Avoidance)</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Unnecessary inactivity or dead air that resulted to call abandonment (Chat - Chat Session Avoidance)</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Failure to honor promised callback</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Case Management</td>
        </tr>
        <tr>
            <td>Unnecessary opening or creating cases</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Documentation of customer's CC or banking information on case notes</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Sales Positioning of Premium Service</td>
        </tr>
        <tr>
            <td>Failure to disclose and CHARGE the correct price that customer agreed to purchase</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Misleading</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td colspan="2"></td>
            <td>6 months</td>
        </tr>
        <tr>
            <th colspan="6" class="offenses_mainsubheader">Disciplinary Action / Corrective Action Plan Severity 3</th>
        </tr>
        <tr>
            <th>Offenses</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
            <th>Prescriptive Period</th>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Case Management</td>
        </tr>
        <tr>
            <td>Non-documentation of the case/admin notes</td>
            <td>Written warning</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Improper case documentation</td>
            <td>Written warning</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Documentation of customer's password</td>
            <td>Written warning</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Mishandling of case</td>
            <td>Written warning</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td></td>
            <td>6 months</td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">QA</td>
        </tr>
        <tr>
            <td colspan="5">QA Performance Issue: Experts who have average QA scores less than 80% for 2 months rolling data</td>
            <td>PIP</td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">KPI Targets</td>
        </tr>
        <tr>
            <td colspan="5">KPI Performance Issue: Experts who are not meeting the monthly KPI targets for 2 months rolling data</td>
            <td>PIP</td>
        </tr>
        <tr>
            <td colspan="6" class="offenses_subheader">Registration Process (Customer / Product)</td>
        </tr>
        <tr>
            <td>Did not follow correct Registration Process</td>
            <td>Verbal warning</td>
            <td>Written warning</td>
            <td>Final written warning</td>
            <td class="offenses_removal">Removal from Arlo</td>
            <td>6 months</td>
        </tr>
    </tbody>
</table>
<br><br>