<div id="pro3div">
    <h4 class="pro3">Pro 3 Camera Capabilities</h4>
    <p>
        <span>CVR</span> - When plugged into AC power, CVR becomes active on the Pro 3 Camera (Full charge not required for CVR to work).
        <b><i>Note:</i></b> CVR Subscription is required
    </p>
    <p>
        <span>3 second Look back</span> - When plugged in using the indoor or outdoor magnetic charging cable, the Pro 3 Camera records continuously, but discards the video after three seconds if no motion is detected.
    </p>
    <p>
        <span>Motion Detection</span> - Pro 3 Camera employs advanced motion detection using both PIR and pixel based (Motion Analytics) motion detection when AC powered.
        <br><br><b><i>Note:</i></b> Motion Analytics operate under the following conditions:
        <ol>
            <li>CVR <b><i>disabled</i></b>/Charger present/battery fully charged - motion analytics will be enabled. Prior to battery fully charged the camera will only use PIR</li>
            <li>CVR <b><i>enabled</i></b>/Charger present - motion analytics will function immediately regardless of battery level</li>
        </ol>
    </p>
    <p>
    <span>PTT</span> - Pro 3 Camera is full duplex, 2-way audio allows the user to talk and listen just by tapping on the mic icon.
    </p>
    <p>
        <span>Activity Zones</span> - Activity Zones work without AC power when subscribing to a Smart Subscription. Activity Zones for Pro 3 operate more similarly to Pro 2 vs Ultra.
    </p>
    <p>
        <span>Auto Zoom & Tracking</span> - When Auto Zoom and Tracking is activated, your Pro 3 Camera automatically zooms in on an object and tracks its movement when it detects motion in its field of view.
    </p>
    <p>
        To use Auto Zoom and Tracking and local live streaming, you need an Arlo Pro 3 Camera paired with an Arlo SmartHub.
    </p>
    <img src="/assets/img/pro3/pro3_azt.JPG" width="100%"/>
    <p>
        When your Pro 3 Camera detects motion, cloud motion recording is triggered. When Auto Zoom and Tracking is on, your Pro 3 Camera zooms in on the object and tracks its movement while the motion is within its field of view.
    </p>
    <p>
        If you're viewing a live stream recording, you can zoom in to any point of the Auto Zoom and Tracking recording. Your Pro 3 Camera uses its advanced image sensor to enhance the image quality of the zoomed in area (The zoomed-in image is in 1080p video resolution).
    </p>
    <p>
        Your Pro 3 Camera automatically creates a curated Auto Zoom and Tracking clip. To access the Auto Zoom and Tracking clips, tap Library in the Arlo app.
    </p>
    
    <h4 class="pro3">Specifications</h4>
    <ul>
        <li>2K QHD resolution with HDR</li>
        <li>160&deg; field of view (optical & PIR)</li>
        <li>Spotlight (color night vision) @ 40 lux at 1 meter (25 feet illumination)</li>
        <li>Advanced RF design for maximum range</li>
        <li>2-way conversational audio</li>
        <li>Integrated siren @ 80 decibels (25 feet audibility)</li>
        <li>Up to 6 months battery life (rechargeable)</li>
        <li>Modular industrial design</li>
        <li>Weather resistant - IP64 (IP65 rating certification pending - no ETA)</li>
        <table>
            <tr>
                <td rowspan="3"></td>
                <td align="center">IP Number</td>
                <td align="center">First Digit - SOLIDS</td>
                <td align="center">Second Digit - LIQUIDS</td>
                <td rowspan="3"></td>
            </tr>
            <tr>
    
                <td align="center">IP64</td>
                <td>Protected from total dust ingress</td>
                <td>Protected from water spray/splashing from any direction</td>
    
            </tr>
            <tr>
    
                <td align="center">IP65</td>
                <td>Protected from total dust ingress</td>
                <td>Protected from low pressure water jets from any direction</td>
    
            </tr>
        </table>
        <li>2.4GHz</li>
        <li>Same battery and modular casing as Ultra</li>
        <li>Weatherproof magnetic connector</li>
        <li>Compatible with all Arlo Ultra accessories</li>
    </ul>
    <h4 class="pro3">Pro 2 / Pro 3 Comparison</h4>
    <table align="center">
        <tr>
            <th width="25%"></th>
            <th width="25%">Pro 2</th>
            <th width="25%">Pro 3</th>
            <th width="25%">Ultra</th>
        </tr>
        <tr>
            <td align="right">Resolution</td>
            <td align="center">FHD (Full HD - 1080p)</td>
            <td align="center">2K QHD (Quad HD)</td>
            <td align="center">4K UHD (Ultra HD)</td>
        </tr>
        <tr>
            <td align="right">High Dynamic Range</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">FoV</td>
            <td align="center">130&deg;</td>
            <td align="center">160&deg;</td>
            <td align="center">180&deg;</td>
        </tr>
        <tr>
            <td align="right">Video Compression</td>
            <td align="center">H.264</td>
            <td align="center">H.264 & H.265 (HEVC)</td>
            <td align="center">H.264 & H.265 (HEVC)</td>
        </tr>
        <tr>
            <td align="right">Spotlight</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">Night Vision</td>
            <td align="center">Basic</td>
            <td align="center">Advanced</td>
            <td align="center">Best</td>
        </tr>
        <tr>
            <td align="right">Color Night Vision</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">Auto Zoom & Tracking</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">Audio</td>
            <td align="center">Half Duplex</td>
            <td align="center">Full Duplex</td>
            <td align="center">Full Duplex</td>
        </tr>
        <tr>
            <td align="right">Smart Siren in Camera</td>
            <td align="center">No</td>
            <td align="center">Built in Smart Siren</td>
            <td align="center">Built in Smart Siren</td>
        </tr>
        <tr>
            <td align="right">Audio Processing</td>
            <td align="center">No</td>
            <td align="center">Echo Cancellation</td>
            <td align="center">Wind Reduction and Echo Cancellation</td>
        </tr>
        <tr>
            <td align="right">Battery</td>
            <td align="center">2440mAh</td>
            <td align="center">4800mAh</td>
            <td align="center">4800mAh</td>
        </tr>
        <tr>
            <td align="right">Zwave</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">Zigbee</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">ArloRF&trade;</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">Weatherproof Connector</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">Lock Mount Connector</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
        <tr>
            <td align="right">Extended Battery Compatibility</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
        </tr>
    </table>
    
    <h4 class="pro3">Connectivity Requirements</h4>
    <p>
        All Arlo cameras require a high-speed internet connection, but each Arlo camera uses a different amount of bandwidth.
    </p>
    <p>
        Bandwidth use is measured on a per-camera basis.
    </p>
    <p>
        If you have multiple Arlo cameras on the same network, you can estimate the total bandwidth use of your entire Arlo system by adding the average bandwidth use of each camera.
    </p>
    
    <h5 class="pro3">Your Arlo system requires the following:</h5>
    <ul>
        <li>A high-speed internet connection to sustain the following average bandwidth use <i><b>per camera</b></i>:</li>
        <ul>
            <li>Arlo Ultra cameras: 3 Mbps upload per camera</li>
            <li>Arlo Pro 3 cameras: 2 Mbps upload per camera</li>
            <li>All other Arlo cameras: 1 Mbps upload per camera</li>
        </ul>
        <li>An Internet router with an available Ethernet port if you are using an Arlo SmartHub or base station.</li>
    </ul>
    <p>
        Arlo works with the minimum requirements, but the functionality and video quality might be negatively affected.
    </p>
    <p>
        With a lower upstream bandwidth, there is a greater possibility that video quality might be pixelated and unclear.
    </p>
    <p>
        Customers might also experience a delay in starting a live stream.
    </p>
    <h4 class="pro3">Review of Arlo Upload Speed Requirements</h4>
    <p>
        <b>Below is an evaluation of the impact of reduced ISP UL bandwidth on a 5 camera simultaneous streaming scenario.</b>
    </p>
    <p>
        Arlo places significant demands on the Up Link Bandwidth from the ISP provider (Video to the cloud).
    </p>
    <p>
        Most users quote & understand the higher Down Link (DL) speed advertised by their ISP. Generally the Up Link (UL) speeds from the ISP will be only 1/10 of the Down Link speed! Video bit rate is the dominant demand on the ISP UL. Below is an evaluation of the impact of reduced ISP UL bandwidth on a 5 camera simultaneous streaming scenario.
    </p>
    <ul>
        <li><b>ISP UL of 3Mbps:</b></li>
        360p: Will work with minimal video compression levels at Best Video setting.<br>
        720p: May require some video compression at Optimized and Best Battery Life settings.<br>
        1080p: Video compression required and may not support 5 cameras at Best Video setting. Reduce Power Management to Optimized or Best Battery Life when necessary.
        <li><b>ISP UL of 5Mbps (Able to support 360/720p):</b></li>
        720p: Will work with minimal video compression levels at Best Video.<br>
        1080p: May require some video compression at Optimized and Best Battery Life settings.<br>
        2K: Should work with maximum video compression at Best Video setting - the 5th camera may not stream depending on available ISP upload bandwidth at peak times.<br>
        4K: Significant video compression required at Best Video setting - may not support 5 cameras depending on available bandwidth at peak times.
        <li><b>ISP UL of 10Mbps:</b></li>
        720p: Should have no issues using Best Video setting.<br>
        1080p: Should have no issues using Best Video setting.<br>
        2K: Will work at Best Video setting - some compression may be required depending on available ISP upload bandwidth at peak times.<br>
        4K: Video compression required and may not support 5 cameras at Best Video setting. Reduce Power Management to Optimized or Best Battery Life when necessary.
    </ul>
    
    <h4 class="pro3">USB Local Storage capacities</h4>
    <p><i>The table below show how much storage a 1-minute, 2K recording, is used on a local storage device with 128GB capacity. It also provides a rough estimate of the number of recordings that fit on the same size storage device at various bitrates. Remember, the table below is only meant to serve as a guide and <b>are not</b> exact numbers.</i>
    </p>
    <ul>
        <li>The Pro3 only supports two resolutions: <b>2K</b> and <b>1080p</b></li>
        <li>When the user is managing the Power Management settings of the camera (Best Video, Optimized, Best Battery Life), only bitrates are being changed and not the resolution on the camera.</li>
        <li>The following table is based on the constant bitrate during the stream, per Power Management setting, and should be used only as approximate guidance. (The number of recordings are also based on some of the card space reserved for file management)</li>
    </ul>
    <table align="center">
        <tr>
            <th colspan="2" width="30%"></th>
            <th width="23%">Best Video</th>
            <th width="23%">Optimized</th>
            <th width="23%">Best Battery Life</th>
        </tr>
        <tr>
            <td rowspan=3>2K</td>
            <td align="right">Target Bitrate</td>
            <td align="center">2 Mbps</td>
            <td align="center">1 Mbps</td>
            <td align="center">750 Kbps</td>
        </tr>
        <tr>
            <td align="right">1 Minute Recording Size</td>
            <td align="center">15 MB</td>
            <td align="center">7.5 MB</td>
            <td align="center">5.5 MB</td>
        </tr>
        <tr>
            <td align="right">Number of Recordings</td>
            <td align="center">8,378</td>
            <td align="center">17,466</td>
            <td align="center">238,831</td>
        </tr>
        <tr>
            <td rowspan=3>1080p</td>
            <td align="right">Target Bitrate</td>
            <td align="center">1.25 Mbps</td>
            <td align="center">600 Kbps</td>
            <td align="center">400 Kbps</td>
        </tr>
        <tr>
            <td align="right">1 Minute Recording Size</td>
            <td align="center">9.375 MB</td>
            <td align="center">4.4 MB</td>
            <td align="center">2.93 MB</td>
        </tr>
            <tr>
            <td align="right">Number of Recordings</td>
            <td align="center">13,980</td>
            <td align="center">29,789</td>
            <td align="center">44,734</td>
        </tr>
    </table>
    <h4 class="pro3">Changing FOV on Pro3</h4>
    <p>You can set the field of view to Full (110&deg;), Wide (125&deg;), or Super wide (160&deg;).
    </p>
    <p>
    Go to Device Settings > Video Settings > Video Mode and then select the preferred FOV.
    <img src="/assets/img/pro3/pro3_fov.jpg" style="width:100%;"/>
    </p>
    
    <h4 class="pro3">3 Month Trial Plan</h4>
    <p>
        <b>What is Trial Plan: </b>Each Pro 3 camera that customer will purchase comes with a 3-month Arlo Smart trial as a complementary.
    </p>
    <p>
        <b>Plan Activation: </b>The trial activates automatically after onboarding Pro 3 camera in the Arlo app.
    </p>
    <p>
        <b>What is included in Trial Plan:</b>
        <ul>
            <li>Rolling 30-day 2K cloud recording</li>
            <li>Person, Vehicle, Animal, Package Detection, Alarm</li>
            <li>Cloud activity zones</li>
            <li>Notification filtering</li>
            <li>Rich notifications with preview images and live streaming from your phone's lock screen</li>
            <li>e911 service that connects you to emergency responders near your home, no matter where you call from (US only)</li>
        </ul>
    </p>
    <h4 class="pro3">Comparison between Ultra plan vs. Pro 3 Plan</h4>
    <table align="center">
        <tr>
            <th>Ultra Camera</th>
            <th>Pro 3 Camera</th>
        </tr>
        <tr>
            <td>Ultra Camera offers free 1 year Premier plan</td>
            <td>Pro 3 Camera offers free 3 month Trial</td>
        </tr>
        <tr>
            <td>1 Year Plan tied with SH S/N</td>
            <td>Trial Plan tied with Camera S/N</td>
        </tr>
        <tr>
            <td>Existing Arlo Smart Subscriber will not be benefited for the 1 year plan</td>
            <td>Existing Arlo Smart Subscriber will get 3 month Trial for Pro 3 on top of existing plan</td>
        </tr>
        <tr>
            <td>Plan gets automatically added after SH onboarding</td>
            <td>Plan gets automatically added after Pro 3 camera onboarding</td>
        </tr>
        <tr>
            <td>Need to issue credit fo existing Arlo Smart Subscribers who wants 1 year free plan</td>
            <td>No need to issue any credit for existing Arlo Smart Subscribers who wants 3 month trial</td>
        </tr>
    </table>
    Note: Without a plan, Ultra and Pro 3 doesn't offer free cloud recording, only Live streaming and Push Notifications
    
    <h4 class="pro3">Options after Trial plan ends</h4>
    <p>
        <b>After 3 months of Trial plan, customer has two options:</b>
        <ul>
            <li>Sign up for Arlo Smart plan</li>
            <li>Not sign up for Arlo Smart plan</li>
        </ul>
    </p>
    <p>
        <b>If a customer chooses not to have a Arlo Smart service plan, Pro 3 camera will offer the options below:</b>
        <ul>
            <li>Remote and local live streaming</li>
            <li>Push Notifications</li>
            <li>Auto Zoom and Tracking</li>
            <li>Two-Way Audio</li>
            <li>Local SD card recording</li>
        </ul>
    </p>
    <p>
        <b>Pro 3 camera will not offer the following options:</b>
        <ul>
            <li>No cloud recording</li>
            <li>No 2K cloud recording</li>
            <li>No 4K cloud recording</li>
            <li>No Person, Vehicle, Animal, Package, and Alarm detection</li>
        </ul>
    </p>
    
    <h4 class="pro3">Per model per plan features</h4>
    <table align="center">
        <tr>
            <th  width="12%"></th>
            <th align="center" width="12%">No Subscription<br>(Arlo Ultra and Pro 3)</th>
            <th align="center" width="12%">No Subscription<br>(Wire-free, Pro, Pro 2, Q, Q Plus, Go, Baby)</th>
            <th align="center" width="12%">Arlo Smart Premier<br>- Single Camera</th>
            <th align="center" width="12%">Arlo Smart Premier<br>- Multi Camera</th>
            <th align="center" width="12%">Arlo Smart Elite<br>- Single Camera</th>
            <th align="center" width="12%">Arlo Smart Elite<br>- Multi Camera</th>
            <th align="center" width="12%">Continuous Video Recording (CVR) Add-on</th>
        </tr>
        <tr>
            <th>Number of cameras supported</th>
            <td align="center">Unlimited</td>
            <td align="center">5</td>
            <td align="center">Per-camera Plan</td>
            <td align="center">5</td>
            <td align="center">Per-camera Plan</td>
            <td align="center">5</td>
            <td align="center">Per-camera Upgrade</td>
        </tr>
        <tr>
            <th>Cloud recording up to 1080p</th>
            <td align="center">No</td>
            <td align="center">Rolling 7 days</td>
            <td align="center">N/A</td>
            <td align="center">N/A</td>
            <td align="center">N/A</td>
            <td align="center">N/A</td>
            <td align="center">24/7 14-day or 30-day</td>
        </tr>
        <tr>
            <th>2K cloud recording</th>
            <td align="center">No</td>
            <td align="center">No</td>
            <td align="center">Rolling 30 days</td>
            <td align="center">Rolling 30 days</td>
            <td align="center">N/A</td>
            <td align="center">N/A</td>
            <td align="center">No</td>
        </tr>
        <tr>
            <th>4K cloud recording</th>
            <td align="center">No</td>
            <td align="center">No</td>
            <td align="center">No</td>
            <td align="center">No</td>
            <td align="center">Rolling 30 days</td>
            <td align="center">Rolling 30 days</td>
            <td align="center">No</td>
        </tr>
        <tr>
            <th>Person, Vehicle, Animal, and Package Detection</th>
            <td align="center">No</td>
            <td align="center">No</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">N/A</td>
        </tr>
        <tr>
            <th>Live streaming</th>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">Yes</td>
            <td align="center">N/A</td>
        </tr>
    </table>
    
    <h4 class="pro3">How to cancel Arlo Smart 3-month trial</h4>
    <p>
        Customer has an option to cancel the free trial plan, Under Subscription > Manage > Cancel Trial for each camera.
    </p>
    
    <h4 class="pro3">What happens after cancelling Arlo Smart 3-month trial?</h4>
    <p>
        When you cancel your Arlo Smart 3-month trial, all your videos in the Arlo library are deleted. If you want to keep any videos before cancelling your trial, you can download them directly to your phone or computer.
    </p>
    <p>
        For more information, visit <a href="https://kb.arlo.com/1124513/How-do-I-download-video-clips-in-my-Arlo-account">How do I download video clips in my Arlo account?</a>.
    </p>
    
    <h4 class="pro3">Who qualifies for 3 month trial plan</h4>
    <ul>
        <li>New customers who purchase Pro 3 cameras regardless if they are existing smart users, if they were smart users before, or if they were not smart users, will come with a free trial plan. Trial plan is attached to the camera serial number and account so the free trial can not be abused; e.g. customer tries to onboard same camera with different account.</li>
        <li>Trial is only for the newly purchased cameras, not other cameras on the account.</li>
        <li>All cameras receive 30 days of storage with all smart features.</li>
        <li>Credit card will not be required to activate the trial plan; as soon as customer onboards camera it will be activated automatically.</li>
        <li>Current subscribers will receive a free trial for their new cameras on top of their current paid plan. If they cancel their paid plan while the trial is still active, their cameras on free trial will still have all their features for the remainder of the trial period.</li>
        <li>Free trials do not have any redemption value and can only be used once per hardware purchase. Units already used by another person and then resold will not offer an additional 3 month free trial for the new user. The new user will qualify for a 1 month free trial if their account has not subscribed to a service previously.</li>
    </ul>
    
    <h4 class="pro3">What doesn't qualify for 3 month trial plan</h4>
    <ul>
        <li>A used Pro 3 camera onboarded to a new account.</li>
        <li>Other cameras (non Pro 3) on the customer's account do not get free trial of Arlo Smart Features</li>
        <li>If the trial has already been used for that serial number, the 3 month trial is not presented to the user during onboarding and their camera will not have cloud recording or smart features unless they pay for a subscription.</li>
    </ul>
    
    <h4 class="pro3">Notifications before Trial plan ends</h4>
    <ul>
        <li>14 days before a free trial ends for any camera on the account, a notification popup/email in the iOS and Android app will appear to inform the customer that their trial will end on X date and they should sign up for a service plan to keep the following features:
            <ul>
                <li>2K recording with up to 30 days of recording history</li>
                <li>All Arlo Smart detection features</li>
                <li>e911 (for US customers)</li>
            </ul>
        </li>
        <li>7 days before a free trial ends for any camera on the account, the same popup notification/email will be displayed in the iOS and Android app.</li>
        <li>On trial end date, the cusstomer receives a different popup/email about their camera no longer having Arlo Smart features or cloud recording. Email will have link where customer can click and take them to purchase plan web page.</li>
        <br>Note:<br>
        Pop up message will be sent to only owner's account<br>
        Pop up message will be sent only once and customer can dismiss the popup and go to paid plans
    </ul>
    </div>
    <br><br><br>