<div class="hiddenDiv" id="loadref-partnersscript">$('#faq_subscription').load('FAQ-subscription.html');</div>
<br>
<h4>Arlo Partners</h4>

<table style="border-collapse:collapse;font-size:12px;" class="table_ref_partners">
	<tr class="TS_row">
		<th>ISP/Account Partner</th>
		<th>Region</th>
		<th>Market</th>
		<th>Product/Current shipping SKUs</th>
		<th>Scope of ISP Support</th>
		<th>RMA - Camera</th>
		<th>RMA - Accessories</th>
		<th>RMA - SIM</th>
		<th>How to check customer's SIM plan</th>
		<th>SKU</th>
	</tr>
	<tr>
		<td>AT&amp;T</td>
		<td>NA</td>
		<td> </td>
		<td>Arlo Go</td>
		<td>
			<ol style="padding:11px;">
				<li>Only issues related to the service</li>
				<li>Issues with SIM card activations</li>
				<li>Roaming, data usage related questions</li>
				<li>Service plan selection</li>
			</ol>
		</td>
		<td>Arlo</td>
		<td>Arlo</td>
		<td>AT&amp;T</td>
		<td>AT&amp;T</td>
		<td>VML4030-100NAS or 6113B - VML4030-100NAS is still the replacement for both SKUs.</td>
	</tr>
	<tr>
		<td>Verizon</td>
		<td>NA</td>
		<td> </td>
		<td>Arlo Go</td>
		<td>
			<ol style="padding:11px;">
				<li>Only issues related to the service</li>
				<li>Issues with SIM card activations</li>
				<li>Roaming, data usage related questions</li>
			</ol>
		</td>
		<td>Verizon - refer customer to Verizon for RMA</td>
		<td>Arlo will replace accessories</td>
		<td>Verizon</td>
		<td>Verizon</td>
		<td>VML4030-1VZNAS</td>
	</tr>
	<tr>
		<td>Cellcom</td>
		<td>NA</td>
		<td> </td>
		<td>Arlo Go</td>
		<td>
			<ol style="padding:11px;">
				<li>Only issues related to the service</li>
				<li>Issues with SIM card activations</li>
				<li>Roaming, data usage related questions</li>
			</ol>
		</td>
		<td>Cellcom - refer customer to Cellcom for RMA</td>
		<td>Arlo will replace accessories</td>
		<td>Cellcom</td>
		<td>Cellcom</td>
		<td>VML4030-1LRNAS</td>
	</tr>
	<tr>
		<td>Bluegrass</td>
		<td>NA</td>
		<td> </td>
		<td>Arlo Go</td>
		<td>
			<ol style="padding:11px;">
				<li>Only issues related to the service</li>
				<li>Issues with SIM card activations</li>
				<li>Roaming, data usage related questions</li>
			</ol>
		</td>
		<td>Bluegrass - refer customer to Bluegrass for RMA</td>
		<td>Arlo will replace accessories</td>
		<td>Bluegrass</td>
		<td>Bluegrass</td>
		<td>VML4030-1LRNAS</td>
	</tr>
	<tr>
		<td>Arlo Mobile</td>
		<td>NA</td>
		<td> </td>
		<td>Arlo Go</td>
		<td>All handled by Arlo</td>
		<td>Arlo</td>
		<td>Arlo</td>
		<td>Arlo</td>
		<td>All handled by NTGR</td>
		<td> </td>
	</tr>
	<tr>
		<td>Vodafone EMEA</td>
		<td> </td>
		<td> </td>
		<td>Arlo Go</td>
		<td>
			<ol style="padding:11px;">
				<li>Only issues related to the service</li>
				<li>Issues with SIM card activations</li>
				<li>Roaming, data usage related questions</li>
				<li>L1 support and L2 support</li>
			</ol>
		</td>
		<td>Vodafone - refer customer to Vodafone for RMA</td>
		<td>Vodafone - refer customer to Vodafone for RMA</td>
		<td>Vodafone</td>
		<td>Vodafone</td>
		<td>VML4030-1VOPES</td>
	</tr>
	<tr>
		<td>Telstra</td>
		<td> </td>
		<td> </td>
		<td>Arlo Go</td>
		<td>
			<ol style="padding:11px;">
				<li>Only issues related to the service</li>
				<li>Issues with SIM card activations</li>
				<li>Roaming, data usage related questions</li>
			</ol>
		</td>
		<td>Provide customer's case number and refer customer to Telstra for RMA</td>
		<td>Provide customer's case number and refer customer to Telstra for RMA</td>
		<td>Telstra</td>
		<td>Telstra</td>
		<td>VML4030-1TLAUS</td>
	</tr>
	<tr>
		<td>RACV</td>
		<td> </td>
		<td> </td>
		<td>Arlo PRO 2</td>
		<td>
			<ol style="padding:11px;">
				<li>Customers will contact Arlo directly or RACV will forward them</li>
				<li>RACV SKU comes with a voucher which provide 12 months premium plan</li>
				<li>RACV will handle these vouchers and Arlo experts will forward customers to RAVC for any issue with these vouchers</li>
				<li>RACV has no Tech support so Arlo support will look after the support entirely</li>
			</ol>
		</td>
		<td>RACV - refer customer to RACV, send customer email confirming RMA, see template on separate tab</td>
		<td>RACV - refer customer to RACV, send customer email confirming RMA, see template on separate tab</td>
		<td> </td>
		<td>N/A</td>
		<td>VMS4230P-1RAAUS<br>VMS4430P-1RAAUS</td>
	</tr>
	<tr>
		<td>Bell Canada</td>
		<td> </td>
		<td> </td>
		<td>Arlo Go</td>
		<td>
			<ol style="padding:11px;">
				<li>Only issues related to the service</li>
				<li>Issues with SIM card activations</li>
				<li>Roaming, data usage related questions</li>
				<li>Service plan selection</li>
			</ol>
		</td>
		<td>Arlo</td>
		<td>Arlo</td>
		<td>Bell Canada</td>
		<td> </td>
		<td>VML4030-100PAS</td>
	</tr>
	<tr>
		<td>Telguard</td>
		<td> </td>
		<td> </td>
		<td>Arlo Go / Arlo</td>
		<td> </td>
		<td>Telguard</td>
		<td>Telguard</td>
		<td>Telguard</td>
		<td> </td>
		<td> </td>
	</tr>
	<tr>
		<td>Vodafone</td>
		<td>EMEA</td>
		<td>UK, IT, DE, SP, IRE, PT</td>
		<td>VML4030-1VOPES<br>VML4030-1VOUKS</td>
		<td>SIM card, network issues and L1 support by Vodafone</td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</tr>
	<tr>
		<td>Telular</td>
		<td>NA</td>
		<td>US</td>
		<td>VML4030<br>VMC4030</td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</tr>
	<tr>
		<td>USCC</td>
		<td>NA</td>
		<td>US</td>
		<td>VML4030<br>VMS4230P</td>
		<td>ISP to handle all RMA.</td>
		<td>Arlo Go RMA handled by USCC</td>
		<td> </td>
		<td>USCC</td>
		<td> </td>
		<td>VML4030-1USNAS</td>
	</tr>
	<tr>
		<td>US Cellular (USCC)</td>
		<td>NA</td>
		<td>US</td>
		<td>VML4030-1USNAS</td>
		<td> </td>
		<td>Arlo</td>
		<td>USCC</td>
		<td>USCC</td>
		<td> </td>
		<td> </td>
	</tr>
	<tr>
		<td>EE</td>
		<td>EMEA</td>
		<td>UK</td>
		<td>VMS4230-100UKS<br>ABC1000-100UKS</td>
		<td>Level 2/3 support</td>
		<td>Under discussion</td>
		<td>Under Dicsussion</td>
		<td>N/A</td>
		<td>N/A</td>
		<td>VMS4230-100UKS<br>ABC1000-100UKS</td>
	</tr>
</table>

<br><br>
<br><br>


	