<div class="hiddenDiv" id="loadref-subscriptionscript">$('#references_subscription').load('FAQ-subscription.html');</div>

<h4>Global Arlo Support Numbers</h4>
<br>
<select id="country-list" onchange="var countrySelected=$('#country-list').val();$('.country-contact[data-country]').css('display','none');$('.country-contact[data-country=&quot;' + countrySelected + '&quot;]').css('display','block');">
            <option value="0" disabled selected>Select</option>
            <option value="US">United States</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria (Österrich)</option>
            <option value="BE">Belgium</option>
            <option value="CA">Canada</option>
            <option value="DK">Denmark</option>
            <option value="FI">Finland (Suomi)</option>
            <option value="FR">France</option>
            <option value="DE">Germany (Deutschland)</option>
            <option value="IE">Ireland</option>
            <option value="IT">Italy (Italia)</option>
            <option value="LU">Luxembourg</option>
            <option value="NE">Netherlands (Nederland)</option>
            <option value="NO">Norway (Norge)</option>
            <option value="NZ">New Zealand</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="ES">Spain</option>
            <option value="SE">Sweden (Sverige)</option>
            <option value="CH">Switzerland</option>
            <option value="UAE">United Arab Emirates</option>
            <option value="UK">United Kingdom</option>
            <option value="JP">Japan</option>
</select>

<div class="country-contact-list">
          <div class="country-contact selected" data-country="US" style="display: none;">
            <h5>United States contact information:</h5>
            <p>1 (408) 638 3750</p>
          </div>
          <div class="country-contact" data-country="AU" style="display: none;">
            <h5>Australia contact information:</h5>
            <p>1 800 549 680</p>
          </div>
          <div class="country-contact" data-country="AT" style="display: none;">
            <h5>Austria contact information:</h5>
            <p>0 800 281 729</p>
          </div>
          <div class="country-contact" data-country="BE" style="display: none;">
            <h5>Belgium contact information:</h5>
            <p>0 800 15 739</p>
          </div>
          <div class="country-contact" data-country="CA" style="display: none;">
            <h5>Canada contact information:</h5>
            <p>1 833 290 9488</p>
          </div>
          <div class="country-contact" data-country="DK" style="display: none;">
            <h5>Denmark contact information:</h5>
            <p>802 53731</p>
          </div>
          <div class="country-contact" data-country="FI" style="display: none;">
            <h5>Finland contact information:</h5>
            <p>0 800 913 252</p>
          </div>
          <div class="country-contact" data-country="FR" style="display: none;">
            <h5>France contact information:</h5>
            <p>0 800 911 974</p>
          </div>
          <div class="country-contact" data-country="DE" style="display: none;">
            <h5>Germany contact information:</h5>
            <p>0 800 505 3080</p>
          </div>
          <div class="country-contact" data-country="IE" style="display: none;">
            <h5>Ireland contact information:</h5>
            <p>1 800 949 252</p>
          </div>
          <div class="country-contact" data-country="IT" style="display: none;">
            <h5>Italy contact information:</h5>
            <p>800 797 106</p>
          </div>
          <div class="country-contact" data-country="LU" style="display: none;">
            <h5>Luxembourg contact information:</h5>
            <p>800 2 5228</p>
          </div>
          <div class="country-contact" data-country="NE" style="display: none;">
            <h5>Netherlands contact information:</h5>
            <p>0 800 022 9052</p>
          </div>
          <div class="country-contact" data-country="NO" style="display: none;">
            <h5>Norway contact information:</h5>
            <p>800 245 78</p>
          </div>
          <div class="country-contact" data-country="NZ" style="display: none;">
            <h5>New Zealand contact information:</h5>
            <p>0 800 442 302</p>
          </div>
          <div class="country-contact" data-country="PL" style="display: none;">
            <h5>Poland contact information:</h5>
            <p>00 800 112 50 72</p>
          </div>
          <div class="country-contact" data-country="PT" style="display: none;">
            <h5>Portugal contact information:</h5>
            <p>800 819 224</p>
          </div>
          <div class="country-contact" data-country="ES" style="display: none;">
            <h5>Spain contact information:</h5>
            <p>800 654 348</p>
          </div>
          <div class="country-contact" data-country="SE" style="display: none;">
            <h5>Sweden contact information:</h5>
            <p>0200 33 6867</p>
          </div>
          <div class="country-contact" data-country="CH" style="display: none;">
            <h5>Switzerland contact information:</h5>
            <p>0 800 834 730</p>
          </div>
          <div class="country-contact" data-country="UAE" style="display: none;">
            <h5>United Arab Emirates contact information:</h5>
            <p>800 017 0472</p>
          </div>
          <div class="country-contact" data-country="UK" style="display: none;">
            <h5>United Kingdom contact information:</h5>
            <p>0800 970 3054</p>
          </div>
          <div class="country-contact" data-country="JP" style="display: none;">
            <h5>Japan contact information:</h5>
            <p>0120 929 109</p>
          </div>
        </div>