<h4>RMA Process</h4>
<br>
<b>Detailed Guides (PDF):</b><br>
<a href="#" onclick="openSite('/assets/pdf/ARLO RMA Process Australia and New Zealand.pdf');">Australia and New Zealand (ANZ)</a>
<br><a href="#" onclick="openSite('/assets/pdf/ARLO RMA Process EMEA.pdf');">Europe, Middle East, and Asia (EMEA)</a>
<br><a href="#" onclick="openSite('/assets/pdf/ARLO RMA Process US and Canada.pdf');">US-Canada</a>
<br><a href="#" onclick="openSite('/assets/pdf/ARLO RMA Process LATAM.pdf');">Latin America</a>
<br><a href="#" onclick="openSite('/assets/pdf/ARLO RMA Process Non 50 States US Territories.pdf');">Non-50 States US Territories</a>
<br><br>
<b>Quick Information:</b><br>
<select id='rma_country' onchange="loadRMAproc($('#rma_country').val())">
	<option value="0" selected disabled>Select Country</option>
	<option value='US'>US</option>
	<option value='Aus'>Australia</option>
	<option value='UK'>UK/EMEA</option>
	<option value='LATAM'>Latin America</option>
	<option value='Non50'>US Non-50 states</option>
</select>
<br>
<div id='rmaproc_details'></div>

<div id='Non50' class="hiddenDiv"><br>
	<div style="color:#ffffff;background-color: #013e52;padding:1px;"><h4>Non-50 US Territories</h4></div>
	<p>
		Arlo provides Warranty Support for U.S Territories such as Puerto Rico, Guam and U.S. Virgin Islands. FedEx - the delivery courier for the United States, considers U.S. Territories deliveries as international deliveries. Hence, customers from such states may be subject to duties, taxes and brokerage fee. Customers are responsible for any fees incurred.
	</p>
	<p>
		US Territories can be identified by the following state abbreviations.
	<ul>
		<li>AMERICAN SAMOA - AS</li>
		<li>FEDERATED STATES OF MICRONESIA - FM</li>
		<li>GUAM - GU</li>
		<li>MARSHALL ISLANDS - MH</li>
		<li>NORTHERN MARIANA ISLANDS - MP</li>
		<li>PALAU - PW</li>
		<li>PUERTO RICO - PR</li>
		<li>VIRGIN ISLANDS - VI</li>
	</ul>	
	</p>
	<p>
		We accept Amex, Visa, MasterCard and Discover Card only.
	</p>
	<p>
		Cut Off time - refers to the deadline that an RMA must be completed for the device to be shipped.
			US and Canada have a cut off time of 3PM PST for all types of RMAs. For example, an Advance Ground RMA must be
			completed before <b>3PM PST</b> for it to be shipped within 2-3 days. Otherwise, the RMA will be shipped the next business
			day plus the 2-3 days delivery.
	</p>
	<p>
		For Standard Swap Exchange, customers will need to return faulty device via US Postal Service to Arlo Return Address with their RMA number.<br>
		Arlo Returns<br>
		3605 Knight Road, Suite 101<br>
		Memphis. TN, 38118<br>
		RMA #<br>

	</p>
	<p>
		For Advance RMA for US Territories, advise the customer that they will not be able to use the enclosed pre-paid FedEx label to return defective product to Arlo.
	</p>
	<p>
		Arlo will reimburse shipping charges incurred for return of defective product shipped via U.S. Postal Service ONLY. If a customer requested a reimbursement, advise the customer to submit the following to Customer Service at customerservice@arlo.com. Refund will be processed either via *check or **wire transfer.
		<ul>
			<li>Copy of the USPS Shipping receipt</li>
			<li>Case Number</li>
			<li>RMA Number</li>
			<li>US Territory Address</li>
		</ul>
	</p>
	<p>
		Arlo will reimburse the actual shipping costs by issuing a credit to the paid RMA charges and the refund will be credited to customer’s credit card.
	</p>
	<p>
		Notate request for shipping reimbursement in case notes.<br>
		Escalate case to Arlo CCT to review and process reimbursement.
	</p>
	<div style="color:#000000;background-color: #a2c8b9;padding:1px;">Shipping Options</div>
	<p>
		<b>Standard Swap Exchange</b> - The faulty device needs to be sent to us first (at customer’s expense). Once received, the replacement will be shipped within one business days via ground services which usually takes 3-5 business days (at our expense).
		
	</p>
	<p>
		<b>Advance Ground - Home Products</b> - The customer will be charged $16.90. The RMA fulfillment center will send the replacement device first with a prepaid shipping label. Defective product must be returned within 10 business days of receiving the device. If the customer failed to return the device on time, an Ad-hoc Fee will automatically be deducted to their card.
	</p>
	<p>
		<b>Advance Next Business Day - Home Products</b> - Customers will be charged a fee of $29.90. The fulfillment center will send the replacement device first in the next business day with a prepaid shipping label. Defective product must be returned within 10 business days of receiving the device. If the customer failed to return the device on time, an Ad-hoc Fee will automatically be deducted to their card.
	</p>

	<p>
	<b>Warehouse Information:</b><br>
	Tracelogix US www.tracelogix.com<br>
	3605 Knight Road, Suite 101<br>
	Memphis, TN 38118<br>
	Phone: 877587 1907<br>
	Fax: 901 795 2726<br>
	Contact Person:<br>
	Linda Bates linda.bates@tracelogix.com<br><br>
	</p>
	<br><br>
	<br>
</div>


<div id='LATAM' class="hiddenDiv"><br>
	<div style="color:#ffffff;background-color: #013e52;padding:1px;"><h4>Latin America</h4></div>
	<p>
	Arlo provides Warranty Support in some countries in Latin America such as:
	<ul>
		<li>Argentina</li>
		<li>Brazil</li>
		<li>Columbia</li>
		<li>Mexico</li>
		<li>Peru</li>
		<li>Costa Rica</li>
	</ul>	
	</p>
	<p>
	For customer in Mexico, the customer is no longer required to return the faulty unit to Arlo. Tracelogix will ship out replacement to customer via ground shipment.</p>
	<p>Other LATAM countries, direct the customer to original point of sale to get replacement.	Note: Arlo currently do not sell and have no partner distributors in Latin America who will cater RMA requests.
	</p>
	<div style="color:#000000;background-color: #a2c8b9;padding:1px;">Shipping Options</div>
	<p>
		<b>NA - Ship Only (Ground)</b> - Arlo will ship a device to the customer via ground service (2-3 business days) not expecting a device to be returned. This option is available for Supervisor use only when shipping accessories. While for main unit shipment, the Supervisor must escalate the case to CCT in order to complete this RMA type.
	</p>
	<p>
		<b>NA - Ship Only (NBD Express)</b> - Arlo will ship a device to the customer via next business day shipping if completed within cut off time. This RMA is only used when Arlo is not expecting a device to be returned by the customer. This option is available for Supervisor use on accessories only. Main unit shipment under this type of RMA must be escalated to CCT.
	</p>

	<p>
	<b>Warehouse Information:</b><br>
	Tracelogix US www.tracelogix.com<br>
	3605 Knight Road, Suite 101<br>
	Memphis, TN 38118<br>
	Phone: 877587 1907<br>
	Fax: 901 795 2726<br>
	Contact Person:<br>
	Linda Bates linda.bates@tracelogix.com<br><br>
	</p>
	<br><br>
</div>
	


<div id='US' class="hiddenDiv"><br>
<div style="color:#ffffff;background-color: #013e52;padding:1px;"><h4>US</h4></div>
<p>
	We accept Amex, Visa, MasterCard and Discover Card only.
</p>
<p>
Cut Off time - refers to the deadline that an RMA must be completed for the device to be shipped.
US and Canada have a cut off time of 3PM PST for all types of RMAs. For example, an Advance Ground RMA must be
completed before <b>3PM PST</b> for it to be shipped within 2-3 days. Otherwise, the RMA will be shipped the next business
day plus the 2-3 days delivery.
</p>
<div style="color:#000000;background-color: #a2c8b9;padding:1px;">Shipping Options</div>
<p>
<b>Standard Swap Exchange</b> - The faulty device needs to be sent to us first (at customer's expense). Once received, the replacement will be shipped within one business days via ground services which usually takes 3-5 business days (at our expense).
</p>
<p>
<b>Advance Ground - Home Products</b> - The customer will be charged $16.90. The RMA fulfillment center will send the replacement device first with a prepaid shipping label. Defective product must be returned within 10 business days of receiving the device.  If the customer failed to return the device on time, an Ad-hoc Fee will automatically be deducted to their card.
</p>
<p>
<b>Advance Next Business Day - Home Products</b> - Customers will be charged a fee of $29.90. The fulfillment center will send the replacement device first in the next business day with a prepaid shipping label. Defective product must be returned within 10 business days of receiving the device. If the customer failed to return the device on time, an Ad-hoc Fee will automatically be deducted to their card.
</p>
<p>
<b>Warehouse Information:</b><br>
Tracelogix US www.tracelogix.com<br>
3605 Knight Road, Suite 101<br>
Memphis, TN 38118<br>
Phone: 877587 1907<br>
Fax: 901 795 2726<br>
Contact Person:<br>
Linda Bates linda.bates@tracelogix.com<br><br>
Tracelogix Canada www.tracelogix.ca<br>
#30-202 South Blair Street<br>
Whitby, Ontario, L1N 8X9<br>
Phone: 905 666 4212<br>
Fax: 905 666 1968<br>
Contact Person:<br>
Holly Downey holly.downey@tracelogix.com
</p>
<br><br>
</div>


<div id='Aus' class="hiddenDiv"><br>
<div style="color:#ffffff;background-color: #013e52;padding:1px;"><h4>Australia</h4></div>
<p>For Asia-Pacific countries such as <b>Korea</b> and <b>Japan</b> where we have After-Sales Support we can initiate a Standard RMA and direct customer to the partner distributor where they can get the replacement. </p>

<p><b>Hongkong</b>, <b>Taiwan</b>, and <b>Singapore</b> also sells Arlo products and replacement requests are being catered by local distribution partners for the After-Sales Support. <b>There is no need to initiate RMA from our side</b>.
</p>
<p><b>Other Asia-Pacific countries</b> where there is no Arlo distributors and service centers except for the listed above, customer can bring the device to the original place of purchase for return/replacement instead.
</p>

<p>We accept Visa and MasterCard only.</p>
<p>Prepaid Return Label - is only available in Australia. <b>Not applicable in New Zealand.</b></p>
<p><b>NOTE:</b> Customers in New Zealand who opted for Advanced RMA (Ground/Express) will not receive a Prepaid Label to use in returning their defective device. The payment made for the Advanced RMA is for the shipment from our warehouse to their premise only.
</p>
<p>
Cut Off time - refers to the deadline that an RMA must be completed for the device to be shipped.<br>
<b>Australia - 1:00 PM AEST</b>. Next Business Day shipping is guaranteed on deliveries within Metro/Cities ONLY. Possible delay on shipment must be set properly before completing the RMA.<br>
<b>New Zealand - 12:30 PM NZST</b>. Next Business Day shipping is not guaranteed as there may a delay through customs in importing the devices from Australia if need be.
</p>
<div style="color:#000000;background-color: #a2c8b9;padding:1px;">Shipping Options</div>
<p>
<b>Standard Swap Exchange</b> - The customer sends the faulty device to Arlo using the provided Return Satchel (Arlo provides a Return Satchel to Australian customers only). Once Arlo receives the faulty device, a replacement will be delivered to the specified address within 3-5 business days.
</p>
<p>
<b>Advance Ground - Home Products</b> - The customer will be charged 30.00 AUD. The RMA fulfillment center will send the replacement device within 3-5 business days if completed before the cut off time. The customer must return the defective device at their own cost within 10 business days to Arlo so they will not have any issue getting another replacement in the future. Note: PPL is only available for Australian customers. Customers in New Zealand will have to return the item at their own expense.
</p>
<p>
<b>Advance Next Business Day - Home Products</b> - Customers will be charged a fee of 40.00 AUD. The fulfillment center will send the replacement device the next business day if completed within cut off time. The customer must return the defective device at their own cost within 10 business days to Arlo so they will not have any issue getting another replacement in the future. Note: PPL is only available for Australian customers. Customers in New Zealand will have to return the item at their own expense.
</p>
<p>
<b>Warehouse Information:</b><br>
BrightStar Logistics Australia<br>
Door 7 11-13 Ash Road, Prestons<br>
NSW, 2170, Australia<br>
Phone: 1800 172 244 <br><br>
BrightStar Logistics New Zealand<br>
503 Mount Wellington Hwy,<br>
Auckland, New Zealand 1060<br>
Phone: 1300 773 777
</p>
<br><br>
</div>

<div id='UK' class="hiddenDiv"><br>
<div style="color:#ffffff;background-color: #013e52;padding:1px;"><h4>EMEA</h4></div>
<p>We accept Amex, Visa, MasterCard and Discover Card only.</p>
<p>Cut Off time - refers to the deadline that an RMA must be completed for the device to be shipped. Cut Off Time for Anovo UK is at <b>2PM GMT</b>. </p>

<div style="color:#000000;background-color: #a2c8b9;padding:1px;">Shipping Options</div>
<p>
<b>Standard Swap Exchange</b> - Customer sends in their defective device at their costs and Anovo ships a replacement within 3-5 business days at our expense.
</p>
<p>
<b>Advance Ground - Home Products</b> - The customer will be charged 15GBP/25EUR. A replacement device will be shipped the within 3-5 business days with a shipping label to return the defective device. 
</p>
<p>
<b>Advance Next Business Day - Home Products</b> -  The customer will be charged 20GBP/30EUR. A replacement device will be shipped within the next business day provided it's completed within the cut-off time. The shipping label will be available for collection. 
</p>
<p>
<b>Warehouse Information:</b><br>
Anovo UK<br>
71 Bilton Way<br>
Enfield, EN3 7EP<br>
Phone: +44(0) 208 443 8736<br>
Fax: +44(0) 208 443 8772

</p>
<br> <br> 
</div>