<h4>Specifications</h4>
<div class="div_vdb_specs">

	<h5>Key Features</h5>

	<table class="table_vdb_specs">
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/see-more.png" /></td>
			<td class="vdb_specs">
				<b>See more at your front door</b><br>
				Get the bigger picture of who’s there and capture vivid detail in bright and dark areas. See a person from head to toe or a package on the ground. With a 180 degree viewing angle.
			</td>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/security.png" /></td>
			<td class="vdb_specs">
				<b>Security in the palm of your hand</b><br>
				Receive notifications when motion is detected and watch live streaming video from your smartphone or tablet.
			</td>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/answer.png" /></td>
			<td class="vdb_specs">
				<b>More ways to answer</b><br>
				See and speak to visitors with clear two-way audio, or respond with pre-recorded quick reply messages when you’re busy.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/night-vision.png" /></td>
			<td class="vdb_specs">
				<b>Night Vision</b><br>
				See who’s at the door at night, even without a light on.
			</td>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/weatherproof.png" /></td>
			<td class="vdb_specs">
				<b>Brave the elements</b><br>
				Designed to withstand heat, cold, rain or sun. 
			</td>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/wired-power.png" /></td>
			<td class="vdb_specs">
				<b>Wired Power</b><br>
				Install it yourself by connecting to your home’s existing doorbell wiring, or contact a professional installer for assistance.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/notifications.png" /></td>
			<td class="vdb_specs">
				<b>Notifications that matter</b><br>
				Get alerts when your Video Doorbell spots people, vehicles, animals, or a package with Arlo Smart.  Includes a 3 month trial of Arlo Smart service, with rolling 30 day cloud recordings.  
			</td>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/siren.png" /></td>
			<td class="vdb_specs">
				<b>Built in smart siren</b><br>
				Trigger your siren remotely or automatically during an event.
			</td>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/visitor-messaging.png" /></td>
			<td class="vdb_specs">
				<b>Visitor messaging</b><br>
				Guests can leave you a voice message if you’re unable to answer the door, and you can listen remotely at your convenience. 
			</td>
		</tr>
	</table>

	<h5>See More with Arlo Video Doorbell</h5>
	<img src="/assets/img/vdb/fov-compare.jpg" />

	<h5>Specification Details</h5>
	<table class="table_vdb_specs_details">
		<tr>
			<td>
				<p>Arlo’s first video doorbell, packing high performance into a cost-effective platform.</p>
				<p>The Arlo video doorbell offers a superior user experience, with much wider field of view, optimized for the doorbell – allowing customers to clearly see from package to person and across their entire front entry.</p>

				<b>Specifications:</b>
				<ul>
					<li>2MP HD 1536x1536 resolution with HDR</li>
					<li>Ultra-wide 180° field of view</li>
					<li>Works without an Arlo base-station</li>
					<li>Direct-to-Mobile SIP Video Call</li>
					<li>Advanced Noise Reduction</li>
					<li>2-way conversational audio</li>
					<li>Built-in Tamper Detection and Siren Capability</li>
					<li>Motion Detection and Instant Alerts</li>
					<li>Easy DIY Wired Power, 16VAC – 24VAC</li>
					<li>Night Vision</li>
					<li>Weather-Resistant IP65-rated</li>
				</ul>

				<b>Product Dimensions:</b>
				<ul>
					<li>mm: 45mm x 130mm x 25mm</li>
					<li>in: 1.77 x 5.11 x 0.98</li>
					<li>Weight: (g/lb)113g / 0.25lb</li>
				</ul>
			</td>
			<td style="width:auto">
				<img src="/assets/img/vdb/vdb-front-view.png" style="width:30%"/><img src="/assets/img/vdb/vdb-diagonal-view.png" style="width:60%"/>
			</td>
		</tr>
	</table>
	
	<h5>Product Diagram</h5>
	<img src="/assets/img/vdb/vdb-parts01.jpg" style="width:50%"/><img src="/assets/img/vdb/vdb-parts02.jpg" style="width:30%"/>
	
	<h5>Video Doorbell Smart Trial</h5>
	<table class="table_vdb_specs_details">
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/cloud-recording.png" /></td>
			<td>
				<b>Cloud Recording</b><br>
				30 day video history. (Video Doorbell supports up to 1536x1536, and is not 2K)
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/activity-zone.png" /></td>
			<td>
				<b>Activity Zones</b><br>
				Create activity zones to highlight specific areas you want alerts from.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/rich-notifications.png" /></td>
			<td>
				<b>Rich Notifications</b><br>
				View clips on your smartphone’s lock screen and take immediate action.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/person-detection.png" /></td>
			<td>
				<b>Person Detection</b><br>
				Receive real-time alerts when people approach your home.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/package-detection.png" /></td>
			<td>
				<b>Package Detection</b><br>
				See items as they’re picked up and delivered to your door.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/vehicle-detection.png" /></td>
			<td>
				<b>Vehicle Detection</b><br>
				Find out when vehicles are parking or moving on your property.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/animal-detection.png" /></td>
			<td>
				<b>Animal Detection</b><br>
				Check on your four-legged family members and get alerted to intruders.
			</td>
		</tr>
		<tr>
			<td class="img_vdb_specs"><img class="img_vdb" src="/assets/img/vdb/e911.png" /></td>
			<td>
				<b>e911</b><br>
				Send first responders straight to your home – not your phone’s location.
			</td>
		</tr>
	</table>
	
	<h5>Arlo Doorbell Product Offerings</h5>
	<table class="table_vdb_compare">
		<tr>
			<td>
			</td>
			<td><img class="img_vdb_device" src="/assets/img/vdb/adb-front-view.png" /></td>
			<td><img class="img_vdb_device" src="/assets/img/vdb/vdb-front-view.png" /></td>
		</tr>
		<tr>
			<th>
			</th>
			<th>Audio Doorbell</th>
			<th>Video Doorbell</th>
		</tr>
		<tr>
			<th>Resolution</th>
			<td>N/A</td>
			<td>1536 x 1536 2MP HD 1:1 Aspect</td>
		</tr>
		<tr>
			<th>FOV</th>
			<td>N/A</td>
			<td>180° Diagonal</td>
		</tr>
		<tr>
			<th>Power</th>
			<td>Battery Powered, 2x AA</td>
			<td>Wired, 16VAC – 24VAC</td>
		</tr>
		<tr>
			<th>Doorbell Press</th>
			<td>SIP HD Video Call</td>
			<td>SIP HD Video Call</td>
		</tr>
		<tr>
			<th>Wi-Fi Frequency</th>
			<td>2.4GHz</td>
			<td>2.4GHz</td>
		</tr>
		<tr>
			<th>Connects To</th>
			<td>Arlo Base-Station / SmartHub</td>
			<td>Direct to WiFi</td>
		</tr>
	</table>
	
	<h5>Competitive Comparison</h5>
	<table class="table_vdb_compare">
		<tr>
			<td>
			</td>
			<td><img class="img_vdb_device" src="/assets/img/vdb/ring-pro.jpg" /></td>
			<td><img class="img_vdb_device" src="/assets/img/vdb/nest-hello.jpg" /></td>
			<td><img class="img_vdb_device" src="/assets/img/vdb/vdb-front-view.png" /></td>
		</tr>
		<tr>
			<th>
			</th>
			<th>Ring Pro</th>
			<th>Nest Hello</th>
			<th>Arlo Video Doorbell</th>
		</tr>
		<tr>
			<th>Resolution</th>
			<td>1080p</td>
			<td>1080p</td>
			<td>1536 x 1536 2MP HD 1:1 Aspect <div class="better-device"></div></td>
		</tr>
		<tr>
			<th>High Dynamic Range</th>
			<td>No</td>
			<td>Yes</td>
			<td>Yes <div class="better-device"></div></td>
		</tr>
		<tr>
			<th>FOV</th>
			<td>160°</td>
			<td>160°</td>
			<td>180° <div class="better-device"></div></td>
		</tr>
		<tr>
			<th>Video Compression</th>
			<td>H.264</td>
			<td>H.264</td>
			<td>H.264</td>
		</tr>
		<tr>
			<th>Power</th>
			<td>Wired</td>
			<td>Wired</td>
			<td>Wired</td>
		</tr>
		<tr>
			<th>Night Vision</th>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
		</tr>
		<tr>
			<th>Doorbell Press</th>
			<td>Push Notification</td>
			<td>Push Notification</td>
			<td>SIP HD Video Call <div class="better-device"></div></td>
		</tr>
		<tr>
			<th>Wi-Fi Frequency</th>
			<td>2.4GHz and 5GHz</td>
			<td>2.4GHz and 5GHz</td>
			<td>2.4GHz</td>
		</tr>
		<tr>
			<th>Audio</th>
			<td>2-way</td>
			<td>2-way</td>
			<td>2-way</td>
		</tr>
		<tr>
			<th>Smart Siren in Doorbell</th>
			<td>No</td>
			<td>No</td>
			<td>Built in Siren Tone <div class="better-device"></div></td>
		</tr>
		<tr>
			<th>Works With</th>
			<td>Amazon Alexa</td>
			<td>Google Assistant</td>
			<td>Amazon Alexa*<br>Google Assistant*<br>Apple HomeKit* <div class="better-device"></div></td>
		</tr>
		<tr>
			<th>Price</th>
			<td>$249</td>
			<td>$229</td>
			<td>$149 <div class="better-device"></div></td>
		</tr>
	</table>
	<span style="float:right;">* available Q4 2019</span>
	</div>
<br><br><br>