<section id="articleDesciption" data-custom-url="KBArticleDescription/1580711638915/1580711638915_101235_description.html" style="display: block;"><p style="text-align:center"><strong><u>FRONTLINE MEETING</u></strong></p>

<p style="text-align:center">&nbsp;</p>

<p><strong>UPDATES</strong></p>

<p>Released to production:</p>

<p>- CLD HMSWEB 2.16.0-6, Arlo CLD HMSDB 2.16.16 and 2.16.17</p>

<p>- AVD1001_OTA-1.14.0.0_436_2024c80_f57463b</p>

<p>- WEB: 2.12.4_1 and ACCT: 2.12.4_1</p>

<p>&nbsp;</p>

<p>ISSUE-11114 - Unable to subscribe to CVR when Professional plan (Annual) and CVR (annual) on the account. Error: "We are sorry, The system is experiencing an unexpected issue"</p>

<p>ISSUE-11093 - Unable to buy CVR when annual Premier or Elite plan on the account. Cannot click “Subscribe now”</p>

<p>- Fix deployed</p>

<p>- Follow-up with cases</p>

<p>&nbsp;</p>

<p>ISSUE-10650 - No Basic option for dealers to revert their client’s subscription</p>

<p>- Accounts moved to basic</p>

<p>- Follow-up with cases</p>

<p>&nbsp;</p>

<p>ISSUE-11151 Arlo Pro live stream - Error 503 the request has expired</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p>3 sec lookback is the same as Foresight</p>

<p>- Foresight article says that must have subscription but it is only for the new cameras (Ultra, Pro3 and video doorbell) as you need subscription to have cloud storage</p>

<p>&nbsp;</p>

<p>Reminded team that for the subscription meeting with Hardika, will be discussing CVR cases/issues</p>

<p>- If there is a CVR case which does not have issue yet, escalate the case</p>

<p>&nbsp;</p>

<p><strong>Announcement from Elaine:</strong></p>

<p>- California Consumer Privacy Act (CCPA)</p>

<p>- Missing screw kits for VMA4000-10000S</p>

<p>- LMS Arlo Smart Training Certification</p>

<p>&nbsp;</p>

<p><strong>Cases/topics discussed:</strong></p>

<p>&nbsp;</p>

<p>41382762</p>

<p>- Has existing elite and CVR (both annual)</p>

<p>- Customer wants to add 1 more CVR</p>

<p>- Advise to cancel plan at least the CVR plan as we cannot mix the annual to the monthly</p>

<p>&nbsp;</p>

<p>Geofencing does not get updated when he gets home</p>

<p>- It worked after changing the address then putting it back to the correct one</p>

<p>- This is a step that has been done to re-calibrate the geofence</p>

<p>- If in case issue persist, advised to open app and see if mode changed</p>

<p>- Also check if staying on LTE helps</p>

<p>&nbsp;</p>

<p>BS cannot be onboarded</p>

<p>- Customer manually reset the BS</p>

<p>- Cannot onboard it back to the account</p>

<p>- But after changing status of BS to active in CEP it gets onboarded</p>

<p>- advised to send email to check why this step works</p>

<p>&nbsp;</p>

<p>CVR timeline does not have audio</p>

<p>- Even if live streaming in CVR does not have audio</p>

<p>- Live streaming in devices tab and recordings in library have audio</p>

<p>- Advised to escalate the case</p>

<p>&nbsp;</p>

<p>ISSUE-11094 - Arlo iOS app v2.12.1 always crashed on settings or profile page</p>

<p>- Fix is in iOS app 2.13</p>

<p>- No ETA yet when 2.13 will be released</p>

<p>&nbsp;</p>

<p>ISSUE-11133 - Unable to see the past IFTTT recordings on iOS</p>

<p>- No update yet</p>

<p>- followed up with engineering</p>

<p>&nbsp;</p>

<p>Japan team have reported to Lin "Unable to detect motion with Pro camera".</p>

<p>- Will have Lin update on this</p>

<p>&nbsp;</p>

<p>Getting request time out when live streaming</p>

<p>- Can live stream but after a few minutes will get the error</p>

<p>- If will stop stream and try to stream again, takes up to half an hour before customer can live stream again</p>

<p>- Based on logs, getting error: RTSP TEARDOWN failed. libcurl reason Error</p>

<p>- Could be related to BSTNFW-3917</p>

<p>- Advised to escalate the case</p>

<p>&nbsp;</p>

<p>Mixing annual elite/premier with monthly CVR</p>

<p>- This should work since fix has already been released</p>

<p>- Escalate cases not working</p>

<p>&nbsp;</p>

<p>Asked if we can update KB article for foresight to indicate that subscription is only required for Ultra, Pro3 and Video Doorbell</p>

<p>- will check on Hardika on this</p>

<p>&nbsp;</p>

<p>======================================================================================================================</p>

<p>Fix for the iOS badge count reset, ISSUE-10502, has been released last Jan 30.</p>

<p>Make sure to follow up with pending customers after deployement is complete to see if it has fix the issue.</p>

<p>======================================================================================================================</p>

<p>Arlo Foresight Feature</p>

<p>Is Foresight similar to the 3-second look-back?</p>

<p>Arlo Foresight is the branded feature name for what was previously described as the 3-second look-back buffering. It is the same technical feature. However, we should no longer refer to the feature as look-back.</p>

<p>&nbsp;</p>

<p>Is Foresight tied to any subscription plans?</p>

<p>Support for Arlo Foresight is not tied to any subscription plan. The additional video will be available in both cloud and local recordings for devices that support local storage.</p>

<p>Note- for Arlo Video Doorbell, Arlo Pro 3, and Arlo Ultra, an Arlo Smart plan or trial is required for cloud recordings. Local recordings are available through the base-station (Video Doorbell base-station support planned to be released in the next two months, starting with the SmartHubs.).<br>
&nbsp;</p>

<p>Legacy cameras with free 7-day recording plans will benefit from Arlo Foresight without any paid plan.</p>

<p>&nbsp;</p>

<p>Does Foresight only work as long as cameras are AC powered?</p>

<p>Support for Arlo Foresight is available on the following products:</p>

<p>· &nbsp; &nbsp; &nbsp; &nbsp;Arlo Q / Q+</p>

<p>· &nbsp; &nbsp; &nbsp; &nbsp;Arlo Baby</p>

<p>· &nbsp; &nbsp; &nbsp; &nbsp;Arlo Video Doorbell</p>

<p>· &nbsp; &nbsp; &nbsp; &nbsp;Arlo Pro 2 (when plugged into an AC charger)</p>

<p>· &nbsp; &nbsp; &nbsp; &nbsp;Arlo Pro 3 (when plugged into an AC charger)</p>

<p>· &nbsp; &nbsp; &nbsp; &nbsp;Arlo Ultra (when plugged into an AC charger)</p>

<p>&nbsp;</p>

<p>Will Foresight always work on local recording?</p>

<p>Yes. The additional video footage provided by Arlo Foresight is present for any motion or audio triggered recording, and will be included in both cloud and local recordings.&nbsp;</p>

<p>Note – the Arlo Foresight feature does not affect live-streaming or Video Doorbell SIP calls.<br>
&nbsp;</p>

<p>Is a subscription required for Pro3, Ultra and Video doorbell cloud recording?</p>

<p>Yes. Ultra, Pro 3 and Video Doorbell require an Arlo Smart plan or trial to allow cloud recordings.</p>

<p>======================================================================================================================<br>
&nbsp;</p>

<p>Our Video Doorbell exchange promo has expired last&nbsp;1/31/2020&nbsp;</p>

<p>======================================================================================================================</p>

<p><strong>FYI: Missing screw kits for VMA4000-10000S</strong></p>

<p>&nbsp;</p>

<p>We have identified an issue on missing screw kits for VMA4000-10000S.</p>

<p>&nbsp;</p>

<p>For customers who would complain, kindly ensure customers that we will send them the screw kits via&nbsp;<u>ground shipping.</u></p>

<p>&nbsp;</p>

<p><strong>Part number - 422-10014-01 – this part number will show up once IT have successfully added it in the list.</strong></p>

<p>&nbsp;</p>

<p style="text-align:center">- END -</p>
</section>
