<section id="articleDesciption" data-custom-url="KBArticleDescription/1580096980535/1580096980535_101235_description.html" style="display: block;"><p style="text-align:center"><u><strong>FRONTLINE UPDATES</strong></u></p>

<p style="text-align:center">&nbsp;</p>

<p ><span ><span  >Release to Production: Arlo CLD HMSDB 2.16.0-12 and CLD Wowza 2.15.1</span></span></p>

<p ><span ><span  >Release Highlights:</span></span></p>

<p ><span ><span  >Bug fixes for Alexa player not showing videos and log masking.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-11087</strong> - Wrong video played in Library when two videos have identical start time</span></span></p>

<p ><span ><span  >- Fix already released</span></span></p>

<p ><span ><span  >- Follow up on attached cases</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-11131 </strong>- Geofencing mode is not present on Mode page (Huawei Y6 2019 , Android 9, Arlo app 2.12.3)</span></span></p>

<p ><span ><span  >- Attach related cases</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-11133 -</strong> Unable to see the past IFTTT recordings on iOS</span></span></p>

<p ><span ><span  >- Attach related cases</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Process to replace Power Adapter plug for VMS4230P-100AUS (Arlo Pro2 Australia sku)</span></span></p>

<p ><span ><span  >- Check Hardika’s post in Chatter</span></span></p>

<p ><span ><span  >- send correct plug. PN: 333-50019-01</span></span></p>

<p >&nbsp;</p>

<p >&nbsp;</p>

<p ><u><strong><span ><span  >Update from Elaine:</span></span></strong></u></p>

<p ><span ><span  >GDPR process already uploaded in LMS</span></span></p>

<p >&nbsp;</p>

<p ><u><strong><span ><span  >Issues, cases discussed:</span></span></strong></u></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-10815</strong> (Case:41101058)</span></span></p>

<p ><span ><span  >- Toshi confirms that IFTTT is working with VMB4000.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-11094</strong> - Arlo iOS app v2.12.1 always crashed on settings or profile page</span></span></p>

<p ><span ><span  >- Issue fixed in iOS app 2.13</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-10982 </strong>- Android: being logged out but no other device is logged in</span></span></p>

<p ><span ><span  >- Can also be sometimes seen on iOS</span></span></p>

<p ><span ><span  >- BE will need to check issue also</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-11093</strong> - Unable to buy CVR when annual Premier or Elite plan on the account. Cannot click “Subscribe now”</span></span></p>

<p ><span ><span  >- will be fixed</span></span></p>

<p ><span ><span  >- workaround is to subscribe CVR on a new account</span></span></p>

<p ><span ><span  >- or cancel old subscription on existing account</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Intermittently being able to livestream</span></span></p>

<p ><span ><span  >- Getting request timed out error</span></span></p>

<p ><span ><span  >- Advised to make sure camera connection is good</span></span></p>

<p ><span ><span  >- Check interference. change channel if needed</span></span></p>

<p ><span ><span  >- Check internet speed/bandwidth saturation lines in the logs</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Purchasing additional mobile plan for Arlo Go mobile</span></span></p>

<p ><span ><span  >- Has 4 arlo go cameras</span></span></p>

<p ><span ><span  >- Also have legacy Elite plan</span></span></p>

<p ><span ><span  >- Cancelling/changing/adding Arlo Go mobile plan, the Elite plan will also get cancelled</span></span></p>

<p ><span ><span  >- When you add a plan, you must all the other plans again</span></span></p>

<p ><span ><span  >- unused plan will be refunded (prorated)</span></span></p>

<p ><span ><span  >- But will lose the Legacy Elite plan since not being offered anymore</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Getting cases where the customers are getting subscription invoice</span></span></p>

<p ><span ><span  >- Team is collating cases</span></span></p>

<p ><span ><span  >- Team will email when details are ready</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  ><strong>ISSUE-10837</strong> - Unable to reset password. Error: "Something went wrong. Try again" occurs when trying to send PW reset link on all platforms</span></span></p>

<p ><span ><span  >- Case # 41383516</span></span></p>

<p ><span ><span  >- Advised workaround is to setup on another account while waiting for fix</span></span></p>

<p ><span ><span  >- But case seems to be a different issue since error is after the customer receives the reset PW email and tried to reset the PW</span></span></p>

<p ><span ><span  >- Case is already closed</span></span></p>

<p ><span ><span  >- Advised that moving forward if case is not related, it must be escalated</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >===========================================================================================================================</span></span><span ><span  >&nbsp;FYI: What is California Consumer Privacy Act (CCPA)?</span></span></p>

<p >&nbsp;</p>

<p ><span style="font-family:Calibri,sans-serif; font-size:11pt">On January 1, 2020 California has implemented a new law similar to GDPR where California residents have the right to:</span></p>

<p >&nbsp;</p>

<p ><span ><span  >Know what personal data is being collected about them.</span></span></p>

<p ><span ><span  >Know whether their personal data is sold or disclosed and to whom.</span></span></p>

<p ><span ><span  >Say no to the sale of their personal data.</span></span></p>

<p ><span ><span  >Access their personal data.</span></span></p>

<p ><span ><span  >Request the business to delete any personal information about the consumer which the business has collected from the consumer.</span></span></p>

<p ><span ><span  >Not to be discriminated by exercising any of the consumer’s rights. </span></span></p>

<p ><span ><span  >&nbsp;</span></span></p>

<p ><span ><span  >Arlo Team will post a statement on our site on how customers can submit their questions and/or request to exercise this right.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >A different dedicated phone number and/or email address will be posted but just in case you received an inquiry pertaining to this, kindly follow the GDPR process.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Currently, we are in the process of adding CCPA as a disposition code for documentation and we will share once it's done.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >===========================================================================================================================</span></span></p>

<p ><span ><span  ><span style="font-family:'Segoe UI Emoji',sans-serif">🎯</span> Monthly Exam - January 2020</span></span></p>

<p ><span ><span  >January exam is now live in LMS. This is a 20 item exam consisting of GDPR, Subscription and processes questions.</span></span></p>

<p ><img data-pulse-asset-path="/assets/img/spotcheck/0201Competency.jpg" data-pulse-asset-type="Image" height="" src="/assets/img/spotcheck/0201Competency.jpg" width=""><br></img></p>

<p ><span ><span  >&nbsp;</span></span><span ><span  >Deadline: Feb. 5th, 2020</span></span></p>

<p ><span ><span  >===========================================================================================================================</span></span></p>

<p ><span ><span  >Fixed: This issue has been fixed as of 9:55 AM PST Jan 24th</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Some 2FA enabled customers may be experiencing issue Login into Arlo account. This should not prevent cameras from operating as expected, including notifications, live streaming and library recording. The team is actively looking into the issue and will share more updates once they become available. Please advise customers to monitor https://status.arlo.com/ for the latest updates on this. Also please let us know if you see an unexpected increase in contacts for any specific issues or with specific clients.</span></span></p>

<p ><span ><span  >Make sure to tag all the affected cases with below dispositions.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >&nbsp;Account --&gt; Unable to login with Two step Verification --&gt; Others</span></span></p>

<p ><span ><span  >===========================================================================================================================</span></span></p>

<p ><span ><span  >Issue Fixed :&nbsp;</span></span><span ><span  >Arlo Go - Missing video in library</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Some Arlo Go customers may be experiencing issue Missing Video recording to library. This should not prevent cameras from operating as expected, including notifications and live streaming. There is no issue with manual recording as well. The team is actively looking into the issue and will share more updates once they become available. Please advise customers to monitor https://status.arlo.com/ for the latest updates on this. Also please let us know if you see an unexpected increase in contacts for any specific issues or with specific clients.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Make sure to tag all the affected cases with below dispositions.</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Library --&gt; No recording the library --&gt; Advised of known issue</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >===========================================================================================================================</span></span></p>

<p ><span ><span  >FYI: GDPR Process</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >&nbsp;</span></span><img data-pulse-asset-path="/assets/img/spotcheck/0201gdpr.jpg" data-pulse-asset-type="Image" height="" src="/assets/img/spotcheck/0201gdpr.jpg" width=""><br></img></p>

<p >&nbsp;</p>

<p ><img data-pulse-asset-path="/assets/img/spotcheck/0201gdpr2.jpg" data-pulse-asset-type="Image" height="" src="/assets/img/spotcheck/0201gdpr2.jpg" width=""><br></img></p>

<p >&nbsp;</p>

<p ><img data-pulse-asset-path="/assets/img/spotcheck/0201gdpr3.png" data-pulse-asset-type="Image" height="" src="/assets/img/spotcheck/0201gdpr3.png" width=""><br></img></p>

<p >======================================================================================================================</p>

<p ><span ><span  >The Arlo Video Doorbell now supports Alexa. We can discover the device through the Alexa app and configure the Doorbell for Doorbell press announcements and Motion announcements via one of the following Amazon devices:</span></span></p>

<p >&nbsp;</p>

<p ><span ><span  >Echo Show</span></span></p>

<p ><span ><span  >Echo Spot</span></span></p>

<p ><span ><span  >Fire TV (all generations)</span></span></p>

<p ><span ><span  >Fire TV stick (second generation only)</span></span></p>

<p ><span ><span  >Fire TV Edition smart TVs</span></span></p>

<p >&nbsp;</p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:center">- END -</p>

<p >&nbsp;</p>

<p >&nbsp;</p>

<p >&nbsp;</p>
</section>