<section id="articleDesciption" data-custom-url="KBArticleDescription/1581305191661/1581305191661_101235_description.html" style="display: block;"><p style="text-align:center"><strong><u>FRONTLINE UPDATES</u></strong></p>

<p>&nbsp;</p>

<p>Released to production:</p>

<p>Arlo CLD HMSDEALER 2.16.0-1</p>

<p>- Fixed RMR Dealer issue, can’t add new users to dealer portal.</p>

<p>&nbsp;</p>

<p>ACCTClient 2.12.4_3; Arlo CLD HMSWEB 2.16.0-7</p>

<p>- Q1 Promo code: 50% off Arlo Smart Premier (5 cam plan) for 1 year</p>

<p>&nbsp;</p>

<p>Arlo CLD HMSNOTIFICATIONS 2.16.0 (Fast Track Release for iOS badge count reset)</p>

<p>- Fixes ISSUE-10502 - IOS Arlo app badge wont reset</p>

<p>- Check with customers</p>

<p>&nbsp;</p>

<p>ISSUE-11155 - Motion detection stops after receiving Tamper Detection warning</p>

<p>- After FW update to 1.14.0.0_436_2024c80_f57463b</p>

<p>- FW for AVD has been rolled back</p>

<p>&nbsp;</p>

<p>ISSUE-11160 - VMS4231P Labeled as having Local Storage when not available.</p>

<p>- Follow call handler created by Mark V</p>

<p>- We will replace with VMB5000 or VMB4540</p>

<p>&nbsp;</p>

<p>ISSUE-11054 - Unable to Select a Camera when subscribing to CVR 14 days/30 days</p>

<p>- Accounts with the Ultra trial plan should be able to purchase CVR</p>

<p>- If a customer already has annual billing, they will be able to buy any other service and continue their annual terms</p>

<p>- Engineering will work on this</p>

<p>&nbsp;</p>

<p><strong>Cases/topics discussed:</strong></p>

<p>&nbsp;</p>

<p>ISSUE-11094 - Arlo iOS app v2.12.x always crashed on settings or profile page when locale is set to Chinese or Japanese</p>

<p>- Tested that TestFlight 2.13(2044) fixes issue</p>

<p>- Wait for 2.13 to be officially released</p>

<p>&nbsp;</p>

<p>ISSUE-11133 - Unable to see the past IFTTT recordings on iOS</p>

<p>- Waiting for update from engineering</p>

<p>&nbsp;</p>

<p>wants to purchase CVR</p>

<p>- 41428557</p>

<p>- Customer only has the trial plan for Pro3 and doorbell</p>

<p>- But, cannot confirm in diag tool since it does not have the subscription part</p>

<p>- Advised to escalate case with screenshots and HAR logs</p>

<p>&nbsp;</p>

<p>======================================================================================================================</p>

<p style="text-align:center"><strong><u>CHATTER&nbsp;UPDATES</u></strong></p>

<p><strong>NEW ISSUES</strong></p>

<p>&nbsp;</p>

<p>ISSUE-11163 - Wrong video played in Library when two videos have identical start time Android 2.12.3.&nbsp;</p>

<p>- related to a previous issue, ISSUE-11087, for the same issue on Android App 2.12.2 and earlier</p>

<p>-&nbsp;Some users report the issue continues on Android 2.12.3</p>

<p>- attach related cases with current app 2.12.3</p>

<p>&nbsp;</p>

<p>ISSUE-11159 - Users receive error&nbsp; "... trouble in Processing this transaction" when trying to subscribe to Smart.&nbsp;</p>

<p>- attach related cases</p>

<p>&nbsp;</p>

<p>ISSUE-11161 - Video Doorbell losing Wi-Fi connectivity.</p>

<p>-&nbsp;attach realted cases where the Video Doorbell was able to onboard and connect, but loses Wi-Fi connectivity some time after installation.</p>

<p>&nbsp;</p>

<p>======================================================================================================================</p>

<p style="text-align:center"><u><strong>CALL HANDLERS</strong></u></p>

<p><u><span style="font-family:Calibri Light, sans-serif"><strong>PROCESS TO REPLACE BASE STATION FOR VMS4230P-100NAS BEST BUY</strong></span></u></p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif"><span class="Heading2Char" style="font-family:&quot;Calibri Light&quot;,sans-serif">Issue</span><strong>: </strong></span></span></h2>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Some 2-Camera Arlo Pro2 Black systems, model VMS4231P-100NAS sold exclusively at Best Buy in were labeled as having Local Storage capability when they contain a VMB3500B Black Base Station that does not support Local Storage.</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Symptoms:</span></span></h2>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Customer purchased 2-Camera Arlo Pro 2 kit from Best Buy (must be system VMS4231P-100NAS)</span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Customer complains that the Base Station is unable to support Local Storage</span></span></li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Solution:</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">L1:</span></span></p>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Let the customer know we will ship them a Base Station capable of Local Storage</span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Log a case against the Base Station VMB3500BNA with below Disposition tagging</span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Escalate the case to L2</span></span></li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">L2:</span></span></p>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Create a NBD RMA (Shipping waived) for the customer.</span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Select PN <strong>VMB4540B-100NAB</strong>. If unavailable, select PN VMB5000B-.</span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Once customer has received replacement: Close case</span></span></li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Disposition</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Case Sub-Type: Complaints</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Problem: Packaging</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Symptoms: Wrong info on box</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Root cause: RMA Device</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Please document to CEP with above Disposition Code above and attach to ISSUE-11160 – “VMS4231P Labeled as having Local Storage when not available “</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h1 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:12pt"><u><strong><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">LOW BATTERY MESSAGE ON Arlo VIDEO DOORBELL</span></span></span></strong></u></h1>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h3 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Overview</span></span></span></h3>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Customers report receiving a low battery message sometime after onboarding the Video Doorbell. This message might be seen minutes, days or weeks after onboarding the Video Doorbell. It is possible that this message is a result of the customer’s transformer being on the borderline of having sufficient power to operate the Video Doorbell to its fullest potential.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h3 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Symptom</span></span></span></h3>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Customers report seeing a low battery message days, weeks or soon after they have onboarded their Video Doorbell.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h3 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">L1 Action</span></span></span></h3>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Immediately pull system logs on contact</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Attach system logs and screenshots to the case</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Did the customer receive a Low Battery Warning?</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">How long after installing the device did the customer receive a low battery warning?</span></span></span></span></li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in">&nbsp;</p>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Gather the following information related to Video Doorbell low battery reports:</span></span></span></span></li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Transformer</span></strong></span></span></span></p>

<ul>
	<li style="list-style-type:none">
	<ul style="list-style-type:circle">
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Transformer rating (e.g. <strong><em>16V AC 10VA</em></strong>)</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Pictures of transformer and wiring</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Age of transformer</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Any other device using the same transformer (e.g. other doorbells – traditional or video)</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Note approximate distance between the transformer and Video Doorbell</span></span></span></span></li>
	</ul>
	</li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Chime</span></strong></span></span></span></p>

<ul>
	<li style="list-style-type:none">
	<ul style="list-style-type:circle">
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Make and model of chime</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Picture of chime and wiring</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Number of chimes connected to the same transformer</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Estimated wire length connecting doorbell to the transformer (approximate distance between doorbell and transformer)</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><em><span style="font-family:&quot;Calibri Light&quot;,sans-serif">If user is willing</span></em></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">, ask the customer to disconnect their <strong><em>chime</em></strong> for a while (a few days to a week) to see if the low battery alert goes away.</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Confirm if the chime<strong><em> </em></strong>is <strong><em>not </em></strong>ringing with power kit attached</span></span></span></span></li>
	</ul>
	</li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Doorbell</span></strong></span></span></span></p>

<ul>
	<li style="list-style-type:none">
	<ul style="list-style-type:circle">
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Ensure that the breaker is turned on and there is power going to the Video Doorbell</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Double check the Video Doorbell AC connection wires on the back and make sure they are securely fastened</span></span></span></span></li>
		<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">If user has a voltmeter, ask for the measured AC voltage across the two terminals on the back of the Video Doorbell</span></span></span></span>
		<ul style="list-style-type:square">
			<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><em><span style="font-family:&quot;Calibri Light&quot;,sans-serif">NOTE</span></em></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">: If voltage meets minimum requirement, it may still be at risk of low-battery issue. In this case the customer’s transformer is possibly underpowered due to a variety of reasons: total load on transformer (e.g. more than one device working off transformer), longer than normal distance between transformer and video doorbell </span></span></span></span></li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h3 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">L2 Action</span></span></span></h3>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Ensure system logs were pulled on contact. <strong><em>If not</em></strong>, pull them as soon as possible upon escalation to L2</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Ensure system logs are attached to the case</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Attach system logs, App logs and screenshots to CEP Issue 11016</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Be sure to attach all related cases to Issue 11016</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Gather the following information related to Video Doorbell low battery reports</span></span></span></span></li>
</ul>

<h3 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Case Disposition</span></span></span></h3>

<p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Case Sub-Type</span></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">: Functionality</span></span></span></span></p>

<p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Problem</span></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">: Video Doorbell functionality</span></span></span></span></p>

<p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Symptoms</span></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">: Received low battery message</span></span></span></span></p>

<p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Root Causes</span></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">:</span></span></span></span></p>

<ul>
	<li class="MsoNoSpacing" style="margin:0in 0in 0.0001pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Advised of transformer requirements</span></span></span></span></li>
	<li class="MsoNoSpacing" style="margin:0in 0in 0.0001pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Advised to disconnect chime - for follow up</span></span></span></span></li>
</ul>

<p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Case Subjec</span></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">t: Customer received low battery message on Video Doorbell - Issue 11016</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Case Description</span></strong><span style="font-family:&quot;Calibri Light&quot;,sans-serif">: Customer received low battery message on Video Doorbell - Issue 11016</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h3 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Summary</span></span></span></h3>

<p style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">As a recap, please ensure the following actions are taken:</span></span></span></span></p>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Immediately pull system logs on initial contact</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Attach system logs and screenshots to the case and CEP Issue 11016</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Be sure to attach all related cases to Issue 11016</span></span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Gather the information related to Video Doorbell low battery reports as listed above for the transformer, chime and doorbell</span></span></span></span></li>
</ul>

<h1 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:12pt">&nbsp;</h1>

<h1 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:12pt"><u><strong><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">UNUSUAL LOGIN ACTIVITY AND LOCKED ACCOUNTS</span></span></span></strong></u></h1>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Overview</span></span></span></h2>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Arlo has experienced an issue where, during our routine health checks, we have identified what appears to be unusual login activity on several Arlo accounts. As a proactive measure, Arlo has locked the accounts of affected users, in case the login attempts were not by the authorized user. To regain access to their accounts, users will need to reset and change their passwords.</span></span></span></p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Symptom</span></span></span></h2>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Users will find their accounts are locked out, and will be unable to log in using their password. Users will also be notified via e-mail that their account has been locked.</span></span></span></p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">L1 Action</span></span></span></h2>

<ul>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Let the customer know that “Arlo has experienced an issue where during our routing health checks, we identified unusual login activity on several Arlo accounts. As a proactive measure, we have locked the affected accounts, in case the login attempts were not by the authorized user. To regain access to your account, you will need to reset the password.</span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Direct customers to my.arlo.com. Have the customer click the “<strong>Forgot Password?</strong>” link. Have users follow the password recovery process to reset their password</span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Recommend that the user use a unique password or passphrase that is not used for any other account.</span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Recommend that the user set up TwoFactor Authentication on their account. Refer the customer to https://kb.arlo.com/000062288/What-is-two-step-verification-and-how-do-I-set-it-up</span></span></span></li>
	<li style="margin:0in 0in 0.0001pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Apologize for any inconvenience that this may have caused.</span></span></span></li>
	<li style="margin:0in 0in 8pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Attach the Case to <strong>ISSUE11164 - Unusual Login Activity and Locked Accounts</strong></span></span></span></li>
</ul>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><span style="font-size:14px"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">L2 Action</span></span></span></h2>

<ul>
	<li style="margin:0in 0in 8pt 0.5in"><span style="color:null"><span style="font-size:14px"><span style="font-family:Calibri,sans-serif">Be sure all cases are attached to ISSUE 11164</span></span></span></li>
</ul>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<p style="text-align:center"><span style="color:null"><span style="font-size:14px">- END -</span></span><br>
&nbsp;</p>
</section>