<h4>Spotcheck WE1124</h4>
<br>
<b>Updates:</b><br><br>
Release to production:<br>

<h5>Pro 3 Camera VMC4040P 1.060.10.16_385_f2f6f28</h5>
Public Release Notes:<br>
<ul>
<li>Image Quality Improvements</li>
</ul>

<h5>LCBS VMB4500 1.14.0.9_2883_cab9a4b</h5>
Public Release Notes:<br>
<ul>
<li>Blacklisting incompatible hardware and security fix</li>
</ul>
<br>
<b>Coming soon:</b><br>
<h5>Arlo iOS App 2.11</h5>
Release Highlights:<br>
<ul>
<li>Introducing the Arlo Video Doorbell</li>
<li>The Devices screen loads significantly faster</li>
<li>Bug fixes for iOS 10.3</li>
<li>Improvements to Dark Mode</li>
<li>Resolved an issue with IFTTT integration</li>
<li>Other stability and performance improvements</li>
</ul>

<h5>ISSUE-10967 - Unable to upgrade/downgrade annual plans</h5>
<ul>
<li>Customer is unable to upgrade from annual Premier to annual Elite plan</li>
<li>At the last step he clicks on “Complete payment” and nothing happens. The page is loading and gets stuck on the same page</li>
<li>We are able to reproduce in the LAB</li>
</ul>

<h5>ISSUE-10961 - iOS Arlo app 2.10 crashes on iOS 13.2.2 when open the app. No login screen.</h5>
<ul>
<li>The issue may be related to Issue 10847</li>
<li>Please attach all relevant cases to the issue</li>
<li>Gather iOS crash logs</li>
<li>As a workaround the customer can use web client</li>
</ul>
*see attached document for how to get iOS crash logs

<h5>ISSUE-10962 - iOS app Siren Banner to deactivate Siren will not appear if app closed</h5>

<h5>ISSUE-10719 - "Uncertified Accessory" error when adding base station/cameras to HomeKit</h5>
<ul>
<li>Reset Token button is live in the CS DiagTool</li>
<li>The reset token should be used only for the issue ISSUE-10719</li>
<li>Call handler is posted in CEP as an Internal Article</li>
</ul>

<h5>ISSUE-10397 - Alexa does not announce that somebody is at the door when Arlo doorbell is pressed</h5>
<ul>
<li>The fix should come by the end of November</li>
</ul>

<h5>ISSUE-10830 - CVR timeline skips to the end of the recording for the day after trying to play right after a gap in the timeline (WEB)</h5>
<ul>
<li>Follow up with customers if they still see this issue in the web browser</li>
<li> Anna not able to replicate this issue anymore</li>
<li>Provide the feedback to L3</li>
</ul>

<h5>CVR issues: you can get some reports from customers that the timeline is blank and they are not able to see any CVR recording</h5>

<h5>ISSUE-10935 - Cannot play back CVR recording</h5>
<ul>
<li>check if the camera is connected by power adapter</li>
<li>check if the CVR is activated for camera</li>
<li>check different clients</li>
<li>escalate the case</li>
</ul>

<h5>ISSUE-10508 - Gen5 motion detection outside of activity zone</h5>
<ul>
<li>Auto Zoom and Tracking will make activity zone not work properly</li>
<li>Advised to disable Auto Zoom and Tracking</li>
<li>Waiting for external article to be published</li>
</ul>

<h5>ISSUE-10815 - IFTTT won't record with VMB4000 and VMB5000</h5>
<ul>
<li> Could you please verify what devices the customers who are complaining about this issue are using? iOS or Android?</li>
<li>There is an iOS ticket for iOS not working correctly with IFTTT IOSAPP-6392</li>
<li>It was verified with the TestFlight Arlo app version 2.11 and no issue was seen</li>
</ul>

<h5>ISSUE-10880 - Motion Not being recorded with Activity Zones active Pro 3</h5>
<ul>
<li>Anna cannot reproduce anymore</li>
<li>will be closing issue if there are no cases attached</li>
<li>Team confirmed that we do not have cases related to the issue</li>
</ul>

<b>Raised in the meeting:</b><br>
<h5>Toshi was able to resolve no push notifications on iOS 13.2.</h5>
<ul>
<li>By resetting "Reset Location & Privacy", uninstalling then re-installing Arlo app, and adding "Trusted devices" again on Arlo app, the customer was able to receive the correct push notifications with Arlo app v2.10.</li>
<li>Settings > General > Reset > Reset Location & Privacy</li>
<li>Advised that this is a step that we should try for no PN for iOS</li>
</ul>

<h5>Pro2 cannot get recordings in the library when set to until activity stops</h5>
<ul>
<li>If set to 10 sec can get the recording</li>
<li>Also not working if set to 1 or 2 min</li>
<li>Sometimes not all cameras affected</li>
<li>Advised to remove/resync/reset</li>
<li>Check internet speed</li>
<li>Check signal strength</li>
<li>Try to reproduce</li>
<li>Escalate if necessary</li>
</ul>

<h5>Takes up to 20 sec before the recording or live stream starts (after pressing play)</h5>
<ul>
<li>Internet connection good</li>
<li>Same network connection</li>
<li>Signal good</li>
<li>Escalate the case</li>
</ul>

<h5>Pixelation issue:</h5>
<ul>
<li>if customers still complain about this issue, please gather the information about the affected devices (SN, FW, distance to BS etc.), network environment (network topology, obstacles, internet speed etc.)
<li>download the logs and battery dashboards and attach to the case
<li>ask the customer for the sample recording with the time stamp
<li>check the quality of the live stream
</ul>
<br>
<br>
<br>