<h4>Spotcheck WE1117</h4>

<b>Frontline Meeting minutes week 45</b><br>
Release to Production: Arlo Pro Basestation VMB4000 1.14.1.2_2916_1fdeefd<br>
Release to Production: Arlo Smart Hub VMB5000 1.14.0.10_205_a175db4<br>
<br>

HTML 5 support for web app<br>
Official statement:<br>
<p>"We are aware of the desire for HTML 5 support to improve the Arlo experience for desktop web app users. Our team has a few other releases ahead of this initiative and appreciates your patience as we work on a transition to HTML 5. In the meantime, the Arlo App for iOS and Arlo App for Android offer the most robust experience for managing your Arlo devices."</p>

<h5>ISSUE-10932 - CEArlo-682 - Animals still being detected even if Animals is disabled in the Arlo Smart Notifcation</h5>
<ul>
<li>Attach related cases</li>
</ul>
 

<h5>ISSUE-10892 - Unable to set up e911, error: "Your account does not support Emergency plan. Now's a great time to upgrade your account."</h5>
<ul>
<li>Attach related cases</li>
</ul>

 

<h5>ISSUE-10918 - Unable to set Activity Zones correctly from iOS Arlo App v.2.10</h5>
<ul>
<li>Advised to set the resolution to 720p</li>
</ul>

 

<h5>ISSUE-10719 - "Uncertified Accessory" error when adding base station/cameras to HomeKit</h5>
<ul>
<li>We'll manually reset Homekit token until FW fix is released</li>
<li>Follow handler</li>
</ul>

 

<h5>ISSUE-10931 Cannot turn off [smoke/CO alarm]&[All other audio] together on iOS app</h5>
<ul>
<li>iOS only
<li>The workaround is to use other App instead.</li>
</ul>

 

<h5>ISSUE-10915 - No PN, E-mail or Recordings when 3 Activity Zones created on Gen3/Pro/Pro2/Q</h5>
<ul>
<li>Attach related cases</li>
</ul>

 

<h5>ISSUE-10880 - Motion Not being recorded with Activity Zones active Pro 3</h5>
<ul>
<li>Attach related cases</li>
</ul>

 

<h5>ISSUE-10620 - Motion on video will stop at 10-15 seconds of the 1-minute video recording length. Audio will continue to play.</h5>
<ul>
<li>ETA December</li>
</ul>

 

<h5>ISSUE-10456 - CEArlo-341 - Camera stop detecting motion once the 3rd cloud activity zone is created.</h5>
<ul>
<li>Same as ISSUE-10915.</li>
<li>Will keep both open because both have cases attached but advise to continue to attach to ISSUE-10915</li>
</ul>

 

<h5>ISSUE-10815 - IFTTT won't record with VMB4000&VMB5000</h5>
<ul>
<li>Still can reproduce the issue even with latest FW (1.14.1.2_2916) for the VMB4000</li>
<li>Updated issue</li>
</ul>

 

<h5>ISSUE-10848 - iOS - Audio continues to play when closing a library clip before the entire duration is played.</h5>
case: 41152019<br>
<ul>
<li>Fix for the issue is iOS app 2.10</li>
<li>Russel cannot reproduce the issue when using iOS app 2.10</li>
<li>Advised to follow up the cases</li>
</ul>

 

<h5>ISSUE-10926 - HomeKit: "missing audio" when viewing Arlo Pro camera via HomeKit remotely.</h5>
<ul>
<li>This is a known issue in HomeKit when using a Home Hub</li>
<li>The issue is on Apple’s side and it was reported to Apple</li>
<li>Apple hasn’t provided any feedback yet</li>
</ul>

 

<h5>CVR timeline blank</h5>
<ul>
<li>Pro2 plugged in</li>
<li>Should be 100% charged</li>
<li>The customer has 20 cameras in the same location</li>
<li>Uploading speed-- 27.0 Mbps</li>
<li>Downloading speed--39.0 Mbps</li>
<li>Minimal bandwidth saturation lines</li>
<li>Advised to escalate the case</li>
</ul>

 

<h5>Not getting PN and recording since FW 1.14.1.2_2916_1fdeefd</h5>
<ul>
<li>Remove/resync camera</li>
<li>Russel cannot reproduce</li>
<li>Advised to reset BS or replace BS</li>
<li>Advised to watch out for other cases where the customer is claiming that no motion after FW update</li>
</ul>

 

<h5>Not able to update the FW of the camera</h5>
<ul>
<li>Make sure that battery is good</li>
<li>Make sure the signal is good</li>
<li>Currently observing if will update if the camera is left close to the BS overnight</li>
<li>Advised to escalate the case if necessary</li>
</ul>

 

<h5>Android notification inconsistent</h5>
<ul>
<li>if from Pro2 will only say an hour ago</li>
<li>but if from Pro, will show exact time</li>
<li>Advised to send email and Russel will try to reproduce</li>
</ul>

 

<h5>Kind reminder:<br>
Disposition codes:</h5>
<ul>
<li>please pay more attention to disposition codes.</li>
<li>If you notice wrong tagging, then coach the agent about using tagging properly.</li>
<li>the training about disposition codes should be included in new hires' training.</li>
<li>If the right tagging is missing, please use the following smartsheet to add your suggestions: <a href="https://app.smartsheet.com/sheets/g7mh8rvWwJ3pV5PXGMCJRC2rFvwpGXHGWHhfGf21?view=grid">https://app.smartsheet.com/sheets/g7mh8rvWwJ3pV5PXGMCJRC2rFvwpGXHGWHhfGf21?view=grid</a></li>
</ul>

 

======================================================================================================================

<h5>Arlo & Verisure Announcement</h5>
<p>At 1PM PT today, Arlo issued a press release on International Newswire announcing that Arlo and Verisure have entered into agreements to include the acquisition of Arlo’s European commercial operations and a strategic supply partnership for Arlo camera’s.</p>
<p>The strategic partnership will create the first European multi-channel go-to-market strategy for consumer security and surveillance services by adding Arlo’s retail and e-commerce channels to Verisure’s existing direct sales channels. </p>
<p>For any inquiries about this news, please direct our customers to our Press page.</p>
<p><a href="https://www.arlo.com/en-us/about/press-releases/2019/Arlo-Verisure-Partnership.asp">https://www.arlo.com/en-us/about/press-releases/2019/Arlo-Verisure-Partnership.asp</a></p>
======================================================================================================================

<h5>ISSUE-10719 - "Uncertified Accessory" error when adding base station/cameras to HomeKit Call Handler</h5>
Symptoms:﻿
<ul>
<li>Getting "Uncertified Accessory" error when adding base station/cameras to HomeKit</li>
</ul>

L1: create a case against the BS/SH<br>
Case Tagging:<br>
Case Sub-type: Partner integration<br>
Problem: Homekit Installation<br>
Symptoms: Unable to discover camera using Homekit app<br>
Root cause: Others (Be very specific in case notes)<br>
<br>
*Indicate in the notes that the customer is getting the "Uncertified Accessory" error<br>
<br> 
L1<br>
Please check with the customer the following:<br>
<ol>
<li>When did the customer notice the issue?</li>
<li>Get screenshot of the error that the customer is getting.</li>
</ol>
<br>
Expert to do:
<ol>
<li>Inform the customer that we are aware of the issue and we are working on a FW fix.</li>
<li>Escalate case to L2 for issue attachment.</li>
<br>
*If the customer cannot wait for FW fix, escalate the case to L2 for Homekit token reset request.<br>
<br> 
L2
<ol>
<li>Validate that it is really related to ISSUE-10719.</li>
<li>If customer cannot wait and Homekit token reset is requested, please escalate case to L3 with the following info:
<ul>
<li>Case number</li>
<li>Account email address</li>
<li>Affected BS SN</li>
</ul>
</ol>
<br>
L3<br>
<ol>
<li>Request for Homekit token to be reset for the customer to DL-CloudOps@arlo.com</li>
<li>Once confirmed that Homekit is reset, de-escalate case to L2.</li>
</ol>