<h4>Spotcheck WE1208</h4>

<div id="widget-grid">
    <div class="row">
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">        
        <div class="jarviswidget jarviswidget-no-header jarviswidget-color-darken" id="wid-id-0">
                <div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 zt-view-kb-article-sections">
                            

                            <section id="articleDesciption" data-custom-url="KBArticleDescription/1575258927006/1575258927006_101235_description.html" style="display: block;"><p><span style="font-size:18px"><strong><u>FRONTLINE MEETING UPDATES</u></strong></span></p>

<p>&nbsp;</p>

<p><u><strong>Android 2.11.1</strong></u></p>

<p>- Addressed the issue ISSUE-10978 - Android 7 Arlo App 2.11. Unable to log in to Arlo account. The App gets stuck in a loop.</p>

<p>&nbsp;</p>

<p><u><strong>Video Doorbell has been launched in US</strong></u></p>

<p>- Launch date in EMEA should be March 2020 (it’s internal information and the date may change, so please don’t share with the customers)</p>

<p>- I sent you Video Doorbell presentation on Chatter</p>

<p>- Please make sure that all agents went through and provide to me questions if any</p>

<p>&nbsp;</p>

<p><u><strong>Issue updates:</strong></u></p>

<p>&nbsp;</p>

<p>ISSUE-10508 - Gen5 motion detection outside of activity zone</p>

<p>- Attach all relevant cases</p>

<p>&nbsp;</p>

<p>ISSUE-10915 - No PN, E-mail or Recordings when 3 Activity Zones created on Gen3/Pro/Pro2/Q</p>

<p>- Attach all relevant cases</p>

<p>&nbsp;</p>

<p>ISSUE-10554 – Ticking sound on Pro</p>

<p>- The root cause has been found</p>

<p>- We are waiting for further feedback from ENG</p>

<p>&nbsp;</p>

<p>ISSUE-10987 - Cannot play live stream on IE11</p>

<p>- Anna is able to replicate. After clicking on Play button: “Please wait” message appears</p>

<p>- Library recordings and CVR live is working fine on IE11</p>

<p>&nbsp;</p>

<p>ISSUE-10980 - CEArlo-710 - Getting error "Oops! An error has occurred. Try Again" when logging in to both App and Web portal when 2FA is enabled</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p>ISSUE-10981 - CEArlo-712 - Arlo App on iPhone won't rotate in schedule page when screen is tilted</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p>ISSUE-10982 - CEArlo-711 - Android: being logged out but no other device is logged in</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p>ISSUE-10984 - CEArlo-714 - Color distortion (Red and white lines showing) on the video doorbell on both live streaming and recordings</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p>ISSUE-10986 - CEArlo-716 - Alexa cannot show Pro camera's live stream</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p>ISSUE-10985 - CEArlo-715 - Unable to subscribe to a plan, having error message "billing system is not available at this moment"</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p>ISSUE-10981 - CEArlo-712 - Arlo App on iPhone won't rotate in schedule page when screen is tilted</p>

<p>- Attach related cases</p>

<p>&nbsp;</p>

<p><u><strong>Other updates:</strong></u></p>

<p>&nbsp;</p>

<p>Web app:</p>

<p>- The customers may see Orbi under “Base stations &amp; Bridges” after clicking on “Add new device”</p>

<p>- There is currently no plan to add Orbi support</p>

<p>&nbsp;</p>

<p>Android and iOS mobile apps:</p>

<p>- After clicking on “Add new device” the customer will not see Netgear Nighthawk M1</p>

<p>- It’s still checked why M1 is not showing up</p>

<p>- For now, you can advise customers that engineers are reviewing and have temporarily disabled support for M1 base-station functionality, based on recent customer complaints</p>

<p>- Once there is more information L3 will follow up on this</p>

<p>&nbsp;</p>

<p>Arlo-Verisure transition:</p>

<p>- Follow the call handler that was posted this week on chatter and via email</p>

<p>- Use the correct tagging Arlo-Verisure transition</p>

<p>- If customers have questions regarding the transition, please gather them and send once a week to Cezary and Mikolaj (EMEA TM’s) with Anna on CC</p>

<p>&nbsp;</p>

<p>New Service Plans:</p>

<p>- Please expect the training next week and attend it</p>

<p>&nbsp;</p>

<p>Pro SH going offline in new location</p>

<p>- Gen3 and Pro3 working in original location</p>

<p>- Pro3 is setup on new location</p>

<p>- Pro SH is going offline</p>

<p>- Gen3 is moved to the new location and is working fine</p>

<p>- sometimes the SH will go online by itself</p>

<p>- advised to verify if it starts with camera going offline</p>

<p>- Advised to test internet speed on new location</p>

<p>- Check bandwidth saturation in event logs</p>

<p>- Escalate if needed</p>

<p>&nbsp;</p>

<p>ISSUE-10986 (Case:41175376)</p>

<p>Alexa cannot show Pro camera's live stream. Start from this week, customer found that he cannot trigger pro camera's live stream from Alexa. The customer got another ISSUE-10875 last month (Alexa Echo show cannot receive notifications when motion triggered on Arlo camera).</p>

<p>- Checking with PLM</p>

<p>&nbsp;</p>

<p>ISSUE-10982 (Case:41275363)</p>

<p>Android: being logged out but no other device is logged in</p>

<p>With Android App 2.11.1, when you move Arlo app from background to foreground, you will sometime be logged out unexpectedly .</p>

<p>The error shows[you have been logged out because you logged in from another device.], but you didn't log in with any other device.</p>

<p>I thought it's caused by updating backend at the last meeting, but it was not correct. Here is the similar thread on US arlo community. They have discussed for 16 months (2016-2017) on Arlo community, but it has not been resolved.</p>

<p><a data-value="https://community.arlo.com/t5/Arlo/quot-Logged-out-because-you-logged-in-from-another-device-quot/td-p/1103481" href="https://community.arlo.com/t5/Arlo/quot-Logged-out-because-you-logged-in-from-another-device-quot/td-p/1103481" title="">https://community.arlo.com/t5/Arlo/quot-Logged-out-because-you-logged-in-from-another-device-quot/td-p/1103481</a></p>

<p>- Checking with PLM</p>

<p>&nbsp;</p>

<p>ISSUE-10815 (Case:41101058)</p>

<p>IFTTT won't record with VMB4000</p>

<p>Customer said that from Aug 30th, he cannot take recordings use IFTTT. We got phone calling from the customer every 2 weeks. We hope engineer will look into the issues.</p>

<p>- Checking with PLM</p>

<p>&nbsp;</p>

<p>PTT just loading</p>

<p>- Sometimes it works. Most of the time not</p>

<p>- On the notes, says speed is good but not stated what is the speed.&nbsp;</p>

<p>- Advised to:</p>

<p>&nbsp;- Make sure that iOS and app is up to date</p>

<p>&nbsp;- Take speedtest screenshot</p>

<p>&nbsp;- Get app logs</p>

<p>&nbsp;- Check bandwidth saturation</p>

<p>&nbsp;- Escalate case if needed</p>

<p>&nbsp;</p>

<p>BS does not get discovered in Homekit</p>

<p>- Just saysdiscovering</p>

<p>- No error</p>

<p>- Mostly on Eero or other mesh network</p>

<p>- Advised to escalate a case</p>

<p>&nbsp;</p>

<p>Customer wants to use Homekit and SmartThings at the same time</p>

<p>-For me it would work</p>

<p>- Advised to let the customer try&nbsp;</p>

<p>- If it does not work escalate the case</p>

<p>&nbsp;</p>

<p>ISSUE-10934 - Local storage icon cannot be seen under the camera after updating to iOS app 2.10</p>

<p>- no update</p>

<p>- Checking with PLM</p>

<p>&nbsp;</p>

<p>CVR retrieval</p>

<p>- Advised that if there is a gap in the timeline, it would mean that there is no recording for that time and there will be nothing to retrieve</p>

<p>- We should investigate if the gap is caused by environmental factor (camera lost connection, lost internet connection, bandwidth saturation, etc...). Escalate the case if needed.</p>

<p>- If there is no gap but the video cannot be played, escalate the case so we can try to check why the video cannot be played (focus would be on investigating why the video cannot be played)</p>

<p>&nbsp;</p>

<p>Customer tried to purchase with the 40% discount but did not get the discount</p>

<p>- The promo follows UTC time zone</p>

<p>- since the customer purchased beyond 7PM CST, it would already the next day in UTC. That is why the customer did not get the discount anymore</p>

<p>- If the customer will push that he should get the discount, check with CCT. But, we should have already explained to the customer the reason and emphasized that he will not get the discount.</p>

<p>&nbsp;</p>

<p>=========================================================================================</p>

<h1 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:12pt"><strong><span style="color:null"><span style="font-size:16pt"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Video Doorbell Possible Low Battery at Onboarding</span></span></span></strong></h1>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><u><strong><span style="color:null"><span style="font-size:13pt"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Scenario</span></span></span></strong></u></h2>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Customer states that the Arlo Video Doorbell is not exhibiting a solid white LED ring indicating it is ready for setup and has confirmed that the breaker is turned on.</span></span></span></p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><u><strong><span style="color:null"><span style="font-size:13pt"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Symptom/Issue</span></span></span></strong></u></h2>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Customer has completed connecting the Power Kit to the chime, connected the existing wiring to the back of the Video Doorbell and confirmed that the breaker has been turned on and does not see the LED ring turn solid white.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">The LED ring on the front of the Video Doorbell provides information on the doorbell state:</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>SOLID AMBER</strong> – Voltage is too low, customer should upgrade their transformer</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>FLASHING AMBER / WHITE</strong> – Internal battery is low, customer should leave doorbell connected to AC power for 15 – 30 minutes and check that that the LED ring transitions to solid WHITE</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>NO LED</strong> – Power is not connected, customer should verify the wiring did not come loose or disconnected when mounting the doorbell.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:null">See: </span><a href="https://kb.arlo.com/000062326/What-do-the-LED-behaviors-on-my-Arlo-Video-Doorbell-mean" style="color:blue; text-decoration:underline"><span style="color:null">https://kb.arlo.com/000062326/What-do-the-LED-behaviors-on-my-Arlo-Video-Doorbell-mean</span></a></span></span></p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt">&nbsp;</h2>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><strong><u><span style="color:null"><span style="font-size:13pt"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Confirmation of Issue</span></span></span></u></strong></h2>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Customer performed a second check on all connections and ensure the breaker is turned on but still does not see the LED ring turn solid white.</span></span></span></p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><u><strong><span style="color:null"><span style="font-size:13pt"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Action</span></span></span></strong></u></h2>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">At this point, it may possible that the customer has a unit that may be affected by a less than sufficient charge to begin the onboarding process and needs to be charged.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Gather the serial number from the customer’s Video Doorbell.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:null">Check if the Video Doorbell serial number is present in the affected Video Doorbells list (<strong><em>Refer to</em></strong>: ‘<strong><em>Video Doorbell – Possible Low Battery SN</em></strong>‘ Smartsheet: </span><a href="https://app.smartsheet.com/sheets/fPF488FMxQxHcwmPPP6M2664vWxQpvR5cWph2MH1?view=grid" style="color:blue; text-decoration:underline"><span style="color:null">https://app.smartsheet.com/sheets/fPF488FMxQxHcwmPPP6M2664vWxQpvR5cWph2MH1?view=grid</span></a></span></span></p>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt">&nbsp;</h2>

<h2 style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:2pt"><span style="color:null"><u><strong><span style="font-size:13pt"><span style="font-family:&quot;Calibri Light&quot;,sans-serif">Solution</span></span></strong></u></span></h2>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">If the serial number is in the list of affected devices, inform the customer that the Video Doorbell’s internal battery most likely needs time to be charged in order to begin the onboarding process. It may take between 15 to 30 minutes to charge to a sufficient operating level.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Arial&quot;,sans-serif">Offer a call back to see if the customer needs additional help after the Video Doorbell has had the appropriate amount of time to charge.</span></span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in">&nbsp;</p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="color:null"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Arial&quot;,sans-serif">========================================================================================</span></span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:18px"><u><strong>Cyber Monday Deals</strong></u></span></p>

<p style="margin-bottom:8pt; margin-left:0in; margin-right:0in; margin-top:0in">Cyber Monday Promo Emails will be sent this week. Customers will be sent email to click on "Shop Now"</p>

<p>Mon, 12/2 – Announcement</p>

<p>Tue, 12/3 – Extended!</p>
</section>


                        </div>
                    </div>
                    <hr>
                    

                    

                </div>
                                </div>
        </div></article>
    </div>
</div>
<br><br>