<h4>Spotcheck WE1201</h4>

<h5>Arlo iOS App 2.11 was released</h5>

Highlights:
<ul>
<li>Support for the Arlo Video Doorbell</li>
<li>The Devices screen loads significantly faster</li>
<li>Bug fixes for iOS 10.3</li>
<li>Improvements to Dark Mode</li>
<li>Resolved an issue with IFTTT integration</li>
<li>Other stability and performance improvement</li>
</ul>
 

<h5>Arlo Android App 2.11 was released</h5>
Only mentioned highlight is Support for the Arlo Video Doorbell

<h5>Gen 3 CAMERAS VMC3030 CR123 batteries</h5>
RMA PN. AV24-00022 under Accessories

<h5>Video Doorbell Firmware Release</h5>
Video Doorbell (AVD1001)<br>
FW version: AVD1001_OTA-1.14.1.0_318_dbebecc_6a2ea5e<br><br>
 

<b>HIGHLIGHTS</b><br>
Bug fixes<br>
Merge patches<br>

<h5>Issue – 10978 - Android 7 Arlo App 2.11. Unable to log in to Arlo account. The App gets stuck in a loop.</h5>
Problem: arlo Web/ Mobile App<br>
Symptoms: Arlo Android app crashes<br>
Root Cause: Advised of known issue<br><br>

The issue was created for VMB4000<br>
Workaround:<br>
Customer can log in using the web or iOS client<br>

<h5>ISSUE-10977 - Alexa discovery request fails when Arlo Go device is present in Arlo account</h5>
<ul>
<li>engineering is planning to fast track the fix</li>
<li>attach related cases</li>
</ul>

<h5>ISSUE-10353 - Getting notifications and recordings on motion created by wind even if "Other motion" Smart notification is disabled</h5>

<h5>ISSUE-10393 - Arlo Smart notifications enabled for Person detection only, receiving false notification for animals</h5>

<h5>ISSUE-10932 - Animals still being detected even if Animals is disabled in the Arlo Smart Notifcation</h5>
<ul>
<li>We have a customer confirmed that he do not see the issue anymore after enabling/disabling Animal</li>
<li>Please check with customers complaining of similar concern</li>
<li>Important to test after 30 minutes since setting will only fully take effect after 30 minutes</li>
</ul>
 
<h5>ISSUE-10972 - The base station would go offline every-time there is a power interruption.</h5>
<ul>
<li>attach related cases</li>
</ul>
 

<h5>ISSUE-10968 - Getting "The request's content is invalid" error when address has "/"</h5>
<ul>
<li>attach related cases</li>
</ul>
 
<h5>ISSUE-10973 - CVR recording audio when Microphone disabled Pro 3</h5>
<ul>
<li>Still has audio even if microphone is disabled for the camera</li>
<li>attach related cases</li>
</ul>

<h5>HOLIDAY PROMO</h5>

Holiday Gift Guide was released for our US install base.<br><br>

The email contains a button to click on “Shop now” and will be routed to this site:<br>
<img src="img/holiday-gift-guide.png" width="90%">

<h5>CVR PERKS</h5>
<img src="img/cvr-perks.png" width="90%">
<br>
<br>
<br>