<h4>CallBack Endorsement</h4>
<ol>
    <li>Approach any TMs or SMEs</li>
    <li>Send email</li>
    <ol type="a">
        <li>In the body, should indicate "As discussed verbally,"</li>
        <li>Expert should send email to the specific SME/TM he/she consulted</li>
        <li>CC other SMEs and TMs</li>
        <ul>
            <li>TM distro: PH_DVO_Arlo_TMS@concentrix.com</li>
            <li>SME distro: PH_DVO_Arlo_SME@concentrix.com</li>
        </ul>
    </ol>
</ol>

Note: When cases are endorsed to you, please make sure to reply to our Emails acknowledging call back (when done).<br>
If call back is not possible, make sure to inform us/ reply ahead of time so we can endorse cases to different experts.<br><br>

For non-urgent endorsements, include:<br>

<textarea rows="20" cols="70">
Subject: Call back request_<<CASE_NUMBER>>

As verbally discussed, I would like to ask assistance for Callback.
Case Number:             
Account Name:            
Phone:                            
Email address:              
Preffered Customer's Time  for callback
Local Time  :               
Customer's timezone:
Device customer needs assistance with: 
Reason for callback:
</textarea>