<h4>Opening and Closing</h4>
<textarea rows="20" cols="70">
Thank you for choosing Arlo Support. This is <<EXPERT_NAME>>
May I know who's on the line please? 

Hi ____ is this your first time calling support?

====================================================

Is there anything else I can assist you with?

For other online options, you could also visit support.arlo.com and community.arlo.com.

For your reference, please take down the following case number:

Once I close this case, you will receive a survey. Please rate the service and support I have provided you today. It would really help us here at Arlo to improve our services for you.

Once again thank you for choosing Arlo Support, have a nice day!
</textarea>

<h4>Outbound</h4>
<textarea rows="20" cols="70">
Hello <<CUX_NAME>>, I'm happy to help with your Arlo product.
Before we begin, I must first advise you that this call is being recorded and get your consent to record it.

Can you please acknowledge that you understand and agree to have this call recorded by stating yes?

<<Why?>>

We may use the recording to improve customer support quality and for training, and certain laws require notice and consent for a call to be recorded.

<<End call if customer does not consent>>
</textarea>

<h4>Vacuum</h4>
<textarea rows="20" cols="70">
After opening spiel (did not hear anything for 10 seconds)
It seems that we are having difficulty with the line, kindly give a response in case your are able to hear me.

After 15 seconds
I am still unable to hear any response from you.

After 15 seconds
I apologize for the inconvenience, however; I am still unable to hear any response from you. It is best if you give us a call back and if possible please use a different phone as that may be the one causing the problem. Thank you for choosing Arlo, have a good one.
</textarea>

<h4>Voicemail</h4>
<textarea rows="20" cols="70">
Hi, this is <<EXPERTNAME>> from Arlo Technical Support. This is a follow up call regarding your Arlo device with case number <<CASENUMBER>>. If you have any inquiry with the device you may give us a call at 408 638 3750 or visit support.arlo.com for more troubleshooting details.

Once again, my name is <<ExPERT_NAME>>. Thank you for choosing Arlo.
</textarea>

<h4>Transferring TM/TL line or L2</h4>
<textarea rows="20" cols="70">
Hi <<NAME_TM_TL_L2>>,

This is <<expertname>> from Arlo Technical Support.

I need assistance with case # <<CASE_NUMBER>>.

Account is under <<ACCOUNT_NAME>>, with email address <<EMAIL ADDRESS>> and phone number <<phonenumber>>.

I am transferring the call because <<REASON>> (out of scope or higher support)
The customer is having a concern about <<CONCERN>>.
</textarea>

<h4>HelloTech</h4>
<textarea rows="20" cols="70">
To assist with the installation of the Arlo Video Doorbell, and other Arlo products, Arlo recommends HelloTech.

HelloTech is a nationwide, in-home technical support service and provides expert, in-home installation services for the Arlo Video Doorbell. To book an appointment, customers can visit HelloTech.com/Arlo or call in HelloTech support at 1-844-385-7655, both online and telephone booking are available 24/7.

Installation service is available from 9am to 9pm, 7 days a week. HelloTech technicians will not only install and setup the device, they'll show customers how to use it.
</textarea>
<br><br>