<h4>Subscription</h4>
<textarea rows="20" cols="70">
Hi, <<CUXNAME>>,

Good day!

Thank you for contacting Arlo Support. Arlo is thankful that you have chosen to patronize our product. My name is Richard your patience and cooperation will be highly appreciated in resolving this case. 

I am sorry to hear that you were unable to modify your subscription plan.

What my customers and I have done to have this taken care of are the steps below:

1.  Launch the Arlo app or log in to your Arlo account at my.arlo.com.
2. Tap or click Settings > Subscription.
3. If you are using the Arlo app, tap Edit Account.
4. To change or cancel your subscription, tap or click Upgrade Now or View Plans.  Otherwise, select Manage CVR if you only want to add or change a CVR subscription.
5. Choose the services that you want to add or remove.

If you want to cancel your Arlo subscription, select the free Basic plan.

6. Tap or click Check Out.
7. If prompted, enter your billing information and tap or click Continue.
8. Read the summary of the changes to your account and confirm that everything is correct.

If you are removing a subscription from your account, you see an automatic credit for any unused portion of your subscription.

9. If you are using the Arlo app, tap Complete Payment.

If you are using a computer, click Complete Change.

By the way, the steps are also found in the following web articles:

1. How do I change or cancel my Arlo subscription plan?
https://kb.arlo.com/1215141/How-do-I-change-or-cancel-my-Arlo-subscription-plan

2. What are the available Arlo subscription plans and how much cloud recording is available?
https://kb.arlo.com/88/What-are-the-available-Arlo-subscription-plans-and-how-much-cloud-recording-is-available

3. Subscription Plan Options
https://www.arlo.com/en-ca/products/subscription-plans.aspx

If you will contact us for the same reason, you may give us a ring at (408) 638 3750 and provide the case number 41067390 so that the next expert can continue with the troubleshooting with you.

I would appreciate if you could please reply to provide feedback updates once you have successfully modified your subscription.

Once again, thank you for contacting Arlo Support!

Kind regards,


<<EXPERTNAME>>
Arlo Support

**Please be reminded that this case will auto close after 7 days of inactivity.*
</textarea>