<h4>GDPR Process and Escalation Procedure</h4>
<br>
<a href="#" onclick="openSite('https://www.arlo.com/en-us/about/privacy-policy/?cid=a')">Privacy Policy</a>
<br><br>
<h5>L1 Flow</h5>
If the customer is calling regarding whether Arlo is GDPR compliant:
<ul>
    <li>Expert must refer the customer to GDPR statement above AND to the updated Private Policy which can be found in <a href="#" onclick="openSite('https://www.arlo.com/en-us/about/privacy-policy/?cid=a')">https://www.arlo.com/en-us/about/privacy-policy/?cid=a</a></li>
    <li>Expert can also forward this statement in writing to the customer OR link to it, but it MUST NOT be modified since we need to be sure we can honour any commitments we make in the statement.</li>
    <li>
        If the customer is asking about whether Arlo is GDPR compliant, expert’s spiel should be: <br>
        <b><i>"Mr. Customer, as GDPR is very broad regulation, I will follow up with you in writing, referring you to Arlo Privacy Policy and GDPR statement. Should you have any further questions afterwards, do not hesitate to contact us again at any stage."</i></b>
    </li>
    <li>Experts must refrain from saying, YES, Arlo is GDPR compliant.</li>
    <li>Such case does not need to be escalated to CCT, UNLESS customer follows up and is asking any extra questions about GDPR and compliance.</li>
</ul>

<h3>Escalate to CCT</h3>
If the customer is calling in relation to:
    <ul>
        <li>Account deletion</li>
        <li>Subject access</li>
        <li>Correction of inaccuracies</li>
        <li>Request to the processing of information</li>
        <li>Data portability request</li>
    </ul>
L1: 
<ul>
    <li>Expert receives Delete Me request from EU Customer</li>
    <li>Expert creates a Delete Me case to trigger approval process and escalates case to CCT</li>
</ul>
<br>
<h5>CCT Flow</h5>
<p>Once CCT receives the escalation, they are required to take ownership of the case and ensure that all details regarding the concern is documented and logged on the case.</p>
<p>CCT must identify what the GDPR request is about. Depending on the issue, CCT will take the next action to complete the request. </p>
<ol>
    <li><b>DPA Request/Delete Data Records/Request for Data</b>
        <ul>
            <li>CCT to send an email to expert containing a PDF version of the DPA signed by Legal</li>
            <li>CCT to remind expert that the said file is a static document and the customer can either agree or refuse to sign</li>
            <li>CCT to advise expert to return signed copy from the customer</li>
            <li>CCT to send email to Legal along with the signed DPA from the customer</li>
        </ul>
    </li>
    <li><b>Other GDPR Inquiry</b>
        <ul>
            <li>When CCT receives an escalated case from the expert which contains specific GDPR requests such as Subject Access Rights, Inaccuracies needing correction or disputes from our current Privacy Policy, etc. – CCT identifies GDPR rights being exercised and summarizes issue</li>
            <li>Once issue has been fully understood, CCT sends email to Legal seeking help on how to proceed or how to respond</li>
            <li>Depending on the instructions from Legal, CCT will proceeds to the next steps.</li>
        </ul>
    </li>
    <li><b>Delete Me Requests</b>
        <ul>
            <li>When CCT receives escalated case regarding Delete Me requests, CCT reviews case disposition to ensure GDPR Approval process is triggered in CEP</li>
            <li>If the GDPR approval process is not triggered due to incorrect selection of CEP tagging, CCT deescalates support case and creates a new CEP case </li>
            <li>CCT sends an email to the customer asking to verify their identity and confirm they wish to proceed with the request</li>
            <li>Once customer responds and confirmed to proceed, CCT tracks the GDPR case in SmartSheet</li>
            <li>A Sr. CCT advocate regularly checks GDPR tracker to ensure that requests are completed before the 30day mandate</li>
            <li>Sr. CCT follows up with CEP approvers for data to be masked in CEP</li>
            <li>Once CEP data is masked, Sr. CCT then masks Aria billing details</li>
            <li>When CEP and Aria data is masked, Sr. CCT reaches out to Jay Sudhakar to delete the customer’s xCloud ID which will prevent the customer to login to their Arlo account</li>
            <li>After the customer’s account is deleted, the next step is to check if the customer has any Arlo community account which goes to Community Team (James Cross).</li>
            <li>Once all the steps above is completed, CCT sends an email confirmation to the customer and closes the case.</li>
        </ul>
    </li>
</ol>
<br><br><br>