<h4>Litigation and Hold</h4>
<h5>L1 Flow</h5>
Create a new account for the calling law enforcement officer.
<br><br>
Get the following information from the law enforcement officer:<br>
<textarea rows="20" cols="70">
    Name:
    Title:
    Contact Information:
    Email Address:
    Phone Number:
    Nature of Complaint:

    Investigating Department Case Number:

    Account to be locked
    Customer Name:
    Customer Email:
    Customer Phone Number:

    Duration of Litigation Hold:

    Arlo Subscription of Account:

    Arlo Devices on the Account (List Serial Numbers):

</textarea>
<br><br>
Forward case immediately to CCT with High Priority.
<br><br>
If no answer or acknowledgement from CCT within 2 hours, escalate case to L3 with High Priority Email and Instant Message if possible.
<br><br>
<h5>CCT Flow</h5>
<ul>
    <li>CCT to place account on hold under customer’s account information.<br>
        <img src="/assets/img/cct/account_hold.jpg" />
    </li>
    <li>Using the Arlo CS Diag Tool in CTS, enter the email address of the account to be locked in the search
        field.</li>
    <li>Verify that account is currently Unlocked.<br>
        <img src="/assets/img/cct/verify_locked.jpg" />
    </li>
    <li>Click ‘Lock’ and set expiration date of Litigation Hold.<br>
        <img src="/assets/img/cct/lock.jpg" />
    </li>
    <li>Once the account has been locked, send an email to Brian Busse, General Counsel of Arlo Technologies, Inc. letting him know of the case and that the account has been placed on Litigation Hold.
        <ul>
            <li>Send To: legal@arlo.com; Brian Busse</li>
            <li>CC: DL-CustomerCareTeam; Arlo L3 Team - DL-ArloL3@arlo.com; Support QA team – DLSupport-QA@arlo.com</li>
            <li>Subject Line: ARLO’s Confidential Attorney Client Privilege – Case Number: xxxxxxxx</li>
        </ul>
    </li>
</ul>
<br><br><br>