<h4>Security and Vulnerability</h4>
<h5>L1 Flow</h5>
<ol>
    <li>Receives the call and gather customer information and concern/complaint details.</li>
    <li>Create case with correct tagging and complete documentation gathered. </li>

    <ul>
        <li>Case Type: Support</li>
        <li>Case Sub Type: Security /Vulnerability</li>
        <li>Problem: Security /Vulnerability</li>
        <li>Symptoms: Select specific concern</li>
        <li>Root Cause: Select specific resolution</li>
    </ul>
    <li>
        Expert assists the customer in answering security related advisories.
    </li>
    <li>Expert assists the customerin resetting changing account password.</li>
    <li>Expert directs the customer to a site where they can report bugs and new vulnerabilities.</li>
    <li>Escalate the case to CCT for any complaints arises from the security incidents.</li>
    <ul>
        <li>
            Escalate the case to CCT in Salesforce and send email to customerservice@arlo.comand<br>
            Copy DL-SupportOps (supportops@arlo.com) set with High Priority. <br>
            Email must also contain the following subject format: PSV - Customer Name - Case XXXXXXXX.
        </li>
    </ul>
</ol>
<h5>CCT Flow</h5>
<ol>
    <li>CCT to take over the case and reviews the concern/complaint.</li>
    <li>CCT to escalate the case to L3 if needed and ask recommendations on how to solve the issue or a workaround for a temporary fix. </li>
    <li>CCT to reach out to customer and provide solution given by L3 or seek help from L2 Team for further technical assistance.</li>
    <li>Close the case if needed.</li>
</ol>
<h5>FAQs</h5>
<p>
<b>What has happened?</b><br>
We continuously monitor the health and activity of our Arlo ecosystem and on Friday, May 25, 2018 we began observing suspicious activity potentially impacting Arlo accounts. From our investigation, it appears that that an unknown entity or entities initiated a brute force attack on Arlo’s system in an attempt, in mass, to log into hundreds of thousands of Arlo accounts at the same time by reusing user credentials we believe were illicitly taken from an unknown third party unrelated to Arlo. Attacks like these are sometimesreferred to as "credential stuffing".
</p>
<p>
<b>Can you explain credential stuffing a bit more?</b><br>
Credential stuffing commonly refers to a process whereby hackers illicitly acquire a database of usernames and passwords and attempt to use those previously stolen credentials to access other sites or accounts. In this instance, the usernames and passwords used by the attackers during their brute force attack were not gained from Arlo. From our investigation, we believe these credentials were illicitly obtained from an unknown third-party unrelated to Arlo. To mitigate or avoid the impact of these types of brute force attacks, we recommend that users avoid reusing or recycling passwords across different sites or accounts, especially for sites or accounts containing sensitive personal data, like social security numbers.
</p>
<p>
<b>Has my Arlo account been impacted?</b><br>
To the extent we believe an Arlo account may have been accessed without authorization, we have contacted the Arlo customer registered to the potentially impacted Arlo account. We contacted potentially impacted Arlo customers via the email associated with their Arlo account. If you did not receive an email directly from us today, then we do not have reason to believe, based on our investigation, that your Arlo account was accessed without authorization. 
</p>
<p>
<b>How many Arlo accounts were impacted?</b><br>
Our investigation has revealed that out of approximately two million Arlo customer accounts, only 34 customer accounts may have been impacted (approximately .0017% of Arlo accounts).
</p>
<p>
<b>When did the attack originate?</b><br>
We first observed the suspicious activity on May 25, 2018, and immediately initiated investigation into the activity.
</p>
<p>
<b>Is the attack still taking place?</b><br>
Based on our investigation, the attack ended on or around Sunday, May 27, 2018.
</p>
<p>
<b>Who is behind the attack?</b><br>
We do not know, but we have contacted law enforcement and will continue to cooperate with their investigation.
</p>
<p>
<b>What did Arlo do in response to the attack?</b><br>
Upon discovering the suspicious activity on May 25, 2018, we immediately launched a forensic investigation into the activity. On May 26, 2018, as a precautionary measure, we contacted (via email and push notification) all registered Arlo users to alert them of the suspicious activity. We also alerted the larger Arlo Community of the suspicious activity and posted the alert on social media. We have contacted law enforcement and the relevant regulatory authorities and will continue to cooperate with them in their investigations. To the extent we believe an Arlo account may have been accessed without authorization, we have contacted any such impacted Arlo customers directly.
</p>
<p>
<b>What should I do?</b><br>
As a precautionary measure, we are recommending that all Arlo customers immediately change their Arlo account passwords. As always, we recommend the use of a unique, strong password or passphrase. For instructions on how to reset your password, please view the following article: How do I change my Arlo password?
</p>
<p>
<b>What if I cannot log into my Arlo account?</b><br>
Restart your application and click on the Forgot password option on the login screen to reset your password.
</p>
<p>
<b>How do I create a strong password?</b><br>
A strong password:
<ul>
<li>Doesn't contain your username, personal information, or obvious phrasing;</li>
<li>Mixes uppercase/lowercase letters, numbers, and symbols (like spaces, $, %, !, etc.);</li>
<li>Is longer than 8 characters.</li>
</ul>
</p>
<p>
<b>Is a passphrase a good idea?</b><br>
We often recommend the use of a passphrase. A passphrase is a series of words or a phrase that is meaningful to you, but obscure to others. Good passphrases are lengthy and involve special characters and/or numbers.
</p>
<p>
<b>Should I ever provide a password/passphrase via email?</b><br>
No. As a best practice, we caution our users not to transmit their passwords or passphrases via email. Arlo will ever ask you to provide your password or passphrase in an email.
</p>
<p>
<b>What if I believe my account has been compromised? How can I contact Arlo customer support?</b><br>
Contact customer support at https://www.arlo.com/en-us/support/contact.aspx.
</p>
<p>
<b>Should the customer discover bugs and new vulnerabilities, where can he report it to?</b><br>
To report a security vulnerability, visit https://www.arlo.com/en-us/about/security/default.aspx
</p>
<br><br>