<h4>Theft Replacement</h4>
<h5>Eligible Devices:</h5>
<ul>
<li>Wi-Fi Camera</li>
<ul>
<li>Arlo Gen 3 (Wire-free)</li>
<li>Arlo Essential Spotlight</li>
<li>Arlo Pro</li>
<li>Arlo Pro 2</li>
<li>Arlo Pro 3</li>
<li>Arlo Pro 3 Floodlight</li>
<li>Arlo Ultra</li>
<li>Arlo Ultra 2</li>
</ul>
<li>Arlo Audio Doorbell</li>
<li>Arlo Security Light</li>
<li>Arlo Video Doorbell</li>
<li>Accompanying batteries</li>
</ul>

<h5>Qualifications</h5>
<ul>
<li>Must be on a paid Arlo subscription plan (Premier or Elite for Home; Advanced, Professional, or Enterprise for Business) at the time of the Eligible Device theft.</li>
<li>Customer must able to submit a proof of purchase.</li>
<li>Purchased within 12 months - see proof of purchase submitted by the customer.</li>
<li>Claim request is initiated with Arlo Support by the account owner of the device .</li>
<li>The device in question remains provisioned/registered to the account owner's Arlo account even after the theft incident.(check CS Diag Tool)</li>
<li>Claim request is initiated within 30 days of the reported crime.</li>
<li>User must provide a valid police report filed within 2 weeks of the reported crime, with the Arlo device(s) listed as a stolen item. The police report must have a case number assigned.</li>
<li>The theft must have occurred within the United States, and the law enforcement contact on the police report must be in the United States.</li>
</ul>
If customer do not meet all the conditions but insist/complaining that he should get an RMA, proper escalation must be followed, from expert to TL/TM to CCT.

<br>
<h5>Limitations</h5>
<ul>
<li>Arlo products purchased from unauthorized resellers including third party sellers on Amazon, eBay, and other marketplaces are NOT eligible for the ATR program.</li>
<li>Arlo base stations, bridges, and indoor cameras such as Arlo Q, Arlo Q Plus, Arlo Baby are not eligible for the ATR program.</li>
<li>Arlo accessories such as mounts, skins, cables, or power adapters are not eligible for the ATR program.</li>
<li>The ATR program does not apply to theft during or upon delivery of your Arlo Eligible Device, or to theft any time prior to the registering the Eligible Device to your Arlo account.</li>
<li>The ATR program is not transferable.</li>
</ul>

<h5>Arlo Small Print</h5>
<p>
The ATR program is a courtesy service provided by Arlo.  Arlo will determine in its sole reasonable discretion whether a claim under the ATR program meets the eligibility criteria.  Arlo’s decisions regarding eligibility and all other aspects of the ATR Program are final and binding.   Arlo may, at any time in its sole discretion and without prior notice, terminate, cancel, or suspend the ATR Program; alter the requirements of the ATR Program; modify the administration of the ATR Program; or deny ATR claims because of Arlo’s reasonable business concerns, including without limitation for suspected fraud and repeated claims by the same person or account.
</p>
<h5>L1 Flow</h5>
<ul>
<li>Receives the call and gather customer information and incident details.</li>
<li>Expert to ensure customer meets the qualifying conditions to get replacement.
</li>
<ul>
<li>Confirms that the account owner is initiating the claim request.Use CS Diag tool to
check whether his customer name and email address are registered on the account</li>
<li>Confirm that the reported stolen device was registered to account owner within 12
months of claim initiation date.</li>
<ul>
<li>In CS Diag tool look at the date the account was registered and ask to this
customer to login in his app to confirm the name or the Serial number of the
stolen camera/s.</li>
<li>If the camera was purchased later in time (for example is an add-on camera)
email the camera SN to L3 to get provision of the registration date.</li>
<li>Email Subject 'Arlo Theft Replacement SN Check Request -Case XXXXXXXX.</li>
</ul>
<li>Retrieve required documents.</li>
<ul>
<li>Valid Proof of Purchase from Arlo authorized reseller</li>
<li>Valid Police Report acquired within 30 days from the reported incident.</li>
</ul>
</ul>

<li>Expert to create fully documented case and escalate to TL/TM.</li>
<ul>
<li>Case Subject: ATR - Customer Name - Case XXXXXXXX</li>
<li>Case Type: Customer Care</li>
<li>Case Sub Type: Complaints</li>
<li>Asset: Select SN of the stolen eligible device</li>
<li>Problem: Camera Stolen</li>
<li>Symptoms: Customer camera stolen</li>
<li>Root Cause: Select next action from the list.</li>
</ul>
<li>TL/TM to review the case and if customer qualifies, escalate the case to CCT in Salesforce and
send email to customerservice@arlo.comand copy DL-SupportOps (supportops@arlo.com).
Email subject format: ATR - Customer Name - Case XXXXXXXX.</li>
<li>If CCT approves the replacement, TL/TM to create Ship Only RMA. If no Ship Only permission,
seek help from CCT to initiate the RMA.</li>
<li>Support to take over the case until RMA receipt and close the case when necessary.</li></ul>
</ul>
<h5>CCT Flow</h5>
<ul>
    <li>CCT to aclnowledge and review the case.</li>
    <li>CCT to double check if all qualifications are met.</li>
    <ul>
        <li>Validate Proof of Purchase and Police Report.</li>
    </ul>
    <li>CCT to approve or deny replacement request based on the program qualifications.</li>
    <li>If needed, CCT can initiate Ship Only RMA on behalf of the TL/TM.</li>
    <li>Tracks all the ATR cases using Smartsheet.</li>
</ul>
<br><br><br>