<html>
  <head>
    <link rel='stylesheet' href='/assets/css/print.css'>
  </head>
  <body>
    <page size="A4" id="page1">
      <table class="header" id="sah_pdf_table">
        <tr>
          <td rowspan=2 id="logo"><img src="/assets/img/arlo_form.jpg"></td>
          <td colspan=2 id="formname">FORM, ARLO SAFETY AND HAZARD QUESTIONNAIRE FOR BATTERY CHARGER</td>
        </tr>
        <tr>
          <td id="revision">DOC-50131 Rev 1</td>
          <td id="pagenum">Page 1 of 1</td>
        </tr>
      </table>
      <br><br>
    </page>
    <page size="A4" id="page2"></page>
  </body>
</html>