<h4>Video Retrieval</h4>
<h5>L1 Flow</h5>
<ul>
    <li>Verify that there was really a recording on the date customer said and note when the recording disappeared from the Library.</li>
    <ul>
        <li>Verify that the recording was not manually deleted from the library.</li>
        <li>Verify with the customer if they personally saw the recording in the library.</li>
        <li>
            Verify that there is no filter set in the library that could cause the customer not to see the recording.
        </li>
        <li>Verify that the customer did not grant account access to anyone.</li>
        <li>Verify that no one has used the customer's devices that use Arlo.</li>
        <li>Verify that the customer did not log in to their Arlo account on someone else's device.</li>
    </ul>
    <li>Get the following details:</li>
        <ul>
            <li>Account Plan:</li>
            <li>Account email address:</li>
            <li>Date of the recording:</li>
            <li>Date the recording disappeared from the library:</li>
            <li>BS serial number</li>
            <li>X-cloud ID (retrievable from CS diag tool)</li>
        </ul>
    <li>Create P1 case and log the case using the following CEP codes:</li>
        <ul>
            <li>Video Request</li>
            <li>Customer requesting deleted/missing video</li>
            <li>Provided deleted video</li>
        </ul>
    <li>Escalate to L2.</li>
</ul>
<h5>L2 Flow</h5>
<ul>
    <li>Verify the information provided by L1 and confirm that the videos should be in the library on the dates the customer mentioned.</li>
    <li>Escalate to L3<br>
    Note: Update customer about the result of the video retrieval effort.</li>
    <li>If video was retrieved, verify video is back in the library.</li>
    <li>If video was not retrieved, apologize and educate the customer that once the video is deleted it will be purged in our system. Explain to them that this is the reason why we were not able to retrieve it.</li>
    <li>If the customer does not accept the fact that we can’t retrieve the video anymore and they want to speak with someone else rather than the agent, escalate to CCT.</li>
</ul>
<h5>L3 Flow</h5>
<ul>
    <li>Create issue to check why this happened and what our resolution will be to prevent it from happening again.</li>
    <li>Check with DL-CloudOps@arlo.com to see if we can still retrieve the video.</li>
    <li>If the video was retrieved, it should be put back in the library.</li>
</ul>
<h5>CCT Flow</h5>
CCT is needed if the customer does not accept the fact that we can’t retrieve the video anymore and, in such case, they want to speak with someone else rather than the agent.
<ul>
    <li>Get the escalation.</li>
    <li>Inform the customer that we are currently investigating why the video was deleted even if it should still be in the library.</li>
    <li>Apologize and educate the customer that once the video is deleted it will be purged in our system.</li>
    <li>That is the reason why we were not able to retrieve it.</li>
    <li>Close the case when necessary.</li>
</ul>
<br><br><br>