<h4>Geofencing</h4>
<br>
<ul>
    <li>What is the device you are using to access the account? </li>
    <li>Is the device connected to the wifi or mobile data? </li>
    <li>Is the device ENABLED OR DISABLED (please go to settings>geofencing) </li>
    <li>What if the device is enabled, is it showing UNAVAILABLE, INZONE OR OUTZONE? </li>
</ul>
<ol>
    <li>Phone name should not contain any special characters under Geofencing's enabled devices.</li>
    <li>After changing the phone name under the phone's settings, make sure that you powercycle the phone so that the change name will be applied.</li>
    <li>Make sure that location services is enabled for the phone, and is always available for the Arlo App</li>
    <li>Now, devices should now show up under the Enabled devices page under Geofencing, but these devices may show "Unavailable".</li>
    <li>To fix this, uncheck all devices > Done > Save.</li>
    <li>No device should be enabled for geofencing now.</li>
    <li>Check all devices again > Done > Save.</li>
    <li>Devices should show the correct status and Geofencing should be working.</li>
</ol>
<br>
Geofencing issues that customers are experiencing are mostly due to inaccurate location detection from the Arlo APP. Here are tips below to properly troubleshoot geofencing related issues:
<br><br>
Note: Note that customer needs to be at home to do this TS.
<ol>
    <li>Take note of customer's enabled devices under geofencing</li>
    <li>Is 2nd device a grant access account?</li>
    <li>Brand and model of phones being used</li>
    <li>No special characters</li>
    <li>Uncheck/recheck enabled devices</li>
    <li>Recalibrate GPs location under geofencing</li>
    <li>Delete the home address on the address bar</li>
    <li>Zoom in on the GPS field</li>
    <li>Put pointer away from the blue dot</li>
    <li>Put pointer back to the blue dot</li>
    <li>Correct home address should auto populate</li>
    <li>If not, manually input home address</li>
</ol>