<h4>Image Quality Issues</h4>
<br>
<ol>
    <li>Change the Power Management setting to Best Video
        <ul>
            <li>Launch the Arlo app or log in to your Arlo account at arlo.netgear.com.</li>
            <li>Tap or click Settings > My Devices.</li>
            <li>Select the camera whose power management settings you want to change.</li>
            <li>Tap or click Video Settings.</li>
            <li>If you are using the Arlo app on your mobile device, scroll down to POWER MANAGEMENT and select a power setting: For the best video quality, select Best Video. This setting reduces battery life but provides the best video quality.</li>
        </ul> 
    </li>
    <li>Check your speeds
        <ul>
            <li>Access http://www.speedtest.net/ by Ookla</li>
            <li>Click on GO or begin test</li>
            <li>Please indicate your upload and download speeds</li>
        </ul>
    </li>
    <br>
    If this doesn't improve the video quality: 
    <br>
    <li>Remove Camera From Account. 
        <ul>
            <li>Login to your account. 
            <li>Go to settings. Click my devices. Select the camera. 
            <li>Hit remove device button. 
        </ul>
    </li>
    <li>Sync the camera. 
        <ul>
            <li>Press the sync button on the base station, just once then release. The 3rd LED from the left will flash green. 
            <li>Press sync button on the camera, just once then release. A blue LED will blink blue slowly then rapidly. 
        </ul>
    </li>
</ol>