<h4>Night Vision</h4>
<ol>
    <li>Remove Camera From Account. 
        <ul>
            <li>Login to your account. </li>
            <li>Go to settings. Click my devices. Select the camera. </li>
            <li>Hit remove device button. </li>
        </ul>
    </li>
    <li>Power cycle Base Station. 
        <ul>
            <li>Unplug the base station from power source. Wait for 1 minute. </li>
            <li>Plug back in base station to power after 1 minute. </li>
            <li>Wait for the 3 green LED's on the base station. </li>
        </ul>
    </li>
    <li>Sync the camera. 
        <ul>
            <li>Press the sync button on the base station, just once then release. The 3rd LED from the left will flash green. </li>
            <li>Press sync button on the camera, just once then release. A blue LED will blink blue slowly then rapidly. </li>
        </ul>
    </li>
    <li>Place the camera inside a dark room or a closet then stream the camera live. Try adjusting its brightness as well. It's night vision should work now.
    </li>
    <li>Turn Night vision on and off.
        <ul>
            <li>Click or tap Settings. The Cameras page displays. </li>
            <li>Click or tap My Devices.</li>
            <li>Click or tap the Garage camera. </li>
            <li>If you are using the Arlo app on a mobile device, tap Video Settings.</li>
            <li>Click or tap Night Vision. </li>
        </ul>
    </li>
    <li>If it shows the same thing, take screenshot then try to place the affected camera together with a working one (provided that he has more than 1 camera) inside a dark room or a closet then stream the camera then check the difference. If it shows significant difference, take screenshot and attach it on the case.</li>
</ol>