<h4>Motion Detection Troubleshooting Guidelines</h4>
<br>
<ol>
	<li>Verify the issue with the customer to ensure this is a motion detection problem.</li>
	<ul>
		<li>Cases should be tagged under the motion detection code if cameras do not detect motion and record video.</li>
		<li>If this is not a motion detection issue, tag the case according to the applicable symptoms.</li>
	</ul>
	<li>How many cameras are affected?</li>
	<ul>
		<li>Acquire camera serial numbers.</li>
		<li>Also ask if camera is part of the kit or an add-on camera.</li>
	</ul>
	<li>Were the affected cameras were working before?</li>
	<ul>
		<li>If so, ask when the cameras stopped working.</li>
	</ul>
	<li>Verify the customer has Arlo Smart enabled.</li>
	<li>Check the following camera settings/status:</li>
	<ul>
		<li>Device status (Offline/Online)</li>
		<li>Camera On/Off under My Devices</li>
		<li>Mode settings</li>
		<li>Camera Rule settings</li>
		<ol type="i">
			<li>Check if Rule settings are correct (set to detect motion and record video).</li>
			<li>Camera rules should not be set to DO NOTHING</li>
		</ol>
		<li>Sensitivity levels</li>
		<li>Recording duration</li>
	</ul>
	<li>Check if there were changes in:</li>
	<ul>
		<li>Camera settings</li>
		<li>Location/placement</li>
		<li>Firmware</li>
		<li>New devices/appliances added to the environment that could cause interference</li>
	</ul>
	<li>Always verify the following and indicate in case notes:</li>
	<ul>
		<li>How high did the customer mount the camera above the ground?</li>
		<li>What is the distance of the camera from the base station?</li>
		<li>Are there any walls between the camera and base station?</li>
		<ol type="i">
			<li>If yes, what is the building material?</li>
		</ol>
		<li>What is the distance of the recorded person/object from the camera?</li>
		<li>Are there any obstructions within the camera’s motion detection angle/range?</li>
		<li>What is the camera position/placement? (cameras should not be pointed through glass)</li>
		<li>Does manual recording work as expected?</li>
		<li>Are you able to stream the camera?</li>
	</ul>
	<li>Try Motion Detection Test to see if the camera responds when triggered (LED: blinking amber).</li>
	<li>Get a screenshot of what camera is viewing (without a person in the screenshot).</li>
	<li>If the customer mentions that they have already troubleshot the problem themselves and they do not want to go through additional troubleshooting:</li>
	<ul>
		<li>Ask what steps they have done so we can evaluate if there are missing steps and make additional recommendations.</li>
		<li>Documents the steps in the case notes.</li>
	</ul>
</ol>
