<h4>Pink Tint</h4>

<p>Customers might see an occasional image color distortion on the Arlo Wire-Free camera.</p>

<b>Symptom:</b>
<ul>
	<li>The images are tinted red, but the image might also be tinted with other colors.</li>
</ul>

<b>L1 Expert:</b>
<br>
If the customer experiences color distortion in images from an Arlo camera, make sure to:
<ol>
	<li>Get the Camera SN showing the defect from customer or CS diag tool</li>
	<li>Log a ticket against the ‘faulty’ camera</li>
	<li>Use the following codes to log the ticket:</li>
	<ol type="a">
		<li>Problem: Performance</li>
		<li>Symptoms: Camera – Image appears distorted color (red)</li>
		<li>Resolution: (this must be updated at the end of the case based on the case outcome)</li>
		<ol type="1">
			<li>Power cycled the camera</li>
			<li>RMA camera</li>
			<li>Advised firmware upgrade</li>
		</ol>
	</ol>
	<li>Verify the following:</li>
	<ol type="a">
		<li>Camera is on latest firmware.</li>
		<li>Reset the camera by opening and closing battery door.</li>
		<li>Verify camera is working following the correct specs (ie. Right temperature/humidity, swap camera around and check if the issue follows the camera)</li>
	</ol>
	<li>Hardware warranty: Do not follow hardware warranty for red tint cases/issues. If the customer can prove that their camera is having red tint issues and is outside of hardware warranty, then log an RMA for the customer.</li>
	<li>If the problem persists, inform the customer that we will ship out a replacement camera.</li>
	<ol type="a">
		<li>Provide instructions for the customer to upload an attachment to the case; showing evidence of red image problem. A snapshot or a short video will satisfy this requirement. GDPR compliance: Instruct the customer to ONLY upload a picture or video without any human beings in it. Example: Picture or video of an empty room, an empty backyard, or picture/video of an empty walkway.
		<li>Take all the customer’s details to setup the RMA.</li>
		<li>Escalate to TL/TM.</li>
	</ol>
</ol>

<b>TL/TM:</b>
<ol>
    <li>Verify case logging and the troubleshooting was done correctly.</li>
    <li>Issue can be seen in both cut filters old and new.</li>
    <br>
    48B prefix (old cut filter)<br>
    4N7, 4WA, or 5EX prefix (new cut filter) <br><br>
    <li>For NA (Tracelogix) - Log RMA by using 'Advanced Ground - Home, Adapters&Antennas (Shipping Waived)'</li>
    <li>For EU (ANOVO) Log RMA by using 'EU - Advanced Ground - All (2-3 day, Call for collection - shipping waived)' option and Exception 99 to specify both SN Prefix 4N7 and 4WA (Anovo will ship whichever available).</li>
    <li>For UK (ANOVO) Log RMA by using 'UK - Advanced Ground - All (2-3 day, Call for collection - shipping waived) option and Exception 99 to specify both SN Prefix 4N7 and 4WA (Anovo will ship whichever available).</li>
    <li>For APAC (Brightstar) Log RMA by using 'AU - Advanced Express RA (Shipping Waived) option.</li>
</ol>

<p>We should not be waiving collateral. Inform customer collateral is only used as security. If they dont return the defective unit, they will get charged.</p>
<br><br>