<h4>Rapid Battery Draining</h4>
<br>
<ol>
    <li>Swap batteries with a working camera. Observe if either of the two cameras would go offline.</li>
    <li>Swap locations with a working camera. This is to eliminate network interference as a reason why camera keeps going offline.</li>
    <br>
    If the same concern persists, please: 
    <br>
    <li>Remove Camera From Account.
        <ul>
            <li>Login to your account. </li>
            <li>Go to settings. Click my devices. Select the camera. </li>
            <li>Hit remove device button. </li>
        </ul>
    </li>
    <li>Power cycle Base Station.
        <ul>
            <li>Unplug the base station from power source. Wait for 1 minute. </li>
            <li>Plug back in base station to power after 1 minute. </li>
            <li>Wait for the 3 green LED's on the base station. </li>
        </ul>
    </li>
    <li>Sync the camera.
        <ul>
            <li>Press the sync button on the base station, just once then release. The 3rd LED from the left will flash green. </li>
            <li>Press sync button on the camera, just once then release. A blue LED will blink blue slowly then rapidly.</li>
        </ul>
    </li>
    <li>Change your power management settings.
        <ul>
            <li>Tap or click Settings > My Devices.</li>
            <li>Select the camera whose power management settings you want to change.</li>
            <li>Tap or click Video Settings.</li>
            <li>Select Best Battery Life</li>
        </ul>
    </li>
    <li>Check the temperature on location where the camera is placed.
        <ul>
            <li>Cold temperatures can affect any battery's capacity, due to the chemistry of batteries. This means that if you install your Arlo camera outside in cold temperatures, you might notice a shorter battery duration for the camera, or a faster than expected drop in the displayed battery capacity. </li>
        </ul>
    </li>
    <li>Check WiFi environment. 
        <ul>
            <li>If you are in a noisy WiFi environment, your Arlo camera battery might drain faster. Use a WiFi analyzer to test the WiFi noise in your environment.</li>
            <li>Download the NETGEAR WiFi Analytics app or any 3rd party WiFi analyzers. This enables you to review details such as the channel your device is currently using, which channels re currently in use by other networks in the area and suggest the best channel for your network. </li>
            <li>If you are able to find a channel that is less congested, login to your router setting and change the WiFi channel. This process may involve your current router manufacturer for assistance. </li>
        </ul>
    </li>
</ol>