<div class="hiddenDiv" id="loadTSscript">$('#vdb_sipcall').load('TS-SIP.html');</div>

<h4>Baby</h4>
<table style="border-collapse:collapse!important;" id="TS_table">
	<tr class="TS_row">
		<td>
			<h5>Video Stream: If Arlo Baby is experiencing problems with video stream:</h5>
			<ol>
				<li>Check the WiFi signal strength.
					<ul>
						<li>If the camera LED is blinking purple, the camera is too far away from the router</li>
						<li>Wireless range also varies depending on environmental factors, physical obstructions, construction materials, and wireless interference</li>
					</ul>
				</li>
				<li>Keep the Arlo Baby camera at least 6½ feet away from:
					<ul>
						<li>WiFi enabled devices</li>
						<li>Major electrical equipment</li>
						<li>Large metal or concrete objects</li>
						<li>Other sources of signal interference</li>
					</ul>
				</li>
				<li>Make sure the Arlo Baby battery is not low.
					<ul>
						<li>A low battery can cause the camera to stream intermittently</li>
					</ul>
				</li>
				<li>To minimize video lag, connect the mobile device to the same WiFi network as the one Arlo Baby is connected to.
					<ul>
						<li>This will enable local streaming and reduce latency</li>
					</ul>				
				</li>
			</ol>
		</td>
	</tr>

	<tr class="TS_row">
		<td>
			<h5>Video Stream: How to reduce video streaming lag or delays:</h5>
			<ul>
				<li>When viewing Arlo Baby video on a mobile device that is on the same WiFi network as Arlo Baby, the video stream is sent to the viewing device right away, so the user can view video from your camera with only a small delay. 
					<ul>
						<li>This is called local streaming.</li>
					</ul>
				</li>
				<li>When viewing Arlo Baby video that is not on the same WiFi network as Arlo Baby, the video stream is sent to the Arlo cloud first and then to the viewing device, which can cause delays because of latency
					<ul>
						<li>If the mobile device is on an LTE network instead of a WiFi network, delays will be experienced when streaming Arlo Baby video on the device.</li>
					</ul>
				</li>
				<li>To reduce delays when streaming video at home, make sure to view Arlo Baby video on a mobile device that is connected to the same WiFi network as the Arlo Baby camera.
					<ul>
						<li>Note: Some routers have a secure network and guest network. Make sure the mobile device and the Arlo Baby camera are connected to the secure network. For security reasons, local streaming will not work while connected to a guest network.</li>
					</ul>
				</li>
				<li>Local streaming can still be used while the mobile device is connected to a different WiFi band than Arlo Baby
					<ul>
						<li>For example, if Arlo Baby is connected to a 2.4GHz network and the mobile device is connected to a 5 GHz network local streaming will work as long as they are connected to the same WiFi router or access point.</li>
					</ul>				
				</li>
			</ol>
		</td>
	</tr>
	
	<tr class="TS_row">
		<td>
			<h5>Air Sensors</h5>
			<ul>
				<li>If Arlo Baby was recently moved to a new location and the user is suddenly receiving more alerts than usual, a recalibration of the air sensors is needed so that they adjust to the new location:
 					<ol>
						<li>Unplug Arlo Baby’s power adapter.</li>
						<li>If Arlo Baby’s LED is still on, turn off battery power using the switch on the bottom of the camera.</li>
						<li>Place Arlo Baby in a location with clean air.</li>
						<li>Plug Arlo Baby back in or turn battery power back on.</li>
						<li>Leave Arlo Baby powered on in the area with clean air for two to four hours.</li>
						<li>Move your Arlo Baby back to the location where it will normally be used.</li>
						<li>Plug Arlo Baby back in or turn battery power back on.</li>
						Arlo Baby’s sensors recalibrate over the next 24 hours.
					</ol>
				</li>
			</ul>
		</td>
	</tr>
	
	<tr class="TS_row">
		<td>
			<h5>Night Vision</h5>
			<ul>
				<li>How to troubleshoot Arlo Baby camera night vision issues for customers:
 					<ol>
						<li>Make sure the night vision setting is on</li>
						<li>Check to see if the LEDs on the front of the camera are on.
							<ol>
								<li>A red glow indicates the infrared LEDs are on and active.</li>
							</ol>
						</li>
						<li>Note the network setup.</li>
						<li>Make sure the customer is using the most current firmware version</li>
						<li>Change the location of the camera.</li>
						<li>Remove any light sources that may be shining into the front of the camera.</li>
						<li>If the problem persists, escalate the case to L2/L3.</li>
					</ol>
				</li>
			</ul>
		</td>
	</tr>
	
	<tr class="TS_row">
		<td>
			<h5>Power Cycle</h5>
			<ul>
				<li>Power cycling Arlo Baby can help fix minor technical problems such as connection issues or a frozen video screen:
 					<ol>
						<li>Unplug the USB cable from the Arlo Baby camera.</li>
						<li>Rotate the foot plate and remove the Arlo Baby character’s feet (if applicable).</li>
						<li>Slide the battery switch on the bottom of Arlo Baby to Off.
							<ol>
								<li>The battery is turned off when no green is visible near the battery switch.</li>
							</ol>
						</li>
						<li>Wait ten seconds, and then slide the battery switch to On.
							<ol>
								<li>The Arlo Baby camera restarts.</li>
							</ol>
						</li>
						<li>Replace the foot plate and rotate until it clicks into place.</li>
						<li>Plug the USB cable back in.</li>
					</ol>
				</li>
			</ul>
		</td>
	</tr>
	
	<tr class="TS_row">
		<td>
			<h5>Factory Reset</h5>
			<ul>
				<li>Resetting the camera to the factory settings erases the current settings and disconnects the camera’s WiFi connection
				<br>
				<br><b>To factory reset the Arlo Baby camera:</b>
 					<ol>
						<li>Use a paperclip to press and hold the Reset button for ten seconds.</li>
						<li>Release the Reset button.
							<ul>
								<li>Arlo Baby returns to its factory settings and restarts.</li>
								<br>
								Note:
								<br>
								<li>Customers who return Arlo Baby cameras should always factory reset the device before sending it back to the point of purchase.</li>
								<li>Customers who buy refurbished units should also factory reset the device to ensure previous connections and settings are cleared from the device.</li>
							</ul>
						</li>

					</ol>
				</li>
			</ul>
		</td>
	</tr>
	
	<tr class="TS_row">
		<td>
			<h5>Connectivity</h5>
			<ul>
				<li>When assisting customers with Arlo Baby connectivity issues, ask for the following information:
					<ul>
						<li>Are you using the Home App to view your Baby camera?</li>
						<li>Do you switch between the Arlo App and Home App when viewing your Baby camera?</li>
						<li>Do you have one user use the Home App and another user use the Arlo App to concurrently view your Baby camera on separate mobile devices?</li>
						<li>Is viewing shared to one or more friend users concurrently viewing the Baby camera on separate mobile devices?</li>
						<li>Are you streaming your Baby camera locally?
							<ul>
								<li>Have you checked that the SSID on your mobile device is the same as the SSID associated to your Baby camera in the Settings?</li>
							</ul>
						</li>
						<li>What is the distance between your Baby camera and the router it is connected to? 
							<ul>
								<li>How many closed doors or walls exist between the camera and router?</li>
							</ul>
						</li>
						<li>What is the make and model of the router?</li>
						<li>What is the make and OS version of the mobile device?</li>
					</ul>
				</li>
			</ul>
		</td>
	</tr>
</table>
<br><br>